.element-about-us {
  &__warp {
    display: grid;

    .thumbnail-box {
      img {
        width: 100%;
      }
    }

    &.style-1 {
      border-radius: 1rem;
      background-color: var(--theme-tertiary-color);

      @media (min-width: 1200px) {
        padding: 2.6rem 2.8rem;
        grid-column-gap: 5rem;
        grid-template-columns: 47.7rem 1fr;
      }

      @media (max-width: 1199px) {
        padding: 2.4rem 1.2rem;
      }

      @media (min-width: 768px) and (max-width: 1199px) {
        grid-gap: 2.4rem;
        grid-template-columns: 40rem 1fr;
      }

      .item {
        @media (max-width: 767px) {
          ~ .item {
            margin-top: 2rem;
          }
        }

        .heading {
          position: relative;
          margin-bottom: 2rem;
          padding-bottom: 2rem;
          line-height: 1.4;
          color: var(--theme-secondary-color);

          &:after {
            position: absolute;
            content: "";
            left: 0;
            bottom: 0;
            width: 18rem;
            height: .2rem;
            background-color: var(--color-white);
          }

          @media (min-width: 992px) {
            font-size: 2.5rem;
          }

          @media (max-width: 991px) {
            font-size: 2.3rem;
          }
        }

        .desc {
          color: var(--color-white);

          @media (min-width: 768px) and (max-width: 1199px) {
            font-size: 1.5rem;
          }
        }

        .action-box {
          margin-top: 2rem;
        }

        &.item-left {
          img {
            width: 100%;
          }
        }
      }
    }

    &.style-2 {
      grid-gap: 2.4rem 3.7rem;

      @media (min-width: 1200px) {
        grid-template-columns: 1fr 55.5rem;
      }

      .item-left {
        order: 2;
      }

      .item-right {
        order: 1;
      }

      .heading {
        margin-bottom: 1.7rem;

        @media (min-width: 1200px) {
          font-size: 2.9rem;
        }

        @media (max-width: 1199px) {
          font-size: 2rem;
        }
      }

      .heading-image-line {
        margin-bottom: 1.8rem;
      }

      .thumbnail-box {
        padding-top: 1.6rem;
        padding-right: 1.6rem;
        position: relative;

        &:before {
          position: absolute;
          content: "";
          top: 0;
          right: 0;
          bottom: 2.5rem;
          left: 2.7rem;
          border: .2rem dotted var(--theme-tertiary-color);
          border-top-left-radius: 3rem;
          border-bottom-right-radius: 3rem;
        }

        img {
          position: relative;
          overflow: hidden;
          border-top-left-radius: 3rem;
          border-bottom-right-radius: 3rem;
        }
      }
    }

    &.style-3 {
      grid-gap: 2.4rem 4rem;

      @media (min-width: 1200px) {
        grid-template-columns: 52.1rem 1fr;
      }

      @media (min-width: 768px) and ( max-width: 1199px ) {
        grid-template-columns: 40rem 1fr;
      }

      .heading {
        margin-bottom: .6rem;
      }

      .heading-image-line {
        margin-bottom: 1rem;
      }

      .thumbnail-box {
        padding-bottom: 1rem;
        padding-right: 1.4rem;
        position: relative;

        &:before {
          position: absolute;
          content: "";
          top: 2.3rem;
          right: 0;
          bottom: 0;
          left: 2.7rem;
          border: .2rem dotted var(--theme-tertiary-color);
          border-top-right-radius: 3rem;
          border-bottom-left-radius: 3rem;
          background-color: #FEF6F1;
        }

        img {
          position: relative;
          overflow: hidden;
          border-top-right-radius: 3rem;
          border-bottom-left-radius: 3rem;
        }
      }

      .desc {
        ul {
          margin: 0;
          padding: 0;
          list-style: none;

          li {
            position: relative;
            padding-left: 3rem;
            font-size: 1.8rem;

            ~ li {
              margin-top: 1rem;
            }

            &:before {
              position: absolute;
              content: "";
              top: .3rem;
              left: 0;
              @include square(2.4rem);
              background-image: url("../images/star.png");
              background-position: center;
              background-repeat: no-repeat;
              background-size: contain;
            }
          }
        }
      }
    }
  }
}