.element-post-grid {
  &__warp {
    display: grid;
    grid-gap: 2.4rem;

    @media (min-width: 992px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 576px) and (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr);
    }

    .item {
      border: .1rem solid #DDDDDD;

      &__thumbnail {
        img {
          object-fit: cover;
        }
      }

      &__box {
        padding: 1.6rem;

        .title {
          margin-bottom: .9rem;
          font-size: 1.6rem;
          line-height: 2.2rem;

          a {
            color: var(--heading-color);
          }
        }

        .content {
          color: #5D5D5D;
          font-size: 1.6rem;
          line-height: 2.2rem;
          text-align: justify;
        }
      }
    }
  }
}