.element-support {
  @media (min-width: 1200px) {
    grid-template-columns: 46.7rem auto 1fr;
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    grid-template-columns: 40rem auto 1fr;
  }

  @media (min-width: 992px) {
    display: grid;
    grid-gap: 2rem;
  }

  @media (max-width: 991px) {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;

    @media (min-width: 576px) {
      flex-wrap: wrap;
    }

    @media (max-width: 575px) {
      flex-direction: column;
    }
  }

  .item {
    position: relative;
    min-height: 8.1rem;
    font-weight: 500;
    line-height: 1.1;
    text-transform: uppercase;
    border-radius: 5rem;
    border-width: .5rem;
    border-style: solid;
    display: grid;
    align-items: center;

    @media (min-width: 1200px) {
      font-size: 2rem;
    }

    @media (min-width: 992px) and (max-width: 1199px) {
      font-size: 1.8rem;
    }

    @media (min-width: 576px) and (max-width: 991px) {
      width: calc(50% - 1rem);
    }

    @media (max-width: 575px) {
      flex: 1;
    }

    .link {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    &.chat {
      border-color: #ffffff;
      background-color: #DA0E10;

      @media (min-width: 1200px) {
        padding: 1.2rem 5rem 1rem 12rem;
      }

      @media (max-width: 1199px) {
        padding: 1.2rem 3rem 1rem 10rem;
      }

      .icon {
        position: absolute;
        top: -5rem;
        left: -.5rem;

        @media (max-width: 1199px) {
          top: - 4rem;
          width: 12rem;
        }
      }

      .content {
        color: #ffffff;
      }
    }

    &.zalo,
    &.hotline {
      border-color: #45E1D1;
      background-color: #ffffff;
    }

    &.zalo {
      padding: 1.2rem 2.4rem;
      grid-gap: 1rem;
      grid-template-columns: 1fr max-content;
    }

    &.hotline {
      padding: 1.2rem 1rem;
      grid-template-columns: repeat(2, auto);

      .value {
        color: #E6171F;
        
        @media (min-width: 1220px) {
          font-size: 2.6rem;
        }
      }
    }
  }
}