.element-special-title {
  padding-top: 1.2rem;

  .heading {
    position: relative;
    margin-bottom: 0;
    display: inline-block;
    font-size: 3.5rem;
    color: var(--clinic-theme-fifth-color);

    @media (min-width: 992px) {
      padding: 2rem 8rem 1.5rem 5rem;
    }

    @media (max-width: 991px) {
      padding: 1.8rem 6rem 1.5rem 3rem;
    }

    &:before {
      position: absolute;
      content: "";
      top: -1.2rem;
      left: .9rem;
      right: -0.9rem;
      bottom: 1.2rem;
      background-color: #C6FCFF;
      clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
    }

    &:after {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: var(--clinic-theme-primary-color);
      clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
    }

    span {
      display: block;
      position: relative;
      z-index: 1;
    }
  }
}