.element-gallery-grid-box {
  &__warp {
    display: grid;

    .item {
      display: flex;
      flex-direction: column;

      &__thumbnail {
        margin-bottom: 2rem;
        overflow: hidden;

        img {
          object-fit: cover;
        }
      }

      &__title {
        margin-bottom: .6rem;
        color: #7D4510;
        font-size: 2rem;

        @media (min-width: 1200px) {
          flex: 1;
        }

        @media (max-width: 1199px) {
          font-size: 1.6rem;
        }
      }

      &__content {
        font-size: 1.8rem;
        flex: 2;
        line-height: 1.2;

        a {
          color: var(--color-sunset-orange);
        }
      }
    }
  }
}