.element-step-image-box {
  &__grid {
    display: grid;

    @media (min-width: 768px) {
      grid-gap: 2.4rem;
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 450px) and (max-width: 767px) {
      grid-gap: 1.2rem;
      grid-template-columns: repeat(2, 1fr);
    }

    .item {
      display: flex;
      flex-direction: column;

      &__step {
        margin-bottom: 1.6rem;

        .txt {
          display: inline-block;
          position: relative;
          min-width: 10rem;
          background-color: var(--theme-tertiary-color);
          transform: skew(-20deg);

          span {
            position: relative;
            display: inline-block;
            color: var(--color-white);
            font-size: 1.6rem;
            font-weight: 500;
            font-style: italic;
            transform: skew(20deg);

            &:after {
              position: absolute;
              content: "";
              bottom: -0.5rem;
              left: 50%;
              border-left: 1rem solid transparent;
              border-right: 1rem solid transparent;
              border-top: .5rem solid var(--theme-tertiary-color);
              transform: translateX(-50%);
            }
          }
        }
      }

      &__box {
        border: 1px solid #B6B6B6;
        background-color: #ffffff;
        flex: 1;

        .thumbnail {
          height: 20rem;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .content {
          padding: 1.8rem 1.2rem;

          .title {
            margin-bottom: 1rem;
            font-size: 2rem;

            @media (max-width: 767px) {
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }
}