.element-step-image-box {
  &__grid {
    display: grid;
    grid-gap: 2.4rem;

    @media (min-width: 992px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 576px) and (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr);
    }

    .item {
      border-radius: .5rem;
      background:var(--color-white);
      overflow: hidden;

      &__step {
        position: relative;
        margin-bottom: 6rem;
        padding: 1rem;
        min-height: 12rem;
        background-color: var(--color-salem);

        .txt {
          font-size: 2.9rem;
          color: var(--color-white);
        }

        .thumbnail {
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
          height: 12.9rem;
          transform: translateY(-50%);

          img {
            @include square(12.9rem, 50%);
            object-fit: cover;
          }
        }
      }

      &__content {
        padding: 1.5rem 1rem 2rem;

        .title {
          position: relative;
          margin-bottom: 2rem;
          font-size: 2rem;
          color: var(--color-salem);
        }

        .desc {
          font-size: 1.4rem;
          
          p {
            &:not(:last-child) {
              margin-bottom: 3rem;
            }
          }

          ul {
            list-style: none;
            padding: 0;
            display: inline-block;

            li {
              position: relative;
              padding-left: 3rem;
              text-align: left;
              font-weight: 700;
              font-size: 2.2rem;

              ~ li {
                margin-top: 1rem;
              }

              &:before {
                position: absolute;
                content: "\e90c";
                top: .5rem;
                left: 0;
                font-family: 'icomoon', serif;
                font-weight: normal;
                width: 2.4rem;
                height: 2.4rem;
                line-height: 100%;
                text-align: center;
                color: var(--color-white);
                font-size: 2rem;
                background-color: #6FBA73;
                border-radius: .3rem;
              }
            }
          }
        }
      }
    }
  }
}