.element-heading-between-line {
  &__grid {
    display: flex;
    align-items: center;
    justify-content: center;

    .line {
      height: .15rem;
      background-color: var(--heading-color);

      @media (min-width: 576px) {
        width: 6rem;
      }

      @media (max-width: 575px) {
       display: none;
      }
    }

    .heading {
      margin: 0 1rem;
      text-align: center;
      line-height: 1.1;
    }
  }
}