.element-doctor-slider {
  position: relative;

  .item {
    padding: 0 .1rem;
    border-bottom-left-radius: 1.1rem;
    border-bottom-right-radius: 1.1rem;
    overflow: hidden;
    height: 100%;

    &__grid {
      height: inherit;
      display: flex;
      flex-direction: column;

      .thumbnail {
        padding: 3rem 0;
        border-top-left-radius: 1.1rem;
        border-top-right-radius: 1.1rem;
        border: 1px solid #B8B8B8;
        overflow: hidden;
        text-align: center;
      }

      .info {
        padding: 2rem;
        background-color: var(--color-salem);
        display: flex;
        flex-direction: column;
        flex: 1;

        &__top {
          flex: 1;
        }

        .position {
          margin-bottom: .6rem;
          color: var(--color-white);
          font-weight: 700;
        }

        .name {
          color: var(--color-cadmium-yellow);

          @media (min-width: 992px) {
            font-size: 2.2rem;
          }

          @media (max-width: 991px) {
            font-size: 1.8rem;
          }
        }

        .specialist {
          color: var(--color-white);
          font-size: 1.6rem;
        }
      }

      .action-box {
        margin-top: 2rem;

        a {
          display: inline-block;
          padding: 1.2rem 2.4rem;
          color: #000;
          font-size: 1.5rem;
          font-weight: 700;
          border-radius: 3.4rem;
          border: 1px solid var(--color-cadmium-yellow);
          background-color: var(--color-cadmium-yellow);
        }
      }
    }
  }

  .btn {
    padding: 0;
    position: absolute;
    top: 50%;
    font-size: 2.4rem;
    color: var(--color-red);
    border: 0;
    background-color: transparent;

    &.doctor-slider-button-prev {
      @media (min-width: 992px) {
        left: -2.4rem;
      }

      @media (max-width: 991px) {
        left: 1.2rem;
      }
    }

    &.doctor-slider-button-next {
      @media (min-width: 992px) {
        right: -2.4rem;
      }

      @media (max-width: 991px) {
        right: 1.2rem;
      }
    }
  }

  .lSSlideOuter {
    .lSAction {
      a {
        background-image: none;

        &:before {
          position: absolute;
          font-weight: 900;
          font-family: $font-icon;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        &.lSPrev {
          left: -1.6rem;

          &:before {
            content: "\f053";
          }
        }
      }
    }
  }
}