.element-contact-form-7 {
  border-radius: .5rem;

  &__heading {
    font-weight: 900;
  }

  form {
    &.wpcf7-form {
      p {
        + p {
          margin-top: 1.2rem;
        }
      }
      span {
        &.wpcf7-form-control-wrap {
          input,
          textarea {
            padding: .8rem 1.6rem;
            border: 1px solid #CCC;
            background: #EAF1F1;
          }
        }
      }
    }
  }

  &.style-1 {
    display: grid;
    grid-gap: 2.4rem 3.7rem;

    @media (min-width: 1200px) {
      grid-template-columns: 52.4rem 1fr;
    }

    .heading {
      margin-bottom: 1rem;
      color: #0D0D0D;
      font-size: 2.5rem;
    }

    .item-form {
      padding: 2.9rem 3.2rem 2.2rem;
      border: 1px solid #000;
      border-radius: 1rem;
      background-color: #ECBB5E;
    }

    form {
      &.wpcf7-form {
        p {
          + p {
            margin-top: 1.5rem;
          }
        }

        span {
          &.wpcf7-form-control-wrap {
            input,
            textarea {
              min-height: 6.6rem;
              font-size: 2rem;
              color: #5D5959;
              background-color: var(--color-white);

              &::placeholder {
                color: #5D5959;
                opacity: 1;
              }

              &::-ms-input-placeholder {
                color: #5D5959;
              }
            }

            textarea {
              height: 13.9rem;
            }
          }
        }

        .wpcf7-submit {
          padding: .6rem 8.1rem;
          text-transform: uppercase;
          font-family: $heading-font-family;
          font-weight: 700;
          min-height: 5.6rem;
          font-size: 2rem;
          border-radius: 5rem;
          background: #8F0707;
        }

        .wpcf7-not-valid-tip {
          color: #ffffff;
        }

        .wpcf7-response-output {
          margin-bottom: 0;
          grid-column: 1 / span 3;
          color: #ffffff;
        }
      }
    }
  }

  &.style-2 {
    padding: 2.6rem 3rem;
    border: 1px solid var(--theme-tertiary-color);

    .heading {
      font-size: 2rem;
      color: var(--theme-tertiary-color);
    }

    form {
      &.wpcf7-form {
        span {
          &.wpcf7-form-control-wrap {
            input {
              min-height: 3.8rem;
            }

            input,
            textarea {
              font-size: 1.4rem;
            }

            textarea {
              min-height: 8rem;
            }
          }
        }

        .wpcf7-submit {
          min-height: 4rem;
          min-width: 17.3rem;
          font-size: 1.4rem;
          font-weight: 900;
          border-radius: .5rem;
          background: linear-gradient(180deg,#ff0008 0,#941115 100%);
        }
      }
    }
  }

  &.style-3 {
    .wpcf7-form {
      max-width: 61.7rem;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 10.3rem;

      p {
        margin: 0;

        + p {
          .wpcf7-form-control {
            border-left-width: 0;
          }
        }
      }

      .wpcf7-form-control {
        display: block;
        width: 100%;
        min-height: 5.8rem;
        border: .2rem solid var(--heading-color);

        &:not(.wpcf7-submit) {
          border-radius: 5rem 0 0 5rem;
        }
      }

      .wpcf7-submit {
        border-radius: 0 5rem 5rem 0;
        background: var(--heading-color);
      }
    }
  }

  &.style-4 {
    box-shadow: 0 .4rem .4rem 0 rgba(0,0,0,0.25);
    background-color: #ffffff;

    .heading {
      margin: 0;
      padding: 1.6rem;
      font-size: 2.5rem;
      color: var(--color-sunset-orange);
      text-transform: uppercase;
      border-bottom: .4rem solid #DC9631;
    }

    .sub-heading {
      margin: 0;
      padding: 1.6rem;
      font-size: 2rem;
      text-align: center;
      color: #7D4510;
      text-transform: uppercase;
      font-weight: 500;
      line-height: 1.2;
    }

    .wpcf7-form {
      padding: 0 3rem;

      .wpcf7-form-control-wrap {
        input, textarea {
          font-size: 2rem;
          border-color: #7D4510;
          border-radius: 1rem;
          background-color: var(--color-white);
        }

        input {
          min-height: 6.4rem;
        }

        textarea {
          height: 6.4rem;
        }
      }

      .wpcf7-submit {
        width: 100%;
        min-height: 7.7rem;
        font-size: 2.5rem;
        font-weight: 700;
        color: #000000;
        border-radius: 1rem;
        background-image: linear-gradient(90deg, #FDC731, #D99132);
      }
    }

    .note {
      margin-top: 1rem;
      padding: 1.6rem;
      text-align: center;
      font-style: italic;
      line-height: 1.4;
    }
  }
}