.element-advise {
  &__warp {
    display: grid;

    @media (min-width: 1200px) {
      grid-gap: 2.4rem;
    }

    @media (max-width: 1199px) {
      grid-gap: 1.2rem;
    }

    @media (min-width: 768px) {
      grid-template-columns: repeat(5, 1fr);
    }

    @media (min-width: 576px) and (max-width: 767px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 376px) and (max-width: 575px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .item {
    &__content {
      a {
        color: #FF0000;
      }
    }
  }

  &.style-1 {
    .item {
      text-align: center;
      background-color: var(--color-white);
      box-shadow: 0 4px 4px rgba(0,0,0,0.25);

      @media (min-width: 1200px) {
        padding: 3.6rem 3.2rem 2.6rem;
      }

      @media (max-width: 1199px) {
        padding: 1.2rem;
      }

      &__thumbnail {
        margin-bottom: 2.2rem;
      }

      &__content {
        font-size: 1.5rem;
        line-height: 1.5;

        @media (max-width: 575px) {
          font-size: 1.4rem;
        }
      }
    }
  }

  &.style-2 {
    .item {
      text-align: center;

      &__thumbnail {
        margin-bottom: 2.6rem;
      }

      &__content {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.4;
      }
    }
  }
}