.element-slider {
  .lSSlideOuter {
    .lSAction {
      a {
        opacity: 1;
        font-size: 2.4rem;
        color: var(--color-heading);
        @include flex-center();
        background-image: none;

        &:before {
          position: absolute;
          font-family: $font-icon;
          line-height: 100%;
          @include transition();
        }

        &.lSPrev {
          left: 3rem;

          &:before {
            content: "\f053";
          }
        }

        &.lSNext {
          right: 3rem;

          &:before {
            content: "\f054";
          }
        }

        &:hover {
          color: var(--color-hover);
        }
      }
    }
  }
}