.element-post-grid {
  &__warp {
    display: grid;
    grid-gap: 2.4rem;

    @media (min-width: 992px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 576px) and (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr);
    }

    .item {
      border: .1rem solid #ccc;
      border-radius: .5rem;
      overflow: hidden;

      &:first-child {
        @media (min-width: 992px) {
          grid-row: 1 / span 3;
        }

        @media (max-width: 991px) {
          grid-column: 1 / -1;
        }

        .title {
          font-size: 1.8rem;
        }

        .item__box {
          padding: 1rem 1.5rem;
        }
      }

      &__thumbnail {
        img {
          width: 100%;
        }
      }

      &__box {
        .title {
          margin-bottom: 0;
          font-size: 1.5rem;
          font-weight: 700;
          color: #000000;
          line-height: 1.6;
          font-family: var(--body-font-family);

          a {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          + .content {
            margin-top: .6rem;
          }
        }

        .content {
          color: #5F5A5A;
          font-size: 1.5rem;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .list-category {
          a {
            font-size: 1.2rem;
            color: #2e8f56;
            text-transform: uppercase;
            text-decoration: underline;

            &:hover {
              color: #000000;
            }
          }
        }

        .link-post {
          margin-top: 1rem;
          font-size: 1.4rem;
          color: #fc7d0c;
          font-style: italic;
          display: flex;
          align-items: center;

          &:hover {
            color: #000000;
          }
        }
      }

      &:nth-child(n+2) {
        padding: 1.5rem;
        display: grid;
        grid-gap: 1.2rem;
        grid-template-columns: 11.4rem 1fr;
      }
    }
  }
}