.element-company-info {
  &__warp {
    display: grid;

    @media (min-width: 992px) {
      grid-gap: 2.4rem;
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 991px) {
      grid-gap: 2.4rem;
    }

    .item-gallery {
      display: grid;

      @media (min-width: 576px) {
        grid-gap: .8rem 2rem;
        grid-template-columns: repeat(4, 1fr);
      }

      @media (max-width: 575px) {
        grid-gap: 1.2rem;
        grid-template-columns: repeat(3, 1fr);
      }

      .thumbnail {
        border-radius: .5rem;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &:nth-child(2) {
          @media (min-width: 576px) {
            grid-column: 2 / span 3;
            grid-row: 1 / span 3;
          }

          @media (max-width: 575px) {
            grid-column: 1 / span 3;
            grid-row: 2 / span 3;
          }
        }
      }
    }

    .item-info {
      display: grid;
      grid-gap: 2.6rem;

      @media (min-width: 480px) {
        grid-template-columns: repeat(2, 1fr);
      }

      .info-box {
        border-radius: .5rem;
        overflow: hidden;
        background-color: var(--color-white);
        box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);
        display: flex;
        flex-direction: column;

        .title {
          margin: 0;
          padding: 1.7rem 1.2rem 1.6rem;
          font-weight: 500;
          color: var(--color-white);
          background-color: var(--heading-color);

          @media (min-width: 1200px) {
            font-size: 2rem;
          }

          @media (max-width: 1199px) {
            font-size: 1.5rem;
          }
        }

        .desc {
          padding: 2.1rem 1.2rem 1.8rem;
        }

        .working {
          padding: 2.6rem 1.2rem;
          font-weight: 700;
          color: #EC2F10;
          background-color: #F1F1F1;

          &.working-time {
            font-size: 3rem;
          }

          &.phone {
            display: flex;
            gap: .8rem;
            align-items: center;
            justify-content: center;

            .icon {
              color: var(--theme-tertiary-color);
              font-size: 3.4rem;
              display: flex;
              align-items: center;
            }

            .list-phone {
              a {
                display: block;
                color: #EC2F10;

                &:hover {
                  color: var(--color-cadmium-green);
                }
              }
            }
          }
        }

        .note {
          padding: 4rem 1.2rem;
          display: flex;
          align-items: center;
          justify-content: center;
          flex: 1;

          i {
            color: var(--theme-tertiary-color);;
            margin-right: .7rem;
          }
        }
      }
    }
  }
}