$path-image: '../images';

.element-doctor-slider {
  &__warp {
    .item {
      background-color: var(--color-white);
      display: flex;
      flex-direction: column;
      flex: 1;

      img {
        width: auto;
      }

      &__thumbnail {
        background-image: url('#{$path-image}/bk-avatar-doi-ngu-bac-si.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: .5rem;
        overflow: hidden;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        img {
          display: inline-block;
        }
      }

      &__body {
        display: flex;
        flex-direction: column;
        flex: 1;

        @media (min-width: 1200px) {
          padding: 2.6rem 2.8rem;
        }

        @media (max-width: 1199px) {
          padding: 2.4rem 1.2rem;
        }

        .title {
          margin-bottom: 1.2rem;
          font-size: 1.8rem;
          font-family: var(--body-font-family);
        }

        .meta {
          flex: 1;
          margin-bottom: 1.6rem;
          line-height: 1.4;
          font-family: var(--heading-font-family);
        }

        .content {
          margin-bottom: 1.4rem;
          text-align: justify;
        }

        .action-box {
          @media (min-width: 576px) {
            display: grid;
            grid-gap: 1rem;
            grid-template-columns: repeat(2, 1fr);
          }

          @media (max-width: 575px) {
            display: flex;
            gap: 1rem;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
          }

          a {
            padding: .5rem 1.6rem;
            border-radius: .5rem;
            font-size: 1.5rem;
            font-weight: 500;
            text-align: center;
            color: var(--color-white);
          }

          &__booking {
            background-color: var(--clinic-theme-tertiary-color);

            &:hover {
              background-color: var(--clinic-theme-secondary-color);
            }
          }

          &__chat {
            background-color: var(--clinic-theme-quaternary-color);

            &:hover {
              background-color: var(--clinic-theme-seven-color);
            }
          }
        }
      }
    }

    &.owl-carousel {
      .owl-stage-outer {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;

        .owl-stage {
          display: flex;

          .owl-item {
            display: flex;
            flex-direction: column;
          }
        }
      }

      .owl-nav {
        margin: 0;

        button {
          position: absolute;
          margin: 0;
          top: 50%;
          font-size: 1.6rem;
          line-height: 100%;
          color: #ff5555;
          border: .1rem solid #ff5555;
          @include square(3.2rem, 50%);
          background-color: #ffffff;
          transform: translateY(-50%);

          &.owl-prev {
            @media (min-width: 992px) {
              left: -1.6rem;
            }

            @media (max-width: 991px) {
              left: 1rem;
            }
          }

          &.owl-next {
            @media (min-width: 992px) {
              right: -1.6rem;
            }

            @media (max-width: 991px) {
              right: 1rem;
            }
          }

          &:hover {
            color: #ffffff;
            background-color: #ff5555;
          }
        }
      }
    }
  }
}