.element-testimonial-slider {
  &__warp {
    .item {
      margin-bottom: .8rem;
      padding: 3.6em 2.6rem 2.6rem;
      border-radius: 1rem;
      box-shadow: 0 .4rem .4rem 0 rgba(0,0,0,0.25);
      background: #FFFFFF;

      .top {
        margin-bottom: 2.5rem;
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: 12.4rem 1fr;
      }

      .info {
        font-size: 2rem;
        font-weight: 500;
        font-style: italic;

        p {
          margin-bottom: 0;
          line-height: 1.5;
        }
      }
    }

    &.owl-carousel {
      .owl-item {
        padding: 0 .2rem;
      }
    }
  }
}