.element-testimonial-slider {
  &__warp {
    display: flex;
    justify-content: flex-end;
  }

  .item {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: 2rem;
    border: .3rem dotted var(--clinic-theme-secondary-color);
    background-color: #EAF6FA;

    @media (min-width: 1200px) {
      padding: 3.6rem 4.6rem;
    }

    @media (min-width: 768px) and (max-width: 1199px) {
      padding: 2.4rem 3.6rem;
    }

    @media (max-width: 767px) {
      padding: 2.4rem;
    }

    &__desc {
      flex: 1;
      text-align: justify;
    }

    &__warp {
      margin-bottom: 1.5rem;
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: 7.9rem 1fr;
      align-items: center;

      .image {
        padding: .6rem;
        @include square(7.9rem, 50%);
        overflow: hidden;
        border: .1rem solid #85BEFB;
        background-color: var(--color-white);
      }

      .name {
        margin-bottom: 0;
        font-size: 1.6rem;
        color: #000000;
      }

      .info {
        font-weight: 700;
        color: var(--clinic-theme-secondary-color);
        font-family: var(--heading-font-family);
      }
    }
  }
}