.element-system-grid {
  display: grid;

  .item {
    border: .1rem solid #DEDEDE;
    border-radius: 1rem;

    &__thumbnail {
      img {
        width: 100%;
      }
    }

    &__body {
      padding: 3rem 1.2rem 1.5rem;
      position: relative;

      .image-icon {
        position: absolute;
        top: -3rem;
        left: 50%;
        @include square(6rem);
        transform: translateX(-50%);
      }

      .content {
        line-height: 1.4;
      }
    }
  }
}