.element-doctor-slider {
  &__warp {
    .item {
      padding-bottom: 3rem;
      background-color: #ffffff;

      &__info {
        padding: 1.2rem 1.2rem 0;
        text-align: center;

        .name {
          margin-bottom: .6rem;
        }
      }

      &__action {
        padding: 1.2rem 1.2rem 0;
        text-align: center;
        display: flex;
        gap: 1.6rem;
        align-items: center;
        justify-content: center;

        .btn {
          padding: .8rem 1.2rem .6rem;
          font-size: 1.4rem;
          font-weight: 500;
          color: #ffffff;
          text-transform: uppercase;
          border-radius: .7rem;
          flex: 1;
          @include transition();

          &.btn-contact {
            background-color: #2EBC81;

            &:hover {
              background-color: #389547;
            }
          }

          &.btn-doctor-detail {
            background-color: #D14343;

            &:hover {
              background-color: #ff5555;
            }
          }
        }
      }
    }
  }
}