.element-number-counter {
  &__warp {
    display: grid;
    grid-gap: 2.4rem;

    @media (min-width: 576px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 575px) {
      grid-template-columns: repeat(2, 1fr);
    }
    
    .item {
      display: grid;
      grid-gap: 2rem;
      align-items: center;

      @media (min-width: 992px) {
        grid-gap: 2.4rem;
        grid-template-columns: 12.8rem 1fr;
      }

      @media (max-width: 991px) {
        grid-gap: 1.2rem;
        text-align: center;
      }
      
      @media (max-width: 575px) {
        .image {
          max-width: 6rem;
          margin: 0 auto;

          img {
            width: 100%;
          }
        }
      }

      .content {
        &__left {
          margin-bottom: 0;

          @media (min-width: 992px) {
            font-size: 4rem;
          }

          @media (max-width: 991px) {
            font-size: 3rem;
          }
        }

        &__title {
          @media (min-width: 576px) {
            font-size: 1.6rem;
          }

          @media (max-width: 575px) {
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}