.element-heading-line-under {
  .txt {
    position: relative;
    padding-bottom: 2rem;

    @media (min-width: 992px) {
      font-size: 3.2rem;
    }

    @media (max-width: 991px) {
      font-size: 2rem;
    }

    &:after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 50%;
      width: 20%;
      height: 3px;
      transform: translateX(-50%);
      background-color: var(--color-cadmium-green);
    }
  }
}