$path-image: '../images';

.element-doctor-slider {
  &__warp {
    .item {
      border-radius: 1rem;
      border: .1rem solid #cccccc;
      background-color: #edf3f6;
      display: flex;
      flex-direction: column;
      flex: 1;

      img {
        width: auto;
      }

      &__thumbnail {
        margin: 2rem auto 0;
        overflow: hidden;
        border: 1rem solid #fff;
        background-image: url('#{$path-image}/bk-avatar-doi-ngu-bac-si.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        
        @media (min-width: 576px) {
          @include square(26.7rem, 50%);
        }

        @media (min-width: 480px) and (max-width: 575px) {
          @include square(20rem, 50%);
        }

        @media (max-width: 479px) {
          @include square(25rem, 50%);
        }

        img {
          display: inline-block;
        }
      }

      &__body {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        flex: 1;
        color: #ffffff;
        background-color: var(--clinic-theme-secondary-color);

        .title {
          margin-bottom: .2rem;
          font-size: 1.8rem;
          color: #ffffff;
          font-family: var(--body-font-family);
        }

        .meta {
          margin-bottom: 1rem;
          line-height: 1.4;
          font-family: var(--heading-font-family);
        }

        .content {
          flex: 1;
          text-align: justify;
        }

        .action-box {
          margin-bottom: 1rem;
          text-align: center;

          a {
            padding: .6rem 1.5rem .4rem;
            display: inline-block;
            border-radius: 5rem;
            font-size: 1.2rem;
            text-align: center;
            color: var(--color-white);
            border: .1rem solid #fff;
          }

          &__booking {
            background-color: var(--clinic-theme-fifth-color);

            &:hover {
              color: #000000;
              background-color: #ffffff;
            }
          }
        }
      }
    }

    &.owl-carousel {
      .owl-stage-outer {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;

        .owl-stage {
          display: flex;

          .owl-item {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}