.element-about-us {
  &__warp {
    display: grid;
    grid-gap: 1.6rem;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    .item {
      &.item-thumbnail {
        img {
          width: 100%;
        }
      }

      .heading {
        margin-bottom: 4.6rem;
        font-size: 3.5rem;
        font-family: var(--body-font-family);
      }
    }

    .item-thumbnail {
      @media (min-width: 768px) {
        order: 2;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .item-content {
      position: relative;
      border-radius: .5rem;
      background-color: #00A878;
      color: var(--color-white);

      @media (min-width: 768px) {
        padding: 4.8rem;
      }

      @media (max-width: 767px) {
        padding: 2.4rem;
      }

      &:before {
        position: absolute;
        content: "";
        top: .8rem;
        right: .8rem;
        bottom: .8rem;
        left: .8rem;
        border: .2rem dashed var(--color-white);
        border-radius: .5rem;
      }

      .desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100%;
      }
    }
  }
}