.element-group-button-contact {
  display: grid;
  grid-gap: 2.4rem;

  @media (min-width: 576px) {
    grid-gap: 2.4rem;
  }

  @media (max-width: 575px) {
    grid-gap: 1.2rem;
  }

  @media (min-width: 480px) {
    grid-template-columns: repeat(2, 1fr);
  }

  .btn-contact {
    padding: 1.4rem 2rem 1rem;
    color: var(--color-white);
    font-weight: 700;
    text-align: center;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;

    @media (min-width: 576px) {
      font-size: 2.6rem;
    }

    @media (min-width: 480px) and (max-width: 575px) {
      font-size: 2rem;
    }

    @media (max-width: 479px) {
      font-size: 2.4rem;
    }

    &.btn-call {
      background-color: #d92a00;
    }

    &.btn-chat {
      background-color: #ff7800;
    }
  }
}