.element-work-time {
  &__warp {
    display: grid;
    grid-gap: 5rem 2.4rem;

    @media (min-width: 576px) {
      grid-template-columns: repeat(2, 1fr);
    }

    .item {
      position: relative;
      padding-left: 1.2rem;
      padding-right: 1.2rem;

      @media (max-width: 767px) {
        text-align: center;
      }

      @media (min-width: 576px) {
        ~ .item {
          &:before {
            position: absolute;
            content: "";
            top: 0;
            left: -1.2rem;
            height: 10rem;
            width: .2rem;
            background-color: var(--color-white);
          }
        }
      }

      &__box {
        display: grid;
        grid-gap: 2.4rem;

        @media (min-width: 992px) {
          grid-template-columns: 10.6rem 1fr;
        }

        @media (min-width: 768px) and (max-width: 991px) {
          grid-template-columns: 7rem 1fr;
        }

        .content {
          .sub-title {
            @media (min-width: 992px) {
              margin-bottom: 2rem;
            }

            @media (max-width: 991px) {
              margin-bottom: 1rem;
            }

            @media (min-width: 576px) and (max-width: 991px) {
              font-size: 1.6rem;
            }
          }

          .title {
            color: var(--color-cadmium-yellow);

            @media (min-width: 576px) and (max-width: 991px) {
              font-size: 1.8rem;
            }
          }
        }
      }

      &__desc {
        font-size: 1.6rem;

        @media (min-width: 992px) {
          margin-top: 3rem;
        }

        @media (max-width: 991px) {
          margin-top: 1.2rem;
        }
      }
    }
  }
}