$path-image: '../images';

.element-doctor-slider {
  &__warp {
    @media (min-width: 992px) {
      padding: 0 3.4rem;
    }

    .item {
      padding: .9rem 1.4rem 1.6rem;
      border-radius: 1rem;
      box-shadow: 0 .4rem .4rem 0 rgba(0, 0, 0, 0.25);
      background-color: var(--color-white);
      display: flex;
      flex-direction: column;
      flex: 1;

      img {
        width: auto;
      }

      &__thumbnail {
        margin-bottom: 2rem;
        background-image: url('#{$path-image}/bk-avatar-doi-ngu-bac-si.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: .5rem;
        overflow: hidden;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        img {
          display: inline-block;
        }
      }

      &__body {
        display: flex;
        flex-direction: column;
        flex: 1;

        .title {
          margin-bottom: .2rem;
          font-size: 1.8rem;
          font-family: var(--body-font-family);
        }

        .meta {
          margin-bottom: 1rem;
          line-height: 1.4;
          font-family: var(--heading-font-family);
        }

        .content {
          flex: 1;
          margin-bottom: 3.4rem;
          text-align: justify;
        }

        .action-box {
          text-align: center;

          a {
            padding: 1.1rem 1.6rem;
            display: inline-block;
            max-width: 19.5rem;
            width: 100%;
            border-radius: 5rem;
            font-size: 1.4rem;
            font-weight: 700;
            text-align: center;
            color: var(--color-white);
          }

          &__booking {
            background-color: var(--clinic-theme-eighth-color);

            &:hover {
              background-color: var(--clinic-theme-secondary-color);
            }
          }

          &__chat {
            background-color: var(--clinic-theme-quaternary-color);

            &:hover {
              background-color: var(--clinic-theme-seven-color);
            }
          }
        }
      }
    }

    &.owl-carousel {
      .owl-stage-outer {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;

        .owl-stage {
          display: flex;

          .owl-item {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}