$path-image: '../images';

.element-doctor-slider {
  &__warp {
    .item {
      display: flex;
      flex-direction: column;
      flex: 1;
      overflow: hidden;
      border-radius: 1rem;
      box-shadow: 0 .4rem .4rem 0 rgba(0,0,0,0.25);
      background-color: #fff;

      img {
        width: auto;
      }

      &__thumbnail {
        margin: .9rem 1.4rem 0;
        border-radius: .5rem;
        overflow: hidden;
      }

      &__body {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        flex: 1;

        .title {
          margin-bottom: .2rem;
          font-size: 1.8rem;
          font-family: var(--body-font-family);
        }

        .meta {
          margin-bottom: 1rem;
          line-height: 1.4;
          font-family: var(--heading-font-family);
        }

        .content {
          flex: 1;
          text-align: justify;
        }

        .action-box {
          margin-top: 1.6rem;
          text-align: center;

          a {
            padding: 1.1rem 4.5rem .6rem;
            display: inline-block;
            border-radius: 5rem;
            font-size: 1.4rem;
            text-align: center;
            color: var(--color-white);
            font-weight: 700;
            background: linear-gradient(90deg, #D14040 0%, #951D21 100%);

            &:hover {
              color: var(--clinic-theme-fifth-color);
            }
          }
        }
      }
    }

    &.owl-carousel {
      .owl-stage-outer {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;

        .owl-stage {
          display: flex;

          .owl-item {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}