.element-box-content-line {
  &__grid {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:before {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      top: 50%;
      border-top: 2px dotted #14755D;
      transform: translateY(-50%);
    }

    .item {
      position: relative;

      @media (min-width: 992px) {
        flex: 0 0 12rem;
      }

      @media (max-width: 991px) {
        flex: 0 0 8rem;
      }

      &__title {
        position: absolute;
        top: 100%;
        left: 50%;
        font-weight: 500;
        //line-height: 2.2rem;
        transform: translate(-50%, 16px);

        @media (min-width: 1200px) {
          width: 15rem;
        }

        @media (max-width: 1199px) {
          width: 11rem;
        }

        @media (min-width: 992px) {
          font-size: 1.7rem;
        }

        @media (max-width: 991px) {
          font-size: 1.4rem;
        }
      }
    }
  }
}