.element-slider-carousel {
  &__warp {
    @media (min-width: 576px) {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    .item {
      display: flex;
      flex-direction: column;
      flex: 1;

      &__body {
        padding: 2.4rem 1.7rem;
        box-shadow: 0 .4rem .4rem 0 rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        flex: 1;

        .title-box {
          font-size: 1.6rem;
        }
      }
    }

    &.owl-carousel {
      .owl-stage-outer {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;

        .owl-stage {
          display: flex;

          .owl-item {
            display: flex;
            flex-direction: column;
          }
        }
      }

      .owl-nav {
        button {
          &.owl-prev {
            @media (min-width: 576px) {
              left: -.8rem;
            }
          }

          &.owl-next {
            @media (min-width: 576px) {
              right: -.8rem;
            }
          }
        }
      }
    }
  }
}