.element-circle-box-image {
  padding-top: 1.1rem;

  &__grid {
    display: grid;
    grid-gap: 2.4rem;

    @media (min-width: 992px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media (min-width: 768px) and (max-width: 992px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 480px) and (max-width: 767px) {
      grid-template-columns: repeat(2, 1fr);
    }

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__thumbnail {
        position: relative;
        margin-bottom: 2rem;
        overflow: hidden;

        &:before {
          position: absolute;
          content: "";
          top: 0;
          left: -75%;
          z-index: 2;
          display: block;
          width: 50%;
          height: 100%;
          background: linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,.6) 100%);
          transform: skewX(-25deg);
        }

        @media (min-width: 1200px) {
          @include square(25rem, 50%);
        }

        @media (min-width: 768px) and (max-width: 1199px) {
          @include square(20rem, 50%);
        }

        @media (max-width: 767px) {
          @include square(15rem, 50%);
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }

      &__title {
        margin: 0 0 2rem;
        text-align: center;
        color: var(--color-cadmium-green);

        @media (min-width: 1200px) {
          font-size: 2.3rem;
        }

        @media (min-width: 768px) and (max-width: 1199px) {
          font-size: 1.8rem;
        }

        @media (max-width: 767px) {
          font-size: 1.6rem;
        }
      }

      &__content {
        font-size: 1.6rem;
      }

      &:hover {
        .item__thumbnail {
          &:before {
            -webkit-animation: shine .75s;
            animation: shine .75s;
          }
        }
      }
    }
  }
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}