.element-slider-carousel {
  .item {
    &.hover-image {
      &:hover {
        .item__thumbnail {
          transform: rotateX(360deg);
          @include transition();
        }
      }
    }

    &__body {
      margin-top: 2.4rem;

      .title-box {
        font-size: 1.6rem;
      }
    }
  }
}