.element-list-image-content {
  display: grid;

  .item {
    display: grid;

    &__content {
      order: 1;
      display: flex;
      flex-direction: column;

      .title {
        font-size: 1.7rem;
        font-family: var(--body-font-family);
        font-weight: 500;
      }
    }
  }
}