.element-image-content-list {
  &__warp {
    display: grid;

    @media (min-width: 992px) {
      grid-gap: 3rem 6rem;
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 768px) and (max-width: 991px) {
      grid-template-columns: 30rem 1fr;
    }

    @media (max-width: 991px) {
      grid-gap: 3rem;
    }

    .heading {
      @media (min-width: 992px) {
        font-size: 2.9rem;
      }
      @media (max-width: 991px) {
        font-size: 2.4rem;
      }
    }

    .list-content {
      .list-title {
        span {
          display: inline-block;
        }
      }
    }

    .list-group {
      .repeater-item {
        ~ .repeater-item {
          margin-top: 1.2rem;
        }
      }

      .list-title {
        margin-bottom: .8rem;
        font-size: 1.6rem;

        .number {
          &:after {
            content: ".";
          }
        }
      }

      .list-content {
        font-size: 1.6rem;
        line-height: 2rem;
      }
    }

    .action-box {
      margin-top: 1.2rem;

      .booking {
        position: relative;
        display: inline-block;
        padding: 1rem 2rem;
        min-width: 21.5rem;
        font-size: 1.6rem;
        color: var(--color-white);
        font-family: var(--heading-font-family);
        font-weight: 700;
        text-transform: uppercase;
        overflow: hidden;
        border-radius: 5rem;
        background: #00A878;
        box-shadow: 0 .4rem .4rem 0 rgba(0, 0, 0, 0.25);
        @include transition( none);

        &:before {
          position: absolute;
          content: "\e903";
          font-family: $font-icon;
          display: flex;
          align-items: center;
          justify-content: center;
          top: 100%;
          left: 0;
          width: 100%;
          height: 100%;
          text-align: center;
          font-size: 30px;
          text-indent: 0;
          transition: all 0.2s linear 0s;
        }

        &:hover {
          text-indent: -9999px;

          &:before {
            top: 0;
          }
        }
      }
    }
  }
}