.element-category-list {
  &__grid {
    display: grid;
    grid-auto-rows: min-content;

    .item {
      position: relative;

      &__link {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      .title {
        margin: 0;
      }
    }
  }
}