.element-commitment {
  &__warp {
    .item {
      display: grid;
      grid-gap: 2.4rem 4.3rem;
      grid-template-columns: 5rem 1fr;

      ~ .item {
        margin-top: 2.4rem;
      }

      &__content {
        .title {
          margin-bottom: .9rem;
          font-size: 1.8rem;
          line-height: 1.1;
          font-weight: 900;
          font-family: var(--body-font-family);
        }

        .desc {
          text-align: justify;
          font-size: 1.7rem;
          line-height: 1.2;
        }
      }
    }
  }
}