.element-contact-us {
  &__list {
    display: grid;

    .item {
      padding: 2rem;
      position: relative;
      min-height: 25.2rem;
      text-align: center;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      &__image {
        overflow: hidden;
        display: flex;
        flex-direction: column;
      }

      &__body {
        position: relative;
      }
    }
  }
}