.element-category-list {
  &__grid {
    display: grid;
    grid-gap: 1.6rem 1rem;

    @media (min-width: 992px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media (min-width: 768px) and (max-width: 991px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 576px) and (max-width: 767px) {
      grid-template-columns: repeat(2, 1fr);
    }

    .item {
      position: relative;
      padding: 1.6rem 2.4rem;
      border: .2rem solid #8F0707;
      border-radius: .5rem;
      background-color: #FEF6F1;
      display: grid;
      grid-gap: 1.2rem;
      grid-template-columns: 6rem 1fr;
      align-items: center;
      @include transition();

      &__link {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
      }

      &__image {}

      &__title {
        color: var(--theme-tertiary-color);
        font-size: 2rem;
        @include transition();
      }
    }
  }
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}

@keyframes shine {
  100% {
    left: 125%;
  }
}