.element-category-list {
  &__grid {
    display: grid;
    grid-auto-rows: min-content;

    .item {
      padding: 2.4rem;
      position: relative;
      display: grid;
      grid-gap: 1.5rem;
      grid-template-columns: 5.6rem 1fr;
      align-items: center;
      background-color: #E6FCF4;

      &__link {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      &__image {}

      .title {
        margin: 0;
        font-size: 2rem;
        color: #000000;
        font-weight: 500;
        @include transition();
      }

      &:hover {
        .title {
          color: #00A878;
        }
      }
    }
  }
}