@import "../variables-site/variables";

@import "element-custom";
@import "element-album-gallery";
@import "element-category-list";
@import "element-doctor-slider";
@import "element-gallery-grid-box";
@import "element-heading-between-line";
@import "element-support";
@import "element-slider-carousel";
@import "element-list-title";
@import "element-list-image-content";
@import "element-testimonial-slider";
@import "element-post-grid";

//@import "element-about-us";
//@import "element-special-title";

//@import "element-group-button-contact";




//@import "element-box-content-line";
//@import "element-cf7";
//@import "element-contact-us";
