@import "../variables-site/variables";

@import "element-custom";
@import "element-about-us";
@import "element-slider";
@import "element-category-list";
@import "element-doctor-slider";
@import "element-slider-carousel";
@import "element-operating-criteria";
@import "element-testimonial-slider";
@import "element-post-carousel";
@import "element-image-content-list";
@import "element-gallery-grid-box";
@import "element-list-image-content";
@import "element-cf7";
@import "element-contact-us";

//@import "element-special-title";
//@import "element-group-button-contact";
//@import "element-post-grid";
//@import "element-box-content-line";

