@import "../variables-site/variables";

@import "element-about-us";
@import "element-category-list";
@import "element-company-info";
@import "element-doctor-slider";
@import "element-image-box-content-list";
@import "_element-space-slider";
@import "element-step-image-box";
@import "element-cf7";
@import "element-instruct";
@import "element-testimonial-slider";
@import "element-post-grid";
@import "element-grid-text-editor";
@import "element-principles";
@import "element-gallery-grid-box";
@import "element-compare-appointments";
@import "element-contact-us";




