@import "../utils/utils";
@import "element-custom";

// components elementor
@import "element-album-gallery";
@import "element-category-list";
@import "element-cf7";
@import "_element-cf7-vertical.scss";
@import "element-step-image-box";


//@import "element-about-us";

//@import "element-contact-us";

//@import "element-doctor-slider";
//@import "element-gallery-grid-box";
//@import "element-heading-between-line";
//@import "element-list-title";
//@import "element-list-image-content";
//@import "element-post-grid";
//@import "element-support";
//@import "element-slider-carousel";
//@import "element-system-grid";
//@import "element-testimonial-slider";