@import "../variables-site/variables";

@import "element-custom";
@import "element-album-gallery";

//@import "element-about-us";
//@import "element-special-title";
//@import "element-gallery-grid-box";
//@import "element-group-button-contact";
//@import "element-doctor-slider";
//@import "element-testimonial-slider";
//@import "element-post-grid";
//@import "element-list-image-content";
//@import "element-box-content-line";
//@import "element-cf7";
//@import "element-contact-us";
