@import "../utils/utils";
@import "element-custom";

// components elementor
@import "element-album-gallery";
@import "element-category-list";
@import "element-cf7";
@import "element-doctor-slider";
@import "element-gallery-grid-box";
@import "element-image-between-line";
@import "element-list-image-content";
@import "element-procedure";
@import "element-testimonial-slider";

//@import "element-box-content-line";


//@import "element-cf7-vertical.scss";
//@import "element-contact-us";



//@import "element-post-grid";
//@import "element-step-image-box";

//@import "element-working-time";