.global-footer {
  padding: 4rem 0 0;
  background-color: #ECECEC;

  section {
    &.widget {
      margin-bottom: 2.3rem;
      color: #000000;
      font-size: 1.8rem;

      h1, h2, h3, h4, h5 {
        color: inherit;
      }

      .widget-title {
        margin-bottom: 1.7rem;
        padding-bottom: .9rem;
        font-size: 1.8rem;
        text-transform: uppercase;
        color: #000000;
        line-height: 1.2;
        border-bottom: .2rem solid var(--clinic-theme-primary-color);
      }

      ul {
        list-style: disc;
        margin-left: 1.7rem;
      }

      .textwidget {
        iframe {
          min-height: 38rem;
        }

        .wpcf7 {
          ~ p {
            margin-top: 1.2rem;
          }
        }

        .wpcf7-form {
          position: relative;

          .wpcf7-form-control-wrap {
            .wpcf7-form-control {
              padding: .6rem 15rem .6rem 2.1rem;
              min-height: 6rem;
              color: var(--clinic-theme-secondary-color);
              font-style: italic;
              font-size: 1.8rem;
              border-radius: 6rem;
              border: 1px solid var(--clinic-theme-primary-color);

              &::placeholder {
                color: var(--clinic-theme-secondary-color);
                opacity: 1;
              }
            }
          }

          p {
            &:has(.wpcf7-submit) {
              margin: 0;
              position: absolute;
              top: .4rem;
              right: .4rem;
              width: 14rem;
              height: 5.2rem;

              .wpcf7-submit {
                width: 100%;
                height: 100%;
                border-radius: 6rem;
                background-color: #2CBC3F;
              }
            }
          }
        }
      }

      &.widget_nav_menu {
        ul {
          li {
            font-size: 2rem;
          }
        }
      }

      .info-company-widget {
        color: var(--color-white);
      }

      .open-hours-widget {
        @media (min-width: 992px) {
          padding: 0 3rem;
        }

        &__warp {
          border-color: var(--color-white);
        }

        .item {
          &__note {
            color: var(--color-white);
          }
        }
      }
    }
  }
}

.contact-us-group {
  padding: 2.2rem 0;
  text-align: start;
  border-top: 1rem solid #00911E;
  background-color: #DDF3FF;

  .grid-layout {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: 1200px) {
      margin-left: -1.5rem;
      margin-right: -1.5rem;
      row-gap: 1.5rem;
    }

    @media (max-width: 1199px) {
      margin-left: -1.2rem;
      margin-right: -1.2rem;
      row-gap: 1.2rem;
    }

    .item {
      display: flex;
      flex-direction: column;

      @media (min-width: 1200px) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }

      @media (max-width: 1199px) {
        padding-left: 1.2rem;
        padding-right: 1.2rem;
      }

      @media (min-width: 992px) {
        flex: 0 0 25%;
      }

      @media (min-width: 480px) and (max-width: 991px) {
        flex: 0 0 50%;
      }

      @media (max-width: 479px) {
        flex: 0 0 100%;
      }

      &__box {
        position: relative;
        padding: .4rem;
        border-style: solid;
        border-width: .3rem;
        border-radius: 2rem;
        background-color: #ffffff;
        height: 100%;

        .link {
          color: var(--color-white);
          border-radius: 1.5rem;
          height: inherit;

          @media (min-width: 1200px) {
            padding: 1rem 1.8rem;
          }

          @media (max-width: 1199px) {
            padding: 1rem;
          }
        }

        &:not(.phone) {
          .link {
            font-weight: 700;
            display: flex;
            align-items: center;
            justify-content: center;

            .content {
              @media (min-width: 1200px) {
                margin-right: 1.8rem;
                font-size: 1.8rem;
              }

              @media (max-width: 1199px) {
                margin-right: 1.4rem;
              }

              @media (min-width: 992px) and (max-width: 1199px) {
                font-size: 1.4rem;
              }
            }

            img {
              flex: 0 0 5rem;
            }
          }
        }

        &.messenger {
          border-color: #128CF2;

          .link {
            background: linear-gradient(180deg, #8BDBF5 0, #1D9DF4 100%);
          }
        }

        &.booking {
          border-color: #C7D631;

          .link {
            background: linear-gradient(-90deg, #039664 0%, #9AD45C 50%, #CCE95A 100%);
          }
        }

        &.phone {
          border-color: #FF9908;

          .link {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: linear-gradient(90deg, #D73C01 0, #FFB60C 100%);

            .txt {
              font-weight: 700;
              font-size: 1.4rem;
            }

            .content {
              font-weight: 700;

              @media (min-width: 1200px) {
                font-size: 2.6rem;
              }

              @media (min-width: 992px) and (max-width: 1199px) {
                font-size: 2rem;
              }
            }
          }
        }

        &.zalo {
          border-color: #38F0FE;

          .link {
            background: linear-gradient(90deg, #36EDFE 0, #003CE9 100%);
          }
        }
      }
    }
  }
}