.global-footer {
  section {
    &.widget {
      margin-bottom: 2.3rem;

      .textwidget {
        iframe {
          min-height: 38rem;
        }
      }

      .info-company-widget {
        color: var(--color-white);
      }

      .open-hours-widget {
        @media (min-width: 992px) {
          padding: 0 3rem;
        }

        &__warp {
          border-color: var(--color-white);
        }

        .item {
          &__note {
            color: var(--color-white);
          }
        }
      }
    }
  }

  &__column {
    padding: 4rem 0 2rem;
    background: linear-gradient(180deg, #1E944B 0%, #137260 100%);
  }
}

.contact-us-group {
  text-align: start;
  background-color: #00644A;

  .grid-layout {
    min-height: 6rem;
    display: flex;

    .item {
      padding: 0 .5rem;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      &:not(:last-child) {
        border-right: .1px solid var(--color-white);
      }

      &.phone {
        @media (max-width: 992px) {
          display: none;
        }
      }

      &__icon {
        flex: 0 0 auto;

        svg {
          width: 3rem;
        }

        @media (min-width: 376px) {
          margin-right: 1.2rem;
        }

        @media (max-width: 375px) {
          margin-right: 1rem;
        }
      }

      &__content {
        a {
          color: var(--color-white);
          font-weight: 700;

          @media (min-width: 1200px) {
            font-size: 2rem;
          }

          @media (max-width: 1199px) {
            font-size: 1.5rem;
          }

          &:hover {
            color: var(--color-cadmium-yellow);
          }
        }
      }
    }
  }
}