.global-footer {
  &__warp {
    padding: 2rem 0 4rem;
    background-color: rgb(173, 28, 33, 0.9);
    background-image: url("../images/bk-footer.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__column {
    margin-top: 2.6rem;
  }

  .widget {
    color: var(--color-white);

    a {
      color: inherit;
    }

    .widget-title {
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      color: inherit;
      font-size: 2.5rem;
      font-family: var(--font-fm-quaternary);
      text-transform: uppercase;
      border-bottom: 1px solid var(--color-white);
    }

    &.widget_nav_menu {
      ul {
        padding-left: 2rem;
        list-style: inherit;

        li {
          font-weight: 700;
        }
      }
    }

    &.consulting-doctor-widget {
      .warp {
        margin: 0 auto;
        max-width: 32rem;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

.contact-us-group {
  text-align: start;
  background-color: var(--heading-color);

  .grid-layout {
    min-height: 6rem;
    display: flex;

    .item {
      padding: 0 .5rem;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      &:not(:last-child) {
        border-right: .1px solid var(--color-white);
      }

      &.phone {
        @media (max-width: 992px) {
          display: none;
        }
      }

      &__icon {
        flex: 0 0 auto;

        svg {
          width: 3rem;
        }

        @media (min-width: 376px) {
          margin-right: 1.2rem;
        }

        @media (max-width: 375px) {
          margin-right: 1rem;
        }
      }

      &__content {
        a {
          color: var(--color-white);
          font-weight: 700;

          @media (min-width: 1200px) {
            font-size: 2rem;
          }

          @media (max-width: 1199px) {
            font-size: 1.5rem;
          }

          &:hover {
            color: var(--color-cadmium-yellow);
          }
        }
      }
    }
  }
}