.global-footer {
  section {
    &.widget {
      margin-bottom: 2.3rem;

      .textwidget {
        iframe {
          min-height: 38rem;
        }
      }

      .info-company-widget {
        color: var(--color-white);
      }

      .open-hours-widget {
        @media (min-width: 992px) {
          padding: 0 3rem;
        }

        &__warp {
          border-color: var(--color-white);
        }

        .item {
          &__note {
            color: var(--color-white);
          }
        }
      }
    }
  }

  &__column {
    padding: 4rem 0 2rem;
    background: linear-gradient(180deg, #1E944B 0%, #137260 100%);
  }
}