@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icon-theme/icomoon.eot?x7t9y2');
  src:  url('../fonts/icon-theme/icomoon.eot?x7t9y2#iefix') format('embedded-opentype'),
  url('../fonts/icon-theme/icomoon.ttf?x7t9y2') format('truetype'),
  url('../fonts/icon-theme/icomoon.woff?x7t9y2') format('woff'),
  url('../fonts/icon-theme/icomoon.svg?x7t9y2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sort-down:before {
  content: "\e912";
}
.icon-hours-support:before {
  content: "\e911";
}
.icon-send:before {
  content: "\e910";
}
.icon-menu:before {
  content: "\e90f";
}
.icon-close:before {
  content: "\e90e";
}
.icon-facebook-messenger-circle:before {
  content: "\e90d";
}
.icon-check:before {
  content: "\e90c";
}
.icon-zalo:before {
  content: "\e90b";
}
.icon-phone-volume:before {
  content: "\e90a";
}
.icon-angle-left:before {
  content: "\e900";
  color: #09244b;
}
.icon-angle-right:before {
  content: "\e901";
  color: #09244b;
}
.icon-clock:before {
  content: "\e902";
}
.icon-envelope:before {
  content: "\e903";
}
.icon-square-facebook:before {
  content: "\e904";
}
.icon-facebook-messenger:before {
  content: "\e905";
}
.icon-hose:before {
  content: "\e906";
}
.icon-house-light:before {
  content: "\e907";
}
.icon-location:before {
  content: "\e908";
}
.icon-phone-circle:before {
  content: "\e909";
}
.icon-phone:before {
  content: "\e942";
}
.icon-location-dot:before {
  content: "\e947";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-user:before {
  content: "\e971";
}
.icon-sphere:before {
  content: "\e9c9";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-facebook-f:before {
  content: "\ea90";
}
.icon-youtube:before {
  content: "\ea9d";
}