.search-form {
  font-size: 12px;
}

.search-field {
  border: 1px solid $border-color;
  height: auto;
  padding: 9px 10px;
  border-radius: 3px;
  box-shadow: none;
}

.search-submit {
  background-color: $color-hover;
  color: #fff;
  padding: 9px 10px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  @include transition();
}

section {
  &.widget {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }

    .widget-title {
      font-size: 1.8rem;
      line-height: 1.1;
      font-family: var(--body-font-family);
    }

    ul {
      @include reset-list;

      li {
        &:not(:last-child) {
          margin-bottom: 10px;
        }

        a {
          display: block;
        }

        ul {
          &.children,
          &.sub-menu {
            padding-left: 15px;
            padding-top: 10px;

            li {
              border-bottom: 0;
              padding: 0 0 10px;

              &:last-child {
                padding-bottom: 0;
              }
            }
          }
        }
      }
    }

    select {
      width: 100%;
      padding: 9px 10px;
      font-size: 12px;
    }

    &.widget_search {
      .search-form {
        display: flex;

        .search-field {
          flex: 1;
        }

        .search-submit {
          margin-left: 10px;
        }
      }
    }

    &.widget_archive,
    &.widget_categories {
      ul {
        li {
          a {
            display: inline-block;
            margin-right: 5px;
          }
        }
      }
    }

    &.widget_calendar {
      table {
        width: 100%;

        caption {
          padding: 0;
          margin-bottom: 15px;
          text-align: center;
        }

        tr {
          border-bottom: 1px solid $border-color;

          th {
            text-align: center;
          }

          td {
            padding: 5px 0;
            text-align: center;

            &#today {
              background-color: $background-hover;
              color: #ffffff;

              a {
                color: #ffffff;
              }
            }

            &#prev {
              text-align: left;
            }

            &#next {
              text-align: right;
            }
          }
        }
      }
    }

    &.widget_rss {
      ul {
        li {
          padding-bottom: 20px;
          margin-bottom: 20px;

          .rssSummary {
            font-size: 12px;
          }
        }
      }
    }

    &.widget_tag_cloud,
    &.widget_product_tag_cloud {
      .tagcloud {
        a {
          display: inline-block;
          font-size: 13px !important;
          border: 1px solid #eee;
          padding: 5px 10px;
          margin: 0 2px 5px;

          &:hover {
            background-color: $background-hover;
            color: #ffffff;
            border-color: $background-hover;
          }
        }
      }
    }

    &.social-widget {
      .txt {
        margin-right: .6rem;
        font-size: 1.6rem;
      }

      .social-list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: inline-flex;
        gap: 1rem .6rem;

        li {
          margin: 0;
          flex: 0 0 auto;
        }
      }
    }

    .recent-post-widget {
      &__list {
        border: 1px solid #3884a9;

        .post {
          margin-bottom: 1.2rem;
          display: grid;
          grid-gap: 1.2rem;
          grid-template-columns: 10rem 1fr;

          &:last-child {
            margin-bottom: 0;
          }

          .image {
            height: 7.5rem;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }

        .title {
          margin-bottom: 10px;
          font-size: 1.6rem;
          overflow: hidden;
          font-weight: 400;
          line-height: 1.8rem;
          font-family: var(--body-font-family);
        }

        .meta {
          font-size: 1.2rem;

          i.fa {
            margin-right: 5px;
          }
        }
      }
    }

    .textwidget {
      iframe {
        width: 100%;
        height: 100%;
      }
    }

    .info-company-widget {
      .item {
        font-weight: 700;
        display: grid;
        grid-gap: 1.5rem;
        grid-template-columns: 2.4rem 1fr;

        @media (min-width: 992px) {
          font-size: 1.6rem;
        }

        @media (max-width: 991px) {
          font-size: 1.4rem;
        }

        ~ .item {
          margin-top: .4rem;
        }

        &__icon {
          i {
            font-size: 2.4rem;
          }
        }

        &__content {}
      }
    }

    .open-hours-widget {
      &__warp {
        padding: 1.5rem 1rem;
        border-radius: 1rem;
        border: 2px solid #000;

        .item {
          ~ .item {
            margin-top: .9rem;
          }

          &__title {
            margin-bottom: 0;
            font-size: 2rem;
            line-height: 3rem;
            color: var(--color-cadmium-yellow);
            text-transform: uppercase;
          }

          &__note {
            font-size: 1.6rem;
          }
        }
      }
    }

    &.working-time-widget {
      padding: 1.6rem;
      background: var(--clinic-theme-sixth-color);

      .widget-title {
        margin-bottom: 1.4rem;
        padding: 0;
        color: #F30000;
        border-radius: 0;
        background: transparent;
      }

      .widget-warp {
        padding: 0;
        border: 0;

        .work-box {
          display: flex;
          gap: .5rem;
          align-items: center;
          justify-content: center;

          .time {
            position: relative;
            display: flex;
            gap: .2rem;
            align-items: center;
            justify-content: center;

            ~ .time {
              margin-left: 3rem;

              &:before {
                position: absolute;
                content: "-";
                left: -2.7rem;
                top: 0;
                bottom: 0;
                width: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;

                @media (min-width: 992px) {
                  font-size: 4rem;
                }

                @media (min-width: 768px) and (max-width: 992px) {
                  transform: translateY(-1px);
                }
              }
            }

            span {
              display: inline-block;
            }

            .character {
              font-size: 3rem;
            }

            &__box {
              padding: 0 .5rem;
              text-align: center;
              font-weight: 700;
              font-family: "Rozha One", serif;
              border-radius: .6rem;
              background-color: var(--color-white);

              @media (min-width: 1200px) {
                font-size: 3rem;
              }

              @media (min-width: 992px) and (max-width: 1199px) {
                font-size: 2rem;
              }

              @media (min-width: 768px) and (max-width: 991px) {
                font-size: 2.2rem;
              }

              @media (max-width: 767px) {
                font-size: 2.4rem;
              }
            }
          }
        }
      }
    }
  }
}

.site-sidebar {
  @media (max-width: 767px) {
    margin-top: 3rem;
  }

  .widget {
    background: #FFF;

    .widget-title {
      margin: 0;
      padding: 1.7rem 1.2rem 1.2rem;
      text-align: center;
      text-transform: uppercase;
      color: var(--color-white);
      background: rgba(56, 132, 169, 1);
    }

    > div,
    > ul {
      padding: 2.4rem 2.2rem;
    }

    .widget-warp {
      overflow: hidden;
      border-top-width: 0;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      box-shadow: 0 .4rem .4rem rgba(0, 0, 0, 0.25);
      background-image: url("../images/bk-widget-warp.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-color: #ffffff;
    }

    &.widget_media_image {
      text-align: center;

      .widget-title {
        margin-bottom: 0;
      }

      img {
        display: inline-block;
        padding: 1rem;
      }
    }

    &.appointment-form-widget {
      .image-box {
        text-align: center;
      }

      .widget-warp {
        &:has(.qr-code) {
          padding: 0;

          .wpcf7 {
            padding: 2.4rem 2.2rem;
          }
        }
      }

      .wpcf7-form {
        p {
          ~ p {
            margin-top: 1.1rem;
          }

          &:has(.wpcf7-submit) {
            text-align: center;
          }
        }

        .wpcf7-form-control-wrap {
          input, textarea {
            min-height: 4rem;
            color: #000000;
            font-size: 1.6rem;
            font-style: italic;
            font-family: var(--heading-font-family);
            border: 1px solid #2E7A7A;
            background-color: #EAF1F1;

            &::placeholder {
              color: #000000;
            }
          }

          textarea {
            min-height: 14.8rem;
          }
        }

        .wpcf7-submit {
          padding: 1.4rem .9rem;
          min-width: 20.8rem;
          font-weight: 700;
          font-size: 1.8rem;
          line-height: 1.6rem;
          text-transform: uppercase;
          border: none;
          border-radius: .5rem;
          background: #E6171F;
        }
      }

      .qr-code {
        padding: 1.2rem;
        display: grid;
        grid-gap: 2.4rem;
        align-items: center;
        grid-template-columns: minmax(auto, 1fr) 10rem;
        background-color: rgba(56, 132, 169, 1);

        .note-text {
          line-height: 1.2;
          color: var(--color-white);

          @media (min-width: 992px) {
            font-size: 1.8rem;
          }

          @media (min-width: 768px) and (max-width: 991px) {
            font-size: 1.6rem;
          }

          strong {
            color: #FAFF00;
          }
        }
      }
    }

    &.categories-dropdown-widget {
      background: #F7F7F7;

      .widget-title {
        font-weight: 500;
        line-height: 1.2;

        @media (min-width: 1200px) {
          font-size: 2.9rem;
        }

        @media (max-width: 1199px) {
          font-size: 1.8rem;
        }
      }

      .widget-warp {
        @media (min-width: 1200px) {
          padding: 1.4rem 3rem;
        }

        @media (max-width: 1199px) {
          padding: 1.4rem 1.6rem;
        }

        > li {
          margin: 0;
          padding: 0;

          > a {
            position: relative;
            padding: 1.4rem 1.6rem 1rem 3.4rem;
            border-radius: 5rem;
            background-color: #ECECEC;
            border: 1px solid rgba(0, 0, 0, 1);

            &:before {
              position: absolute;
              content: "";
              top: 50%;
              left: 1rem;
              @include square(1.6rem, 50%);
              background-color: rgba(0, 160, 17, 1);
              transform: translateY(-50%);
            }

            &.current-cate {
              border-color: rgba(187, 243, 233, 1);
              background-color: rgba(187, 243, 233, 1);

              &:before {
                background-color: rgba(250, 94, 27, 1);
              }
            }
          }

          ~ li {
            margin-top: .7rem;
          }
        }

        li {
          position: relative;

          a {
            position: relative;
            z-index: 1;
            color: #000;
            font-size: 1.6rem;
            font-weight: 500;

            &:hover {
              color: var(--clinic-theme-primary-color);
            }
          }

          ul {
            &.children {
              margin-bottom: 1rem;
              padding: 1rem 0 0 0;
              display: none;

              > li {
                margin-bottom: 0;
                padding: 0;

                > a {
                  position: relative;
                  padding-left: 2rem;
                  font-size: 1.6rem;
                  line-height: 3rem;
                  color: #636363;

                  &:hover {
                    color: var(--clinic-theme-primary-color);
                  }
                }

                .children {
                  padding-top: 0;
                }
              }
            }
          }

          .icon-has-child-cate {
            position: absolute;
            top: 1.6rem;
            right: 1.2rem;
            z-index: 1;
            cursor: pointer;
            @include square(1.6rem);
            @include transition();

            &:hover {
              color: var(--clinic-theme-primary-color);
            }

            svg {
              path {
                fill: #000;
              }
            }
          }

          > a {
            &.active {
              ~ .icon-has-child-cate {
                transform: rotate(180deg);
              }
            }
          }

          &:has(.icon-has-child-cate) {
            a {
              padding-right: 3.2rem;
            }
          }
        }
      }
    }
  }
}