// Color
$body-color: #000000;
$heading-color: #135CAA;

$theme-primary-color: #135CAA;
$theme-secondary-color: #137597;
$theme-tertiary-color: #078450;
$theme-quaternary-color: #E6171F;
$theme-fifth-color: #1D93E3;

$color-hover: #1D93E3;
$color-required: #ff5555;

$color-white: #ffffff;
$color-salem: #2C904F;
$color-cadmium-green: #0A5E2C;
$color-cadmium-yellow: #FFF400;
$color-sunset-orange: #FE5B58;

// Background
$background-body: #ffffff;
$background-primary: #333333;
$background-hover: #ff5555;
$background-second: rgba(0, 0, 0, .6);

// Border color
$border-color: #eeeeee;