// Color
$color-body: #000000;
$color-heading: #208B45;
$color-hover: #ff5555;
$color-required: #ff5555;

$color-white: #ffffff;
$color-dim-gray: #686868;
$color-salem: #208B45;
$color-cadmium-yellow: #FFF400;
$color-cadmium-green: #0A5E2C;
$color-sunset-orange: #FE5B58;
$color-platinum: #E6E6E6;

// Background
$background-body: #ffffff;
$background-primary: #333333;
$background-hover: #ff5555;
$background-second: rgba(0, 0, 0, .6);

// Border color
$border-color: #eeeeee;