// Color
$body-color: #000000;
$heading-color: #6069ac;

$theme-primary-color: #8e60a9;
$theme-secondary-color: #6069ac;
$theme-tertiary-color:  #1A608D;
$theme-quaternary-color: #FE6F01;
$theme-fifth-color: #FFE600;
$theme-six-color: #009AAC;
$theme-seven-color: #00667B;
$theme-eighth-color: #E6171F;

$color-hover: #6069ac;
$color-required: #ff5555;

$color-white: #ffffff;
$color-salem: #2C904F;
$color-cadmium-green: #0A5E2C;
$color-cadmium-yellow: #FFF400;
$color-sunset-orange: #FE5B58;

// Background
$background-body: #ffffff;
$background-primary: #333333;
$background-hover: #ff5555;
$background-second: rgba(0, 0, 0, .6);

// Border color
$border-color: #eeeeee;