// Font Families
$body-font-family: 'Roboto', sans-serif;
$heading-font-family: 'Arimo', sans-serif;

$font-icon : 'icomoon';

// font size
$font-size-body: 1.6rem;
$line-body: 1.5;

$h1-font-size: 3.3rem;
$h2-font-size: 2.9rem;
$h3-font-size: 2.5rem;
$h4-font-size: 2.1rem;
$h5-font-size: 1.8rem;
$h6-font-size: 1.4rem;