// Font Families
$body-font-family: 'Roboto', sans-serif;
$heading-font-family: 'Lora', sans-serif;
$secondary-font-family: 'Arimo', sans-serif;
$tertiary-font-family: 'Lobster', sans-serif;
$quaternary-font-family: 'Roboto Flex', sans-serif;

$font-icon : 'icomoon';

// font size
$font-size-body: 1.6rem;
$line-body: 1.5;

$h1-font-size: 3.6rem;
$h2-font-size: 3rem;
$h3-font-size: 2.4rem;
$h4-font-size: 1.8rem;
$h5-font-size: 1.6rem;
$h6-font-size: 1.4rem;

$headings-line-height: 1.2;