.contact-us-mobile {
  padding: 0 1.2rem;
  position: sticky;
  bottom: 0;
  background: #E5E5E5;
  z-index: 999;

  .warp {
    position: relative;
    max-width: 41.4rem;
    margin: 0 auto;
  }

  .item {
    position: absolute;
    top: 0;
    height: 100%;

    &.zalo {
      left: 0;
      width: 23%;
    }

    &.phone {
      left: 23%;
      width: 54%;
    }

    &.chat {
      right: 0;
      width: 23%;
    }
  }
}