.contact-us-mobile {
  padding: 0 1.2rem;
  position: sticky;
  bottom: 0;
  background: #ffffff;
  z-index: 999;

  .warp {
    position: relative;
    max-width: 64rem;
    margin: 0 auto;
  }

  .item {
    position: absolute;
    top: 0;
    height: 100%;

    &.chat {
      left: 0;
      width: 38%;
    }

    &.phone {
      left: 38%;
      width: 35%;
    }

    &.zalo {
      right: 0;
      width: 27%;
    }
  }
}