.owl-carousel {
  .owl-nav {
    margin: 0;

    button {
      &.owl-prev,
      &.owl-next {
        position: absolute;
        top: 50%;
        font-size: 3rem;
        line-height: normal;
        color: #167D78;
        @include transition();
        transform: translateY(-50%);

        &.owl-prev {
          left: .6rem;
        }

        &.owl-next {
          right: .6rem;
        }

        &:hover {
          color: #00A878;
        }
      }
    }
  }

  .owl-dots {
    margin-top: 1.8rem;
    @include flex-center;

    .owl-dot {
      display: inline-block;
      margin: 0 5px;

      span {
        position: relative;
        display: block;
        @include square(1.2rem);
        background-color: #DDDDDD;
        border-radius: 50%;
      }

      &.active,
      &:hover {
        span {
          background-color: #E6171F;
        }
      }
    }
  }

  &.custom-owl-nav {
    .owl-nav {
      button {
        font-size: 1.6rem;
        line-height: 100%;
        color: #ff5555;
        border: .1rem solid #ff5555;
        @include square(3.2rem, 50%);
        background-color: #ffffff;

        &.owl-prev {
          @media (min-width: 992px) {
            left: -1.6rem;
          }

          @media (max-width: 991px) {
            left: 1rem;
          }
        }

        &.owl-next {
          @media (min-width: 992px) {
            right: -1.6rem;
          }

          @media (max-width: 991px) {
            right: 1rem;
          }
        }

        &:hover {
          color: #ffffff;
          background-color: #ff5555;
        }
      }
    }
  }
}

.custom-equal-height-owl {
  .owl-stage {
    display: flex;

    .owl-item {
      display: flex;
      flex: 1 0 auto;
    }
  }
}