// Color
$body-color: #000000;
$heading-color: #2e8f56;

$theme-primary-color: #60ad80;
$theme-secondary-color: #28884F;
$theme-tertiary-color:  #8be7b1;
$theme-quaternary-color: #FE6F01;
$theme-fifth-color: #f5ad3e;
$theme-six-color: #006760;
$theme-seven-color: #00667B;
$theme-eighth-color: #E6171F;

$color-hover: #1D93E3;
$color-required: #ff5555;

$color-white: #ffffff;
$color-salem: #2C904F;
$color-cadmium-green: #0A5E2C;
$color-cadmium-yellow: #FFF400;
$color-sunset-orange: #FE5B58;

// Background
$background-body: #ffffff;
$background-primary: #333333;
$background-hover: #ff5555;
$background-second: rgba(0, 0, 0, .6);

// Border color
$border-color: #eeeeee;

// Font Families
$body-font-family: 'Roboto Condensed', sans-serif;
$heading-font-family: 'Roboto', sans-serif;

$font-icon : 'icomoon';

// font size
$font-size-body: 1.6rem;
$line-body: 1.6;
$line-heading: 1.2;

$h1-font-size: 3rem;
$h2-font-size: 2.4rem;
$h3-font-size: 2.2rem;
$h4-font-size: 2rem;
$h5-font-size: 1.8rem;
$h6-font-size: 1.6rem;