@charset "UTF-8";
.single-post-warp {
  padding-top: 2.3rem;
  padding-bottom: 2.7rem;
}

.single-post-content {
  margin-bottom: 15px;
  font-size: 1.6rem;
}
.single-post-content__detail h2 {
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .single-post-content__detail p, .single-post-content__detail span, .single-post-content__detail a, .single-post-content__detail ul li, .single-post-content__detail ul ol {
    word-spacing: 0.05rem;
  }
}
.single-post-content__detail .image-cate-box img {
  max-width: 50rem;
  width: 100%;
}
.single-post-content__detail .box-image-overlay {
  position: relative;
  margin-bottom: 1.2rem;
}
.single-post-content__detail .box-image-overlay:after {
  position: absolute;
  content: "Click xem áº£nh";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
}
.single-post-content__detail .box-image-overlay img {
  position: relative;
  filter: brightness(0.1);
  transition: all 0.4s ease-in-out;
}
.single-post-content__detail .box-image-overlay:hover:after {
  opacity: 0;
  visibility: visible;
}
.single-post-content__detail .box-image-overlay:hover img {
  filter: brightness(1);
}
.single-post-content__image,
.single-post-content .page-links {
  margin-bottom: 30px;
}
.single-post-content__title {
  margin-bottom: 1.6rem;
  line-height: 3rem;
  text-transform: uppercase;
  color: #FC0000;
}
.single-post-content__tax {
  margin-bottom: 20px;
}
.single-post-content .post-meta {
  margin-bottom: 1.2rem;
  padding-left: 1rem;
  display: grid;
  grid-gap: 1.2rem;
  align-items: center;
  font-size: 1.2rem;
  line-height: 2.2rem;
  color: #969C9F;
}
@media (min-width: 576px) {
  .single-post-content .post-meta {
    grid-template-columns: auto 1fr;
  }
}
.single-post-content .post-meta a {
  color: #969C9F;
}
.single-post-content .post-meta__item {
  display: grid;
  grid-gap: 0.8rem;
  grid-template-columns: 2rem 1fr;
  align-items: center;
}

.single-contact-us {
  padding: 1.2rem 1.6rem;
  background-image: url("../../../images/bk-support-single.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.single-contact-us .grid {
  display: grid;
  grid-gap: 2.4rem 4rem;
  align-items: center;
  border: 0.2rem solid var(--color-white);
}
@media (min-width: 1200px) {
  .single-contact-us .grid {
    padding: 2rem 2.4rem;
  }
}
@media (max-width: 1199px) {
  .single-contact-us .grid {
    padding: 2rem 1.6rem;
  }
}
@media (min-width: 992px) {
  .single-contact-us .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
.single-contact-us .grid .title {
  font-weight: 900;
  font-family: var(--body-font-family);
}
@media (min-width: 1200px) {
  .single-contact-us .grid .title {
    font-size: 2.9rem;
  }
}
@media (max-width: 1199px) {
  .single-contact-us .grid .title {
    font-size: 2rem;
  }
}
.single-contact-us .grid .title.title-support {
  margin-bottom: 2.5rem;
  color: var(--color-white);
}
.single-contact-us .grid .title.title-form {
  margin-bottom: 1.7rem;
  color: #F00;
}
.single-contact-us .grid .list-support {
  display: grid;
  align-items: center;
}
@media (min-width: 1200px) {
  .single-contact-us .grid .list-support {
    grid-gap: 2.4rem 3.5rem;
  }
}
@media (max-width: 1199px) {
  .single-contact-us .grid .list-support {
    grid-gap: 2.4rem 1.2rem;
  }
}
@media (min-width: 376px) {
  .single-contact-us .grid .list-support {
    grid-template-columns: repeat(2, 1fr);
  }
}
.single-contact-us .grid .list-support__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.single-contact-us .grid .list-support__item .thumbnail {
  margin-bottom: 2.5rem;
  position: relative;
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
}
.single-contact-us .grid .list-support__item .thumbnail:before {
  position: absolute;
  content: "";
  top: -0.5rem;
  right: -0.5rem;
  bottom: -0.5rem;
  left: -0.5rem;
  border-radius: 50%;
  border: 0.5rem solid rgba(255, 255, 255, 0.2);
}
.single-contact-us .grid .list-support__item a {
  display: inline-block;
  border: 2px solid var(--color-white);
  border-radius: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-white);
  line-height: 2.2rem;
}
@media (min-width: 1200px) {
  .single-contact-us .grid .list-support__item a {
    padding: 0.5rem 2rem;
  }
}
@media (max-width: 1199px) {
  .single-contact-us .grid .list-support__item a {
    padding: 0.5rem 1rem;
  }
}
.single-contact-us .grid .list-support__item a.link-phone {
  background-color: #FF0104;
}
.single-contact-us .grid .list-support__item a.link-chat {
  background-color: #00AA50;
}
.single-contact-us .grid .box-form {
  padding: 1.6rem;
  border-radius: 0.5rem;
  background: var(--color-white);
  box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.25);
}
.single-contact-us .grid .box-form .wpcf7-form .wpcf7-form-control-wrap input,
.single-contact-us .grid .box-form .wpcf7-form .wpcf7-form-control-wrap textarea {
  padding: 0.9rem 1.4rem;
  font-size: 1.6rem;
  color: #000;
  border: 0.1rem solid #B1B1B1;
  border-radius: 0;
  background: var(--color-white);
}
.single-contact-us .grid .box-form .wpcf7-form .wpcf7-submit {
  padding: 0.4rem 3rem;
  border-radius: 5rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.related-posts {
  margin-top: 3rem;
}
.related-posts__top {
  margin-bottom: 1.5rem;
  display: grid;
  grid-gap: 0.8rem;
  grid-template-columns: 2.8rem 1fr;
  align-items: center;
}
.related-posts__top .icon {
  text-align: center;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  background: #F00;
}
@media (min-width: 992px) {
  .related-posts__top .title {
    font-size: 2.4rem;
  }
}
@media (max-width: 991px) {
  .related-posts__top .title {
    font-size: 2rem;
  }
}
.related-posts .grid-layout {
  display: grid;
  grid-gap: 1.6rem 1rem;
}
@media (min-width: 600px) {
  .related-posts .grid-layout {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 376px) and (max-width: 599px) {
  .related-posts .grid-layout {
    grid-template-columns: repeat(2, 1fr);
  }
}
.related-posts .related-post-item .post-image {
  margin-bottom: 1rem;
  height: 16rem;
}
.related-posts .related-post-item .post-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.related-posts .related-post-item .title-post {
  margin: 0;
  font-size: 1.5rem;
  font-family: var(--body-font-family);
  font-weight: 400;
  line-height: 2rem;
}
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInBvc3Qvc2luZ2xlLnNjc3MiLCIuLi92YXJpYWJsZXMtc2l0ZS9fbWl4aW5zLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IjtBQUVBO0VBQ0U7RUFDQTs7O0FBR0Y7RUFDRTtFQUNBOztBQUdFO0VBQ0U7O0FBSUE7RUFERjtJQUVJOzs7QUFLRjtFQUNFO0VBQ0E7O0FBSUo7RUFDRTtFQUNBOztBQUVBO0VBQ0U7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUNSTjtFQUNBO0VBQ0E7RUFtQkEsWUFEOEI7O0FEUDFCO0VBQ0U7RUFDQTtFQ01OLFlBRDhCOztBREF4QjtFQUNFO0VBQ0E7O0FBR0Y7RUFDRTs7QUFNUjtBQUFBO0VBRUU7O0FBR0Y7RUFDRTtFQUNBO0VBQ0E7RUFDQTs7QUFHRjtFQUNFOztBQUdGO0VBQ0U7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTs7QUFFQTtFQVZGO0lBV0k7OztBQUdGO0VBQ0U7O0FBR0Y7RUFDRTtFQUNBO0VBQ0E7RUFDQTs7O0FBS047RUFDRTtFQUNBO0VBQ0E7RUFDQTtFQUNBOztBQUVBO0VBQ0U7RUFDQTtFQUNBO0VBQ0E7O0FBRUE7RUFORjtJQU9JOzs7QUFHRjtFQVZGO0lBV0k7OztBQUdGO0VBZEY7SUFlSTs7O0FBR0Y7RUFDRTtFQUNBOztBQUVBO0VBSkY7SUFLSTs7O0FBR0Y7RUFSRjtJQVNJOzs7QUFHRjtFQUNFO0VBQ0E7O0FBR0Y7RUFDRTtFQUNBOztBQUlKO0VBQ0U7RUFDQTs7QUFFQTtFQUpGO0lBS0k7OztBQUdGO0VBUkY7SUFTSTs7O0FBR0Y7RUFaRjtJQWFJOzs7QUFHRjtFQzNJSjtFQUNBO0VBQ0E7RUQySU07O0FBRUE7RUFDRTtFQUNBO0VDcktSLE9Ec0t3QjtFQ3JLeEIsUURxS3dCO0VDbEt0QixlRGtLNEI7RUFDdEI7RUNuSlI7RUFDQTtFQUNBO0VEbUpROztBQUVBO0VBQ0U7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTs7QUFJSjtFQUNFO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBOztBQUVBO0VBVEY7SUFVSTs7O0FBR0Y7RUFiRjtJQWNJOzs7QUFHRjtFQUNFOztBQUdGO0VBQ0U7O0FBTVI7RUFDRTtFQUNBO0VBQ0E7RUFDQTs7QUFJSTtBQUFBO0VBRUU7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBOztBQUlKO0VBQ0U7RUFDQTtFQUNBO0VBQ0E7OztBQU9WO0VBQ0U7O0FBRUE7RUFDRTtFQUNBO0VBQ0E7RUFDQTtFQUNBOztBQUVBO0VBQ0U7RUM1UEosT0Q2UG9CO0VDNVBwQixRRDRQb0I7RUN6UGxCLGVEeVAwQjtFQUN4Qjs7QUFJQTtFQURGO0lBRUk7OztBQUdGO0VBTEY7SUFNSTs7O0FBS047RUFDRTtFQUNBOztBQUVBO0VBSkY7SUFLSTs7O0FBR0Y7RUFSRjtJQVNJOzs7QUFLRjtFQUNFO0VBQ0E7O0FBRUE7RUFDRTtFQUNBO0VBQ0E7O0FBSUo7RUFDRTtFQUNBO0VBQ0E7RUFDQTtFQUNBIiwiZmlsZSI6InBvc3Qvc2luZ2xlLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIkBpbXBvcnQgXCIuLi8uLi92YXJpYWJsZXMtc2l0ZS92YXJpYWJsZXNcIjtcclxuXHJcbi5zaW5nbGUtcG9zdC13YXJwIHtcclxuICBwYWRkaW5nLXRvcDogMi4zcmVtO1xyXG4gIHBhZGRpbmctYm90dG9tOiAyLjdyZW07XHJcbn1cclxuXHJcbi5zaW5nbGUtcG9zdC1jb250ZW50IHtcclxuICBtYXJnaW4tYm90dG9tOiAxNXB4O1xyXG4gIGZvbnQtc2l6ZTogMS42cmVtO1xyXG5cclxuICAmX19kZXRhaWwge1xyXG4gICAgaDIge1xyXG4gICAgICB0ZXh0LXRyYW5zZm9ybTogdXBwZXJjYXNlO1xyXG4gICAgfVxyXG5cclxuICAgIHAsIHNwYW4sIGEsIHVsIGxpLCB1bCBvbCB7XHJcbiAgICAgIEBtZWRpYSAobWF4LXdpZHRoOiA3NjdweCkge1xyXG4gICAgICAgIHdvcmQtc3BhY2luZzogMC4wNXJlbTtcclxuICAgICAgfVxyXG4gICAgfVxyXG5cclxuICAgIC5pbWFnZS1jYXRlLWJveCB7XHJcbiAgICAgIGltZyB7XHJcbiAgICAgICAgbWF4LXdpZHRoOiA1MHJlbTtcclxuICAgICAgICB3aWR0aDogMTAwJTtcclxuICAgICAgfVxyXG4gICAgfVxyXG5cclxuICAgIC5ib3gtaW1hZ2Utb3ZlcmxheSB7XHJcbiAgICAgIHBvc2l0aW9uOiByZWxhdGl2ZTtcclxuICAgICAgbWFyZ2luLWJvdHRvbTogMS4ycmVtO1xyXG5cclxuICAgICAgJjphZnRlciB7XHJcbiAgICAgICAgcG9zaXRpb246IGFic29sdXRlO1xyXG4gICAgICAgIGNvbnRlbnQ6IFwiQ2xpY2sgeGVtIOG6o25oXCI7XHJcbiAgICAgICAgdG9wOiAwO1xyXG4gICAgICAgIHJpZ2h0OiAwO1xyXG4gICAgICAgIGJvdHRvbTogMDtcclxuICAgICAgICBsZWZ0OiAwO1xyXG4gICAgICAgIGNvbG9yOiB2YXIoLS1jb2xvci13aGl0ZSk7XHJcbiAgICAgICAgQGluY2x1ZGUgZmxleC1jZW50ZXIoKTtcclxuICAgICAgICBAaW5jbHVkZSB0cmFuc2l0aW9uKCk7XHJcbiAgICAgIH1cclxuXHJcbiAgICAgIGltZyB7XHJcbiAgICAgICAgcG9zaXRpb246IHJlbGF0aXZlO1xyXG4gICAgICAgIGZpbHRlcjogYnJpZ2h0bmVzcygwLjEpO1xyXG4gICAgICAgIEBpbmNsdWRlIHRyYW5zaXRpb24oKTtcclxuICAgICAgfVxyXG5cclxuICAgICAgJjpob3ZlciB7XHJcbiAgICAgICAgJjphZnRlciB7XHJcbiAgICAgICAgICBvcGFjaXR5OiAwO1xyXG4gICAgICAgICAgdmlzaWJpbGl0eTogdmlzaWJsZTtcclxuICAgICAgICB9XHJcblxyXG4gICAgICAgIGltZyB7XHJcbiAgICAgICAgICBmaWx0ZXI6IGJyaWdodG5lc3MoMSk7XHJcbiAgICAgICAgfVxyXG4gICAgICB9XHJcbiAgICB9XHJcbiAgfVxyXG5cclxuICAmX19pbWFnZSxcclxuICAucGFnZS1saW5rcyB7XHJcbiAgICBtYXJnaW4tYm90dG9tOiAzMHB4O1xyXG4gIH1cclxuXHJcbiAgJl9fdGl0bGUge1xyXG4gICAgbWFyZ2luLWJvdHRvbTogMS42cmVtO1xyXG4gICAgbGluZS1oZWlnaHQ6IDNyZW07XHJcbiAgICB0ZXh0LXRyYW5zZm9ybTogdXBwZXJjYXNlO1xyXG4gICAgY29sb3I6ICNGQzAwMDA7XHJcbiAgfVxyXG5cclxuICAmX190YXgge1xyXG4gICAgbWFyZ2luLWJvdHRvbTogMjBweDtcclxuICB9XHJcblxyXG4gIC5wb3N0LW1ldGEge1xyXG4gICAgbWFyZ2luLWJvdHRvbTogMS4ycmVtO1xyXG4gICAgcGFkZGluZy1sZWZ0OiAxcmVtO1xyXG4gICAgZGlzcGxheTogZ3JpZDtcclxuICAgIGdyaWQtZ2FwOiAxLjJyZW07XHJcbiAgICBhbGlnbi1pdGVtczogY2VudGVyO1xyXG4gICAgZm9udC1zaXplOiAxLjJyZW07XHJcbiAgICBsaW5lLWhlaWdodDogMi4ycmVtO1xyXG4gICAgY29sb3I6ICM5NjlDOUY7XHJcblxyXG4gICAgQG1lZGlhIChtaW4td2lkdGg6IDU3NnB4KSB7XHJcbiAgICAgIGdyaWQtdGVtcGxhdGUtY29sdW1uczogYXV0byAxZnI7XHJcbiAgICB9XHJcblxyXG4gICAgYSB7XHJcbiAgICAgIGNvbG9yOiAjOTY5QzlGO1xyXG4gICAgfVxyXG5cclxuICAgICZfX2l0ZW0ge1xyXG4gICAgICBkaXNwbGF5OiBncmlkO1xyXG4gICAgICBncmlkLWdhcDogLjhyZW07XHJcbiAgICAgIGdyaWQtdGVtcGxhdGUtY29sdW1uczogMnJlbSAxZnI7XHJcbiAgICAgIGFsaWduLWl0ZW1zOiBjZW50ZXI7XHJcbiAgICB9XHJcbiAgfVxyXG59XHJcblxyXG4uc2luZ2xlLWNvbnRhY3QtdXMge1xyXG4gIHBhZGRpbmc6IDEuMnJlbSAxLjZyZW07XHJcbiAgYmFja2dyb3VuZC1pbWFnZTogdXJsKFwiLi4vLi4vLi4vaW1hZ2VzL2JrLXN1cHBvcnQtc2luZ2xlLnBuZ1wiKTtcclxuICBiYWNrZ3JvdW5kLXBvc2l0aW9uOiBjZW50ZXI7XHJcbiAgYmFja2dyb3VuZC1zaXplOiBjb3ZlcjtcclxuICBiYWNrZ3JvdW5kLXJlcGVhdDogbm8tcmVwZWF0O1xyXG5cclxuICAuZ3JpZCB7XHJcbiAgICBkaXNwbGF5OiBncmlkO1xyXG4gICAgZ3JpZC1nYXA6IDIuNHJlbSA0cmVtO1xyXG4gICAgYWxpZ24taXRlbXM6IGNlbnRlcjtcclxuICAgIGJvcmRlcjogLjJyZW0gc29saWQgdmFyKC0tY29sb3Itd2hpdGUpO1xyXG5cclxuICAgIEBtZWRpYSAobWluLXdpZHRoOiAxMjAwcHgpIHtcclxuICAgICAgcGFkZGluZzogMnJlbSAyLjRyZW07XHJcbiAgICB9XHJcblxyXG4gICAgQG1lZGlhIChtYXgtd2lkdGg6IDExOTlweCkge1xyXG4gICAgICBwYWRkaW5nOiAycmVtIDEuNnJlbTtcclxuICAgIH1cclxuXHJcbiAgICBAbWVkaWEgKG1pbi13aWR0aDogOTkycHgpIHtcclxuICAgICAgZ3JpZC10ZW1wbGF0ZS1jb2x1bW5zOiByZXBlYXQoMiwgMWZyKTtcclxuICAgIH1cclxuXHJcbiAgICAudGl0bGUge1xyXG4gICAgICBmb250LXdlaWdodDogOTAwO1xyXG4gICAgICBmb250LWZhbWlseTogdmFyKC0tYm9keS1mb250LWZhbWlseSk7XHJcblxyXG4gICAgICBAbWVkaWEgKG1pbi13aWR0aDogMTIwMHB4KSB7XHJcbiAgICAgICAgZm9udC1zaXplOiAyLjlyZW07XHJcbiAgICAgIH1cclxuXHJcbiAgICAgIEBtZWRpYSAobWF4LXdpZHRoOiAxMTk5cHgpIHtcclxuICAgICAgICBmb250LXNpemU6IDJyZW07XHJcbiAgICAgIH1cclxuXHJcbiAgICAgICYudGl0bGUtc3VwcG9ydCB7XHJcbiAgICAgICAgbWFyZ2luLWJvdHRvbTogMi41cmVtO1xyXG4gICAgICAgIGNvbG9yOiB2YXIoLS1jb2xvci13aGl0ZSk7XHJcbiAgICAgIH1cclxuXHJcbiAgICAgICYudGl0bGUtZm9ybSB7XHJcbiAgICAgICAgbWFyZ2luLWJvdHRvbTogMS43cmVtO1xyXG4gICAgICAgIGNvbG9yOiAjRjAwO1xyXG4gICAgICB9XHJcbiAgICB9XHJcblxyXG4gICAgLmxpc3Qtc3VwcG9ydCB7XHJcbiAgICAgIGRpc3BsYXk6IGdyaWQ7XHJcbiAgICAgIGFsaWduLWl0ZW1zOiBjZW50ZXI7XHJcblxyXG4gICAgICBAbWVkaWEgKG1pbi13aWR0aDogMTIwMHB4KSB7XHJcbiAgICAgICAgZ3JpZC1nYXA6IDIuNHJlbSAzLjVyZW07XHJcbiAgICAgIH1cclxuXHJcbiAgICAgIEBtZWRpYSAobWF4LXdpZHRoOiAxMTk5cHgpIHtcclxuICAgICAgICBncmlkLWdhcDogMi40cmVtIDEuMnJlbTtcclxuICAgICAgfVxyXG5cclxuICAgICAgQG1lZGlhIChtaW4td2lkdGg6IDM3NnB4KSB7XHJcbiAgICAgICAgZ3JpZC10ZW1wbGF0ZS1jb2x1bW5zOiByZXBlYXQoMiwgMWZyKTtcclxuICAgICAgfVxyXG5cclxuICAgICAgJl9faXRlbSB7XHJcbiAgICAgICAgQGluY2x1ZGUgZmxleC1jZW50ZXIoKTtcclxuICAgICAgICBmbGV4LWRpcmVjdGlvbjogY29sdW1uO1xyXG5cclxuICAgICAgICAudGh1bWJuYWlsIHtcclxuICAgICAgICAgIG1hcmdpbi1ib3R0b206IDIuNXJlbTtcclxuICAgICAgICAgIHBvc2l0aW9uOiByZWxhdGl2ZTtcclxuICAgICAgICAgIEBpbmNsdWRlIHNxdWFyZSg5cmVtLCA1MCUpO1xyXG4gICAgICAgICAgbGluZS1oZWlnaHQ6IDEwMCU7XHJcbiAgICAgICAgICBAaW5jbHVkZSBmbGV4LWNlbnRlcigpO1xyXG4gICAgICAgICAgYmFja2dyb3VuZC1jb2xvcjogdmFyKC0tY29sb3Itd2hpdGUpO1xyXG5cclxuICAgICAgICAgICY6YmVmb3JlIHtcclxuICAgICAgICAgICAgcG9zaXRpb246IGFic29sdXRlO1xyXG4gICAgICAgICAgICBjb250ZW50OiBcIlwiO1xyXG4gICAgICAgICAgICB0b3A6IC0wLjVyZW07XHJcbiAgICAgICAgICAgIHJpZ2h0OiAtMC41cmVtO1xyXG4gICAgICAgICAgICBib3R0b206IC0wLjVyZW07XHJcbiAgICAgICAgICAgIGxlZnQ6IC0wLjVyZW07XHJcbiAgICAgICAgICAgIGJvcmRlci1yYWRpdXM6IDUwJTtcclxuICAgICAgICAgICAgYm9yZGVyOiAuNXJlbSBzb2xpZCByZ2JhKDI1NSwyNTUsMjU1LDAuMik7XHJcbiAgICAgICAgICB9XHJcbiAgICAgICAgfVxyXG5cclxuICAgICAgICBhIHtcclxuICAgICAgICAgIGRpc3BsYXk6IGlubGluZS1ibG9jaztcclxuICAgICAgICAgIGJvcmRlcjogMnB4IHNvbGlkIHZhcigtLWNvbG9yLXdoaXRlKTtcclxuICAgICAgICAgIGJvcmRlci1yYWRpdXM6IDJyZW07XHJcbiAgICAgICAgICBmb250LXNpemU6IDEuNXJlbTtcclxuICAgICAgICAgIGZvbnQtd2VpZ2h0OiA3MDA7XHJcbiAgICAgICAgICBjb2xvcjogdmFyKC0tY29sb3Itd2hpdGUpO1xyXG4gICAgICAgICAgbGluZS1oZWlnaHQ6IDIuMnJlbTtcclxuXHJcbiAgICAgICAgICBAbWVkaWEgKG1pbi13aWR0aDogMTIwMHB4KSB7XHJcbiAgICAgICAgICAgIHBhZGRpbmc6IC41cmVtIDJyZW07XHJcbiAgICAgICAgICB9XHJcblxyXG4gICAgICAgICAgQG1lZGlhIChtYXgtd2lkdGg6IDExOTlweCkge1xyXG4gICAgICAgICAgICBwYWRkaW5nOiAuNXJlbSAxcmVtO1xyXG4gICAgICAgICAgfVxyXG5cclxuICAgICAgICAgICYubGluay1waG9uZSB7XHJcbiAgICAgICAgICAgIGJhY2tncm91bmQtY29sb3I6ICNGRjAxMDQ7XHJcbiAgICAgICAgICB9XHJcblxyXG4gICAgICAgICAgJi5saW5rLWNoYXQge1xyXG4gICAgICAgICAgICBiYWNrZ3JvdW5kLWNvbG9yOiAjMDBBQTUwO1xyXG4gICAgICAgICAgfVxyXG4gICAgICAgIH1cclxuICAgICAgfVxyXG4gICAgfVxyXG5cclxuICAgIC5ib3gtZm9ybSB7XHJcbiAgICAgIHBhZGRpbmc6IDEuNnJlbTtcclxuICAgICAgYm9yZGVyLXJhZGl1czogLjVyZW07XHJcbiAgICAgIGJhY2tncm91bmQ6IHZhcigtLWNvbG9yLXdoaXRlKTtcclxuICAgICAgYm94LXNoYWRvdzogMCAuNHJlbSAuNHJlbSAwIHJnYmEoMCwgMCwgMCwgMC4yNSk7XHJcblxyXG4gICAgICAud3BjZjctZm9ybSB7XHJcbiAgICAgICAgLndwY2Y3LWZvcm0tY29udHJvbC13cmFwIHtcclxuICAgICAgICAgIGlucHV0LFxyXG4gICAgICAgICAgdGV4dGFyZWEge1xyXG4gICAgICAgICAgICBwYWRkaW5nOiAuOXJlbSAxLjRyZW07XHJcbiAgICAgICAgICAgIGZvbnQtc2l6ZTogMS42cmVtO1xyXG4gICAgICAgICAgICBjb2xvcjogIzAwMDtcclxuICAgICAgICAgICAgYm9yZGVyOiAuMXJlbSBzb2xpZCAjQjFCMUIxO1xyXG4gICAgICAgICAgICBib3JkZXItcmFkaXVzOiAwO1xyXG4gICAgICAgICAgICBiYWNrZ3JvdW5kOiB2YXIoLS1jb2xvci13aGl0ZSk7XHJcbiAgICAgICAgICB9XHJcbiAgICAgICAgfVxyXG5cclxuICAgICAgICAud3BjZjctc3VibWl0IHtcclxuICAgICAgICAgIHBhZGRpbmc6IC40cmVtIDNyZW07XHJcbiAgICAgICAgICBib3JkZXItcmFkaXVzOiA1cmVtO1xyXG4gICAgICAgICAgZm9udC1zaXplOiAxLjVyZW07XHJcbiAgICAgICAgICBmb250LXdlaWdodDogNzAwO1xyXG4gICAgICAgIH1cclxuICAgICAgfVxyXG4gICAgfVxyXG4gIH1cclxufVxyXG5cclxuLnJlbGF0ZWQtcG9zdHMge1xyXG4gIG1hcmdpbi10b3A6IDNyZW07XHJcblxyXG4gICZfX3RvcCB7XHJcbiAgICBtYXJnaW4tYm90dG9tOiAxLjVyZW07XHJcbiAgICBkaXNwbGF5OiBncmlkO1xyXG4gICAgZ3JpZC1nYXA6IC44cmVtO1xyXG4gICAgZ3JpZC10ZW1wbGF0ZS1jb2x1bW5zOiAyLjhyZW0gMWZyO1xyXG4gICAgYWxpZ24taXRlbXM6IGNlbnRlcjtcclxuXHJcbiAgICAuaWNvbiB7XHJcbiAgICAgIHRleHQtYWxpZ246IGNlbnRlcjtcclxuICAgICAgQGluY2x1ZGUgc3F1YXJlKDIuOHJlbSwgNTAlKTtcclxuICAgICAgYmFja2dyb3VuZDogI0YwMDtcclxuICAgIH1cclxuXHJcbiAgICAudGl0bGUge1xyXG4gICAgICBAbWVkaWEgKG1pbi13aWR0aDogOTkycHgpIHtcclxuICAgICAgICBmb250LXNpemU6IDIuNHJlbTtcclxuICAgICAgfVxyXG5cclxuICAgICAgQG1lZGlhIChtYXgtd2lkdGg6IDk5MXB4KSB7XHJcbiAgICAgICAgZm9udC1zaXplOiAycmVtO1xyXG4gICAgICB9XHJcbiAgICB9XHJcbiAgfVxyXG5cclxuICAuZ3JpZC1sYXlvdXQge1xyXG4gICAgZGlzcGxheTogZ3JpZDtcclxuICAgIGdyaWQtZ2FwOiAxLjZyZW0gMXJlbTtcclxuXHJcbiAgICBAbWVkaWEgKG1pbi13aWR0aDogNjAwcHgpIHtcclxuICAgICAgZ3JpZC10ZW1wbGF0ZS1jb2x1bW5zOiByZXBlYXQoMywgMWZyKTtcclxuICAgIH1cclxuXHJcbiAgICBAbWVkaWEgKG1pbi13aWR0aDogMzc2cHgpIGFuZCAobWF4LXdpZHRoOiA1OTlweCkge1xyXG4gICAgICBncmlkLXRlbXBsYXRlLWNvbHVtbnM6IHJlcGVhdCgyLCAxZnIpO1xyXG4gICAgfVxyXG4gIH1cclxuXHJcbiAgLnJlbGF0ZWQtcG9zdC1pdGVtIHtcclxuICAgIC5wb3N0LWltYWdlIHtcclxuICAgICAgbWFyZ2luLWJvdHRvbTogMXJlbTtcclxuICAgICAgaGVpZ2h0OiAxNnJlbTtcclxuXHJcbiAgICAgIGltZyB7XHJcbiAgICAgICAgd2lkdGg6IDEwMCU7XHJcbiAgICAgICAgaGVpZ2h0OiAxMDAlO1xyXG4gICAgICAgIG9iamVjdC1maXQ6IGNvdmVyO1xyXG4gICAgICB9XHJcbiAgICB9XHJcblxyXG4gICAgLnRpdGxlLXBvc3Qge1xyXG4gICAgICBtYXJnaW46IDA7XHJcbiAgICAgIGZvbnQtc2l6ZTogMS41cmVtO1xyXG4gICAgICBmb250LWZhbWlseTogdmFyKC0tYm9keS1mb250LWZhbWlseSk7XHJcbiAgICAgIGZvbnQtd2VpZ2h0OiA0MDA7XHJcbiAgICAgIGxpbmUtaGVpZ2h0OiAycmVtO1xyXG4gICAgfVxyXG4gIH1cclxufSIsIkBtaXhpbiByZXNldC1saXN0IHtcclxuICBtYXJnaW46IDA7XHJcbiAgcGFkZGluZzogMDtcclxuICBsaXN0LXN0eWxlOiBub25lO1xyXG59XHJcblxyXG5AbWl4aW4gYm94KCR3aWR0aCwgJGhlaWdodDogJHdpZHRoKSB7XHJcbiAgd2lkdGg6ICR3aWR0aDtcclxuICBoZWlnaHQ6ICRoZWlnaHQ7XHJcbn1cclxuXHJcbkBtaXhpbiBzcXVhcmUoJHNpemUsICRyYWRpdXM6IDApIHtcclxuICB3aWR0aDogJHNpemU7XHJcbiAgaGVpZ2h0OiAkc2l6ZTtcclxuXHJcbiAgQGlmICRyYWRpdXMgIT0gMCB7XHJcbiAgICBib3JkZXItcmFkaXVzOiAkcmFkaXVzO1xyXG4gIH1cclxufVxyXG5cclxuQG1peGluIGNvdmVyLWJhY2tncm91bmQge1xyXG4gIGJhY2tncm91bmQtcmVwZWF0OiBuby1yZXBlYXQ7XHJcbiAgYmFja2dyb3VuZC1zaXplOiBjb3ZlcjtcclxuICBiYWNrZ3JvdW5kLXBvc2l0aW9uOiBjZW50ZXI7XHJcbn1cclxuXHJcbkBtaXhpbiBmbGV4LWNvbHVtbiB7XHJcbiAgZGlzcGxheTogZmxleDtcclxuICBmbGV4LWRpcmVjdGlvbjogY29sdW1uO1xyXG59XHJcblxyXG5AbWl4aW4gZmxleC1jZW50ZXIge1xyXG4gIGRpc3BsYXk6IGZsZXg7XHJcbiAgYWxpZ24taXRlbXM6IGNlbnRlcjtcclxuICBqdXN0aWZ5LWNvbnRlbnQ6IGNlbnRlcjtcclxufVxyXG5cclxuQG1peGluIGZsZXgtY2VudGVyLWNvbHVtbiB7XHJcbiAgQGluY2x1ZGUgZmxleC1jZW50ZXI7XHJcbiAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjtcclxufVxyXG5cclxuQG1peGluIGZsZXgtY2VudGVyLXZlcnQge1xyXG4gIGRpc3BsYXk6IGZsZXg7XHJcbiAgYWxpZ24taXRlbXM6IGNlbnRlcjtcclxufVxyXG5cclxuQG1peGluIGZsZXgtY2VudGVyLWhvcml6IHtcclxuICBkaXNwbGF5OiBmbGV4O1xyXG4gIGp1c3RpZnktY29udGVudDogY2VudGVyO1xyXG59XHJcblxyXG5AbWl4aW4gdHJhbnNpdGlvbiggJHRyYW5zaXRpb246IGFsbCAwLjRzIGVhc2UtaW4tb3V0ICkge1xyXG4gIHRyYW5zaXRpb246ICR0cmFuc2l0aW9uO1xyXG59XHJcblxyXG5AbWl4aW4gZ3JpZC1jb2x1bW5zKCRnYXAsICRjb2x1bW5zKSB7XHJcbiAgZGlzcGxheTogZ3JpZDtcclxuICBncmlkLWdhcDogJGdhcDtcclxuICBncmlkLXRlbXBsYXRlLWNvbHVtbnM6ICRjb2x1bW5zO1xyXG59Il19 */
