// Color
$color-body: #222222;
$color-heading: #000000;
$color-hover: #d74848;
$color-required: #d74848;

$color-white: #ffffff;
$color-dim-gray: #686868;
$color-salem: #0F8D16;
$color-cadmium-yellow: #FDE700;
$color-cadmium-green: #02754A;
$color-sunset-orange: #FE5B58;
$color-platinum: #E6E6E6;
$color-red: #DD3838;

// Background
$background-body: #ffffff;
$background-primary: #333333;
$background-hover: #d74848;
$background-second: rgba(0, 0, 0, .6);

// Border color
$border-color: #eeeeee;