// Color
$body-color: #000000;
$heading-color: #AD1C21;
$secondary-color: #FFE600;
$tertiary-color: #7D4510;

$color-hover: #1D93E3;
$color-required: #ff5555;

$color-white: #ffffff;
$color-salem: #208B45;
$color-cadmium-green: #0A5E2C;
$color-cadmium-yellow: #FFF400;
$color-sunset-orange: #FF0000;

// Background
$background-body: #ffffff;
$background-primary: #333333;
$background-hover: #FF0000;
$background-second: rgba(0, 0, 0, .6);

// Border color
$border-color: #eeeeee;