// Font Families
$body-font-family: 'Roboto', sans-serif;
$heading-font-family: 'Arimo', sans-serif;

$font-icon : 'icomoon';

// font size
$font-size-body: 1.6rem;
$line-body: 1.5;
$line-heading: 1.2;

$h1-font-size: 3.2rem !default;
$h2-font-size: 3rem !default;
$h3-font-size: 2.8rem !default;
$h4-font-size: 2.6rem !default;
$h5-font-size: 2.4rem !default;
$h6-font-size: 2.2rem !default;