.global-footer {
  section {
    &.widget {
      margin-bottom: 2.3rem;

      .textwidget {
        iframe {
          min-height: 38rem;
        }
      }

      .info-company-widget {
        color: var(--color-white);
      }

      .open-hours-widget {
        @media (min-width: 992px) {
          padding: 0 3rem;
        }

        &__warp {
          border-color: var(--color-white);
        }

        .item {
          &__note {
            color: var(--color-white);
          }
        }
      }
    }
  }

  &__column {
    padding: 4rem 0 2rem;
    background-color: #28884f;
  }
}

.contact-us-group {
  padding: 1.2rem 0;
  position: sticky;
  bottom: 0;
  z-index: 10;
  text-align: start;
  border-top: .5rem solid #28884F;
  background-color: #00a878;

  .grid-layout {
    min-height: 6rem;
    display: flex;
    flex-wrap: wrap;

    @media (min-width: 1200px) {
      gap: 3rem 6rem;
    }

    @media (min-width: 992px) and (max-width: 1199px) {
      gap: 3rem 5rem;
    }

    .item {
      position: relative;
      padding: 0 .5rem;
      display: grid;
      grid-gap: 1rem;
      align-items: center;
      flex: auto;

      @media (min-width: 1200px) {
        grid-template-columns: auto 1fr;
      }

      @media (min-width: 992px) and (max-width: 1199px) {
        grid-template-columns: 3.2rem 1fr;
      }

      ~ .item {
        &:after {
          position: absolute;
          content: "";
          top: 0;
          left: -2.5rem;
          bottom: 0;
          width: .6rem;
          background-color: var(--color-white);
        }
      }

      .link {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      &__icon {}

      &__content {
        font-family: var(--heading-font-family);
        font-weight: 700;
        line-height: 1.2;

        span {
          display: block;

          ~ span {
            margin-top: .2rem;
          }

          &.txt-top {
            color: var(--color-white);

            @media (min-width: 1200px) {
              font-size: 1.6rem;
            }

            @media (min-width: 992px) and (max-width: 1199px) {
              font-size: 1.4rem;
            }
          }

          &.txt-sub {
            color: #FFF4C3;
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}