* {
  outline: none !important;
}

:root {
  --body-font-family: #{$body-font-family};
  --font-size-body: #{$font-size-body};
  --body-color: #{$body-color};
  --background-body: #{$background-body};

  --heading-font-family: #{$heading-font-family};
  --heading-color: #{$heading-color};
  --font-size-h1: #{$h1-font-size};
  --font-size-h2: #{$h2-font-size};
  --font-size-h3: #{$h3-font-size};
  --font-size-h4: #{$h4-font-size};
  --font-size-h5: #{$h5-font-size};
  --font-size-h6: #{$h6-font-size};

  --theme-secondary-color: #{$secondary-color};
  --theme-tertiary-color: #{$tertiary-color};
  --color-white: #{$color-white};
  --color-salem: #{$color-salem};
  --color-cadmium-yellow: #{$color-cadmium-yellow};
  --color-cadmium-green: #{$color-cadmium-green};
  --color-sunset-orange: #{$color-sunset-orange};
}

html {
  min-height: 100%;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  word-break: break-word;
  @include flex-column;

  .lSSlideOuter {
    .lSPager {
      &.lSpg {
        > li {
          a {
            @include square(1rem, 50%);
          }
        }
      }
    }
  }
}

a {
  font-family: inherit;
  line-height: inherit;
  @include transition();
}

p {
  &:last-child {
    margin-bottom: 0;
  }
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
}

blockquote {
  border-left: 1px solid $color-hover;
  padding-left: 30px;
}

pre {
  white-space: pre-wrap;
  margin-bottom: 30px;
}

.sticky-footer {
  flex: 1 0 auto;
}

#site-loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--color-white);
  z-index: 99999;
}

#back-top {
  background-color: $background-hover;
  opacity: 0;
  width: 40px;
  height: 40px;
  bottom: 0;
  cursor: pointer;
  position: fixed;
  right: 15px;
  z-index: 1000;
  @include transition();

  a {
    display: block;
    color: #ffffff;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    @include transition(all 0.25s ease-in-out);
  }

  &.active_top {
    opacity: 1;
    bottom: 15px;
  }

  &:hover {
    background-color: $background-primary;
  }
}

.reset-list {
  @include reset-list();
}

#wpadminbar {
  z-index: 99;
}

.f-family-body {
  font-family: var(--body-font-family);
}

.f-family-heading {
  font-family: var(--heading-font-family);
}

.fw-900 {
  font-weight: 900;
}

.fs-16 {
  font-size: 1.6rem;
}

.color-white {
  color: var(--color-white);
}

.color-cadmium-yellow {
  color: var(--color-cadmium-yellow);
}

.text-justify {
  text-align: justify;
}

.mt-16 {
  margin-top: 1.6rem;
}

.mb-16 {
  margin-bottom: 1.6rem;
}

.mt-24 {
  margin-top: 2.4rem;
}

.mb-24 {
  margin-bottom: 2.4rem;
}

/* Social network */
.social-network-item {
  display: inline-block;
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }

  a {
    display: block;
  }
}

/* Breadcrumbs */
.breadcrumbs {
  padding: 1.5rem 0;
  background-color: #FBF5D5;
}

/* Pagination */
.pagination {
  display: block;
  float: none;
  text-align: center;
  margin-top: 50px;
}

.page-numbers {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;

    span,
    a {
      display: block;
      cursor: pointer;
      border: 1px solid #ddd;
      padding: 5px 12px;
      position: relative;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
    }

    span.current,
    a:hover {
      background: $background-hover;
      border-color: $background-hover;
      color: #ffffff;
    }
  }
}

/* Pagination */
.pagination {
  display: block;
  float: none;
  margin-top: 3rem;
}

.page-numbers {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;

    ~ li {
      margin-left: .6rem;
    }

    span,
    a {
      display: block;
      cursor: pointer;
      border: 1px solid #ddd;
      padding: 5px 12px;
      font-weight: 700;
      position: relative;
    }

    span.current,
    a:hover {
      background: var(--heading-color);
      border-color: var(--heading-color);
      color: #ffffff;
    }
  }
}

.title-has-icon {
  display: grid;
  grid-gap: 1.2rem;
  grid-template-columns: 4rem 1fr;
  align-items: center;

  + p {
    margin-top: 1.5rem;
  }

  &__text {
    margin: 0;
    font-size: 2rem;
    line-height: 3rem;
    text-transform: uppercase;
  }
}

.chat-with-us {
  position: fixed;
  right: 1.6rem;
  z-index: 99;
  display: grid;
  grid-row-gap: 1.2rem;
  grid-template-columns: 5rem;
  align-items: center;

  @media (min-width: 992px) {
    bottom: 10rem;
  }

  @media (max-width: 991px) {
    bottom: 10rem;
  }
}

#LRMINIBar {
  bottom: 2rem !important;
}

/* owl carousel navigation */
.owl-carousel {
  .owl-nav {
    text-align: center;
    margin-top: 15px;

    button {
      &.owl-prev,
      &.owl-next {
        margin: 0 6px;
        color: var(--color-salem);
        font-size: 20px;
        line-height: normal;
        @include transition();

        &:hover {
          color: $color-hover;
        }
      }
    }
  }

  .owl-dots {
    margin-top: 2rem;
    @include flex-center;

    .owl-dot {
      display: inline-block;
      margin: 0 5px;

      span {
        display: block;
        width: 1.2rem;
        height: 1.2rem;
        background-color: #ddd;
        border-radius: 50%;
        @include transition(all 0.2s ease-in-out);
      }

      &.active,
      &:hover {
        span {
          background-color: var(--heading-color);
        }
      }
    }
  }
}

.custom-equal-height-owl {
  .owl-stage {
    display: flex;

    .owl-item {
      display: flex;
      flex: 1 0 auto;
    }
  }
}

.modal-appointment-form {
  .wpcf7-form {
    .wpcf7-form-control-wrap {
      input,
      textarea {
        color: #000;
        background-color: #e6e6e6;
      }
    }
  }
}

.animate-character {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg, #078450 0%, #0AA389 29%, #000000 67%, #FF8621 100%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: text-clip 2s linear infinite;
  display: inline-block;
}

@keyframes text-clip {
  to {
    background-position: 200% center;
  }
}

.contact-us-mobile {
  padding: 0 1.2rem;
  position: sticky;
  bottom: 0;
  background: #ffffff;
  z-index: 999;

  .warp {
    position: relative;
    max-width: 64rem;
    margin: 0 auto;
  }

  .item {
    position: absolute;
    top: 0;
    height: 100%;

    &.chat {
      left: 0;
      width: 38%;
    }

    &.phone {
      left: 38%;
      width: 35%;
    }

    &.chat-with-us__zalo {
      right: 0;
      width: 27%;
    }

  }
}

.popup-modal-contact {
  .modal-dialog {
    .modal-content {
      @media (max-width: 991px) {
        max-width: 35rem;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .modal-header {
      position: relative;

      @media (min-width: 992px) {
        display: flex;
        justify-content: flex-end;
      }

      @media (max-width: 991px) {
        margin-bottom: 2rem;
        padding-top: 3.6rem;
        background-color: var(--color-cadmium-green);

        .info {
          display: grid;
          grid-gap: 1.2rem;
          grid-template-columns: 7rem 1fr;
          align-items: center;

          .avatar {
            .thumbnail {
              overflow: hidden;
              @include square(7rem, 50%);
              border: .3rem solid var(--color-white);
            }
          }

          .content {
            .name {
              margin-bottom: .6rem;
              font-size: 1.5rem;
              color: var(--color-white);

              span {
                color: var(--color-cadmium-yellow);
              }
            }

            .position {
              color: var(--color-white);
            }
          }
        }
      }

      .btn-close-modal {
        font-size: 2rem;
        background-color: transparent;

        @media (max-width: 991px) {
          position: absolute;
          top: .8rem;
          right: 1rem;
          color: #ffffff;
        }
      }
    }

    .modal-body {
      @media (min-width: 992px) {
        padding: 2rem 3.2rem 2.2rem 1.6rem;
        min-height: 42rem;
        background-image: url("../images/popup-contact.png");
        background-position: right bottom;
        background-size: 100%;
        background-repeat: no-repeat;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        flex-direction: column;
      }

      @media (max-width: 991px) {
        padding: 0;
      }

      .title {
        color: #EC2F10;
        font-size: 1.9rem;
        font-family: var(--body-font-family);

        @media (max-width: 991px) {
          text-align: center;
        }
      }

      .wpcf7-form {
        @media (min-width: 992px) {
          max-width: 21rem;
          margin: 0 0 0 auto;
        }

        .list-check-box {
          @media (min-width: 992px) {
            margin-bottom: 2.5rem;
          }

          @media (max-width: 992px) {
            display: flex;
            justify-content: center;
          }
        }

        p {
          @media (min-width: 992px) {
            &:has(input.wpcf7-submit) {
              text-align: left;
              font-size: 1.5rem;
            }
          }
        }

        .note {
          color: var(--color-white);
          font-size: 1.36rem;
        }

        .wpcf7-checkbox {
          display: flex;
          flex-direction: column;

          .wpcf7-list-item {
            margin: 0;

            ~ .wpcf7-list-item {
              margin-top: 1rem;
            }

            label {
              margin: 0;
              flex: 1;
              display: flex;
              font-size: 1.5rem;

              input {
                margin-right: 1.2rem;
                flex: 0 0 auto;
                width: 1.6rem;
              }

              .wpcf7-list-item-label {
                flex: 1;
              }
            }
          }
        }

        .wpcf7-form-control-wrap {
          input {
            &:not([type="checkbox"]) {
              padding: .8rem 1.2rem;
              background-color: #eee;
              color: #000;
              font-size: 1.5rem;
            }
          }
        }

        .wpcf7-submit {
          padding-top: 1rem;
          color: #000;
          font-weight: 500;
          border-radius: 1rem;
          background-color: var(--color-cadmium-yellow);
        }

        .wpcf7-not-valid-tip {
          font-size: 1.2rem;
        }

        .last-box {
          @media (max-width: 991px) {
            margin-top: 1.6rem;
            padding: 1.2rem;
            background-color: var(--color-cadmium-green);
          }
        }
      }
    }
  }
}