* {
  outline: none !important;
}

:root {
  --body-font-family: #{$body-font-family};
  --font-size-body: #{$font-size-body};
  --body-color: #{$body-color};
  --background-body: #{$background-body};

  --heading-font-family: #{$heading-font-family};
  --heading-color: #{$heading-color};
  --font-size-h1: #{$h1-font-size};
  --font-size-h2: #{$h2-font-size};
  --font-size-h3: #{$h3-font-size};
  --font-size-h4: #{$h4-font-size};
  --font-size-h5: #{$h5-font-size};
  --font-size-h6: #{$h6-font-size};

  --clinic-theme-primary-color: #{$theme-primary-color};
  --clinic-theme-secondary-color: #{$theme-secondary-color};
  --clinic-theme-tertiary-color: #{$theme-tertiary-color};
  --clinic-theme-quaternary-color: #{$theme-quaternary-color};
  --clinic-theme-fifth-color: #{$theme-fifth-color};
  --clinic-theme-six-color: #{$theme-six-color};
  --clinic-theme-seven-color: #{$theme-seven-color};
  --clinic-theme-eighth-color: #{$theme-eighth-color};

  --color-white: #{$color-white};
  --color-salem: #{$color-salem};
  --color-cadmium-yellow: #{$color-cadmium-yellow};
  --color-cadmium-green: #{$color-cadmium-green};
  --color-sunset-orange: #{$color-sunset-orange};
}

html {
  min-height: 100%;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  word-break: break-word;
  @include flex-column;

  .lSSlideOuter {
    .lSPager {
      &.lSpg {
        > li {
          a {
            @include square(1rem, 50%);
          }
        }
      }
    }
  }
}

a {
  font-family: inherit;
  line-height: inherit;
  color: inherit;
  @include transition();
}

p {
  &:last-child {
    margin-bottom: 0;
  }
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
}

blockquote {
  border-left: 1px solid $color-hover;
  padding-left: 30px;
}

pre {
  white-space: pre-wrap;
  margin-bottom: 30px;
}

.sticky-footer {
  flex: 1 0 auto;
}

#site-loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--color-white);
  z-index: 99999;
}

.reset-list {
  @include reset-list();
}

#wpadminbar {
  z-index: 99;
}

.f-family-body {
  font-family: var(--body-font-family);
}

.f-family-heading {
  font-family: var(--heading-font-family);
}

.fw-900 {
  font-weight: 900;
}

.fs-16 {
  font-size: 1.6rem;
}

.color-white {
  color: var(--color-white);
}

.color-cadmium-yellow {
  color: var(--color-cadmium-yellow);
}

.text-justify {
  text-align: justify;
}

.mt-16 {
  margin-top: 1.6rem;
}

.mb-16 {
  margin-bottom: 1.6rem;
}

.mt-24 {
  margin-top: 2.4rem;
}

.mb-24 {
  margin-bottom: 2.4rem;
}

/* Social network */
.social-network-item {
  display: inline-block;
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }

  a {
    display: block;
  }
}

/* Breadcrumbs */
.breadcrumbs {
  margin-bottom: 1.6rem;
  padding: 1.2rem 2.4rem;
  color: #000000;
  background-color: #EDEDED;

  a {
    color: var(--clinic-theme-primary-color);
  }
}

/* Pagination */
.pagination {
  display: block;
  float: none;
  text-align: center;
  margin-top: 50px;
}

.page-numbers {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;

    span,
    a {
      display: block;
      cursor: pointer;
      border: 1px solid #ddd;
      padding: 5px 12px;
      position: relative;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
    }

    span.current,
    a:hover {
      background: $background-hover;
      border-color: $background-hover;
      color: #ffffff;
    }
  }
}

/* Pagination */
.pagination {
  display: block;
  float: none;
  margin-top: 3rem;
}

.page-numbers {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;

    ~ li {
      margin-left: .6rem;
    }

    span,
    a {
      display: block;
      cursor: pointer;
      border: 1px solid #ddd;
      padding: 5px 12px;
      font-weight: 700;
      position: relative;
    }

    span.current,
    a:hover {
      background: #60AD80;
      border-color: #60AD80;
      color: #ffffff;
    }
  }
}

.title-has-icon {
  display: grid;
  grid-gap: 1.2rem;
  grid-template-columns: 2.3rem 1fr;
  align-items: center;

  + p {
    margin-top: 1.5rem;
  }

  &__text {
    margin: 0;
    line-height: 3rem;
    color: #135CAA;
    text-transform: uppercase;

    @media (min-width: 992px) {
      font-size: 2.4rem;
    }

    @media (max-width: 991px) {
      font-size: 1.8rem;
    }
  }
}

.chat-with-us {
  position: fixed;
  right: 1.6rem;
  bottom: 20rem;
  z-index: 99;
  display: grid;
  grid-row-gap: 1.2rem;
  grid-template-columns: 5rem;
  align-items: center;
}

#LRMINIBar {
  bottom: 8rem !important;
}

#us_chat_content {
  #fixed_chat {
    top: auto;
    bottom: 9.5rem;
  }

  .yuanquan {
    top: auto;
    right: 1.6rem;
    bottom: 10rem;
    @include square(5rem);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* owl carousel navigation */
.owl-carousel {
  .owl-nav {
    margin: 0;

    button {
      &.owl-prev,
      &.owl-next {
        position: absolute;
        top: 50%;
        font-size: 3rem;
        line-height: normal;
        color: #167D78;
        @include transition();
        transform: translateY(-50%);

        &.owl-prev {
          left: .6rem;
        }

        &.owl-next {
          right: .6rem;
        }

        &:hover {
          color: #00A878;
        }
      }
    }
  }

  .owl-dots {
    margin-top: 1.8rem;
    @include flex-center;

    .owl-dot {
      display: inline-block;
      margin: 0 5px;

      span {
        position: relative;
        display: block;
        @include square(1.2rem);
        background-color: #DDDDDD;
        border-radius: 50%;
      }

      &.active,
      &:hover {
        span {
          background-color: #E6171F;
        }
      }
    }
  }

  &.custom-owl-nav {
    .owl-nav {
      button {
        font-size: 1.6rem;
        line-height: 100%;
        color: #ff5555;
        border: .1rem solid #ff5555;
        @include square(3.2rem, 50%);
        background-color: #ffffff;

        &.owl-prev {
          @media (min-width: 992px) {
            left: -1.6rem;
          }

          @media (max-width: 991px) {
            left: 1rem;
          }
        }

        &.owl-next {
          @media (min-width: 992px) {
            right: -1.6rem;
          }

          @media (max-width: 991px) {
            right: 1rem;
          }
        }

        &:hover {
          color: #ffffff;
          background-color: #ff5555;
        }
      }
    }
  }
}

.custom-equal-height-owl {
  .owl-stage {
    display: flex;

    .owl-item {
      display: flex;
      flex: 1 0 auto;
    }
  }
}

.modal-appointment-form {
  .wpcf7-form {
    .wpcf7-form-control-wrap {
      input,
      textarea {
        color: #000;
        background-color: #e6e6e6;
      }
    }
  }
}

.animate-character {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg, #078450 0%, #0AA389 29%, #000000 67%, #FF8621 100%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: text-clip 2s linear infinite;
  display: inline-block;
}

@keyframes text-clip {
  to {
    background-position: 200% center;
  }
}

.contact-us-mobile {
  padding: 0 1.2rem;
  position: sticky;
  bottom: 0;
  background: #ffffff;
  z-index: 999;

  .warp {
    position: relative;
    max-width: 64rem;
    margin: 0 auto;
  }

  .item {
    position: absolute;
    top: 0;
    height: 100%;

    &.chat {
      left: 0;
      width: 38%;
    }

    &.phone {
      left: 38%;
      width: 35%;
    }

    &.zalo {
      right: 0;
      width: 27%;
    }
  }
}