* {
  outline: none !important;
}

:root {
  --body-font-family: #{$body-font-family};
  --font-size-body: #{$font-size-body};
  --body-color: #{$body-color};
  --background-body: #{$background-body};

  --heading-font-family: #{$heading-font-family};
  --heading-color: #{$heading-color};
  --font-size-h1: #{$h1-font-size};
  --font-size-h2: #{$h2-font-size};
  --font-size-h3: #{$h3-font-size};
  --font-size-h4: #{$h4-font-size};
  --font-size-h5: #{$h5-font-size};
  --font-size-h6: #{$h6-font-size};

  --clinic-theme-primary-color: #{$theme-primary-color};
  --clinic-theme-secondary-color: #{$theme-secondary-color};
  --clinic-theme-tertiary-color: #{$theme-tertiary-color};
  --clinic-theme-quaternary-color: #{$theme-quaternary-color};
  --clinic-theme-fifth-color: #{$theme-fifth-color};
  --clinic-theme-six-color: #{$theme-six-color};
  --clinic-theme-seven-color: #{$theme-seven-color};
  --clinic-theme-eighth-color: #{$theme-eighth-color};

  --clinic-theme-color-hover: #{$color-hover};
  --color-white: #{$color-white};
  --color-salem: #{$color-salem};
  --color-cadmium-yellow: #{$color-cadmium-yellow};
  --color-cadmium-green: #{$color-cadmium-green};
  --color-sunset-orange: #{$color-sunset-orange};
}

html {
  min-height: 100%;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  word-break: break-word;
  @include flex-column;
}

a {
  font-family: inherit;
  line-height: inherit;
  color: inherit;
  @include transition();
}

p {
  &:last-child {
    margin-bottom: 0;
  }
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
}

blockquote {
  border-left: 1px solid var(--clinic-theme-color-hover);
  padding-left: 30px;
}

pre {
  white-space: pre-wrap;
  margin-bottom: 30px;
}

.f-family-body {
  font-family: var(--body-font-family);
}

.f-family-heading {
  font-family: var(--heading-font-family);
}

.color-white {
  color: var(--color-white);
}

.text-justify {
  text-align: justify;
}

#wpadminbar {
  z-index: 99;
}

.sticky-footer {
  flex: 1 0 auto;
}

#site-loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--color-white);
  z-index: 99999;
}

.reset-list {
  @include reset-list();
}

.site-container {
  padding: 2.4rem 0 4.2rem;

  &.site-container-elementor {
    padding: 0;
  }
}

.site-page-content {
  p {
    &:after {
      display: table;
      clear: both;
      content: '';
    }
  }
}

.modal-appointment-form {
  .modal-dialog {
    .modal-content {
      border: 0;

      .modal-header {
        padding: 2.4rem 2rem 1.8rem;
        position: relative;
        border: 0;
        background-color: #2e8f56;
        align-items: center;
        justify-content: center;

        .modal-title {
          color: #ffffff;
          text-transform: uppercase;
        }

        .btn-close-modal {
          padding: 0;
          position: absolute;
          top: .5rem;
          right: 1rem;
          height: 2.5rem;
          font-size: 2.4rem;
          color: #ffffff;
          line-height: inherit;
          border: 0;
          background-color: transparent;
          @include flex-center();
          @include transition();

          &:hover {
            color: #000000;
          }
        }
      }

      .modal-body {
        padding: 2rem;
      }
    }
  }

  .wpcf7-form {
    .wpcf7-form-control-wrap {
      input,
      textarea {
        padding: .7rem 1rem;
        color: #555;
        font-size: 1.5rem;
        border: .1rem solid #ccc;
        border-radius: .4rem;
        background-color: #ffffff;
      }
    }

    .wpcf7-submit {
      padding: 1rem 2rem;
      border-radius: .4rem;

      &:hover {
        background-color: #2e8f56;
      }
    }
  }
}

.animate-character {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg, #078450 0%, #0AA389 29%, #000000 67%, #FF8621 100%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: text-clip 2s linear infinite;
  display: inline-block;
}

@keyframes text-clip {
  to {
    background-position: 200% center;
  }
}

// animation ring
.alo-circle-anim {
  -webkit-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  -moz-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  -o-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
}

@-moz-keyframes coccoc-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg)
  }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg)
  }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg)
  }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg)
  }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg)
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg)
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg)
  }
}

@-webkit-keyframes coccoc-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg)
  }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg)
  }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg)
  }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg)
  }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg)
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg)
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg)
  }
}

@-o-keyframes coccoc-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg)
  }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg)
  }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg)
  }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg)
  }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg)
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg)
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg)
  }
}

@keyframes coccoc-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg)
  }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg)
  }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg)
  }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg)
  }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg)
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg)
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg)
  }
}