@import "../variables-site/variables";

.global-header {
  background-color: #F0F2EB;
  box-shadow: 0 0 1rem 0 rgba(0,0,0,0.5);

  &.active-sticky-nav {
    position: sticky;
    top: 0;
    z-index: 10;
  }

  .top-nav {
    .navbar-top-grid {
      margin: 0 auto;
      padding: 0 1.2rem;
      max-width: 160rem;
      width: 100%;
      height: 8.4rem;
      display: grid;
      align-items: center;

      @media (min-width: 1400px) {
        grid-gap: 2.4rem;
        grid-template-columns: 38rem 1fr auto;
      }

      @media (min-width: 992px) and (max-width: 1399px) {
        grid-gap: 1.2rem;
        grid-template-columns: 22rem 1fr auto;
      }
    }

    .phone {
      a {
        padding: .6rem 1.6rem;
        color: var(--color-white);
        border-radius: 1rem;
        background-color: var(--color-cadmium-green);

        @media (min-width: 1400px) {
          font-size: 2rem;
        }

        @media (min-width: 992px) and (max-width: 1399px) {
          font-size: 1.6rem;
        }

        i {
          font-size: 3rem;

          @media (min-width: 1200px) {
            margin-right: .5rem;
          }
        }

        .box {
          margin-left: 1.2rem;

          span {
            display: block;
            text-align: center;
            line-height: 1.2;
          }

          &__under {
            font-size: 2.4rem;
            font-weight: 700;
            color: var(--color-cadmium-yellow)
          }
        }
      }
    }
  }

  .contact-mobile {
    padding: .8rem 1.2rem;
    background-color: var(--color-white);

    &__warp {
      display: grid;
      grid-gap: 2.4rem;
      grid-template-columns: auto 1fr;
      align-items: center;

      .menu-offcanvas {
        .btn {
          padding: 0;
          border: 0;
          background-color: transparent;

          i {
            font-size: 2.4rem;
            font-weight: bold;
            color: var(--color-salem);
          }
        }
      }
    }

    .wpcf7-form {
      display: grid;
      grid-gap: 1.2rem;
      grid-template-columns: 1fr auto;

      p {
        margin: 0;
      }

      .wpcf7-form-control-wrap {
        height: 100%;

        .wpcf7-not-valid-tip {
          font-size: 1.5rem;
        }
      }

      .wpcf7-form-control {
        padding: .8rem 1.2rem;
        font-size: 1.5rem;
        border: 1px solid #7A7A7A;
        background-color: var(--color-white);

        &.wpcf7-submit {
          min-width: 8rem;
          font-size: 0;
          height: 100%;
          border: none;
          background-color: #96234A;
        }
      }

      .wpcf7-response-output {
        margin: 0;
      }

      p {
        &:has(.wpcf7-submit) {
          &:before {
            position: absolute;
            content: "\e910";
            top: 50%;
            left: 50%;
            color: var(--color-white);
            font-size: 2.4rem;
            font-family: icomoon, sans-serif;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
}

.navbar-main {
  height: 100%;

  > div {
    height: inherit;
  }

  &__menu {
    height: inherit;

    > ul {
      > li {
        height: inherit;

        ~ li {
          @media (min-width: 1400px) {
            margin-left: 3.2rem;
          }

          @media (min-width: 992px) and (max-width: 1399px) {
            margin-left: 1.6rem;
          }
        }

        > a {
          font-weight: 700;
          color: var(--color-body);

          @media (min-width: 1400px) {
            font-size: 1.5rem;
          }

          @media (min-width: 992px) and (max-width: 1399px) {
            font-size: 1.4rem;
          }
        }
      }
    }

    ul {
      padding: 0;
      margin: 0;

      li {
        position: relative;

        a {
          text-shadow: none;
          display: block;

          &:hover {
            color: $color-hover;
          }
        }

        .sub-menu-toggle {
          margin-left: .6rem;
          cursor: pointer;
          font-size: 1.4rem;
          line-height: 100%;

          i {
            width: 100%;
            height: 100%;

            @media (min-width: 1200px) {
              transform: translateY(-.3rem);
            }

            @media (min-width: 992px) and (max-width: 1199px) {
              transform: translateY(-.4rem);
            }
          }
        }

        &.current-menu-item,
        &.current-menu-parent {
          > a {
            color: var(--color-hover);
          }
        }

        &.home-icon {
          a {
            @include flex-center();

            &:before {
              content: "";
              float: left;
              margin-right: .7rem !important;
              @include square(3.2rem !important);
            }
          }

          &:not(.current-menu-item, .mega-current-menu-item) {
            a {
              &:before {
                background-image: url("../images/home-icon.png") !important;
              }
            }
          }

          &.current-menu-item,
          &.mega-current-menu-item, {
            a {
              &:before {
                background-image: url("../images/home-icon-active.png") !important;
              }
            }
          }
        }

        ul {
          li {
            a {
              font-size: 1.5rem;
              font-weight: 500;
            }
          }
        }
      }
    }

    @media (min-width: 992px) and (max-width: 1400px) {
      ul {
        li {
          &:nth-last-child(1),
          &:nth-last-child(2) {
            .sub-menu {
              left: auto;
              right: 0;

              li {
                .sub-menu {
                  left: auto;
                  right: 90%;
                }

                &:hover {
                  > .sub-menu {
                    left: auto;
                    right: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }

    @media (min-width: 992px) and (max-width: 1200px) {
      ul {
        li {
          a {
            padding: 0 7px;
          }
        }
      }
    }

    @media (min-width: 992px) {
      > ul {
        height: 100%;

        > li {
          display: inline-flex;
          height: 100%;
          align-items: center;
        }
      }

      ul {
        li {
          .sub-menu {
            padding: .8rem 1rem;
            display: block !important;
            min-width: 160px;
            border-top: 1px solid $color-hover;
            background-color: #f1f1f1;
            position: absolute;
            top: 120%;
            left: 0;
            z-index: -1;
            visibility: hidden;
            opacity: 0;
            @include transition();

            li {
              display: flex;

              ~ li {
                margin-top: .5rem;
              }

              a {
                white-space: nowrap;
                flex: 1;
              }

              .sub-menu {
                left: 90%;
                top: -1px;
              }

              &:hover {
                > .sub-menu {
                  left: 100%;
                }

                > .sub-menu-toggle {
                  &:after {
                    transform: rotate(-90deg);
                  }
                }
              }
            }
          }

          &:hover {
            > .sub-menu {
              top: 100%;
              z-index: 999;
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
    }

    @media (max-width: 991px) {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: #eeeeee;
      z-index: 99;

      .collapse {
        display: none !important;

        &.in {
          display: block !important;
        }
      }

      ul {
        li {
          display: block;
          padding: 0 15px;
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);

          &:last-child {
            border-bottom: 0;
          }

          a {
            display: inline-block;
            padding: 15px 0;
          }

          .sub-menu-toggle {
            position: absolute;
            right: 15px;
            top: 15px;
            width: 12px;
            height: 20px;

            &.active {
              &:after {
                transform: rotate(180deg);
              }
            }
          }

          .sub-menu {
            display: none;
            border-top: 0;
            background-color: transparent;

            li {
              border-bottom: 0;
              padding: 0;

              a {
                padding: 8px 0;
              }

              .sub-menu-toggle {
                top: 5px;
                right: 0;
              }

              .sub-menu {
                padding-left: 20px;
              }
            }
          }
        }
      }
    }
  }

  &__cart {
    position: relative;

    .cart-customlocation {
      position: relative;
      cursor: pointer;

      i {
        font-size: 18px;
        padding-right: 15px;
      }

      .number-cart-product {
        position: absolute;
        font-size: 12px;
        color: #ffffff;
        top: -12px;
        right: 0;
        @include square(20px, 50%);
        @include flex-center();
        background-color: $color-hover;
      }
    }

    .widget_shopping_cart {
      position: absolute;
      top: 120%;
      right: 0;
      width: 300px;
      padding: 20px 15px;
      background-color: #ffffff;
      z-index: 10;
      opacity: 0;
      visibility: hidden;
      box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.4);
      @include transition();

      .widgettitle {
        display: none;
      }

      .widget_shopping_cart_content {
        .cart_list {
          margin-bottom: 20px;

          li {
            padding: 0;
            margin-bottom: 15px;

            &:last-child {
              margin-bottom: 0;
            }

            a {
              font-weight: 400;

              &.remove {
                top: -3px;
                left: auto;
                right: 0;
                width: auto;
                height: auto;
                font-size: 35px;
                color: $color-body !important;
                line-height: inherit;
                background-color: transparent;
                @include flex-center;

                &:hover {
                  color: $color-hover !important;
                }
              }

              img {
                float: left;
                margin: 0 10px 0 0;
                width: 50px;
              }
            }

            .woocommerce-Price-amount {
              font-weight: 700;
            }
          }
        }

        .woocommerce-mini-cart__total {
          padding: 15px 0 0 0;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .woocommerce-Price-amount {
            font-weight: 700;
          }
        }

        .woocommerce-mini-cart__buttons {
          &:before,
          &:after {
            display: none;
          }

          a {
            padding: 0 40px;
            line-height: 40px;
            display: block;
            text-align: center;
            margin-bottom: 10px;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }

    &:hover {
      .widget_shopping_cart {
        top: 100%;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  @media (min-width: 992px) {
    grid-template-columns: 64px 1fr auto;
  }

  @media (max-width: 991px) {
    grid-template-columns: 1fr auto;

    &__logo {
      display: flex;
      justify-content: space-between;
    }
  }
}

.top-nav-mobile {
  img {
    width: 100%;
  }
}

.offcanvas-menu-mobile {
  background-color: #000000;
  z-index: 9999999999;

  .offcanvas-header {
    margin-bottom: 1.5rem;
    border-bottom: 1px solid var(--color-white);
  }

  .offcanvas-title, a {
    color: var(--color-white);
  }

  .btn-close-canvas {
    border: none;
    background-color: transparent;

    i {
      color: var(--color-white);
    }
  }

  .offcanvas-body {
    padding-left: 0;
    padding-right: 0;

    > ul {
      > li {
        padding-left: 1.2rem;
        padding-right: 3.6rem;

        ~ li {
          margin-top: 1rem;
          padding-top: 1rem;
          border-top: 1px solid #111111;
        }
      }
    }

    ul {
      li {
        position: relative;
        color: var(--color-white);

        a {
          display: inline-block;
          font-size: 1.5rem;

          + .sub-menu-toggle {
            position: absolute;
            top: 1rem;
            right: 1.2rem;
            @include square(2.4rem);
            @include flex-center();

            i {
              font-size: 1.4rem;
              color: var(--color-white);
              @include transition();
            }

            &.active {
              i {
                transform: rotate(180deg);
              }
            }
          }
        }

        ul {
          margin-top: .6rem;
          display: none;

          li {
            ~ li {
              margin-top: .8rem;
            }
          }
        }
      }
    }
  }
}

.alo-circle-anim {
  display: inline-block;
  -webkit-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  -moz-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  -ms-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  -o-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
}

@-moz-keyframes coccoc-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg)
  }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg)
  }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg)
  }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg)
  }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg)
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg)
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg)
  }
}

@-webkit-keyframes coccoc-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg)
  }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg)
  }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg)
  }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg)
  }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg)
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg)
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg)
  }
}

@-o-keyframes coccoc-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg)
  }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg)
  }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg)
  }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg)
  }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg)
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg)
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg)
  }
}

@keyframes coccoc-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg)
  }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg)
  }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg)
  }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg)
  }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg)
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg)
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg)
  }
}

@media (min-width: 992px) {
  .admin-bar {
    .active-sticky-nav {
      top: 32px;
    }
  }
}