$url-fonts: '../fonts/icon-theme';
$url-font-eot: '#{$url-fonts}/icomoon.eot';
$url-font-ttf: '#{$url-fonts}/icomoon.ttf';
$url-font-woff: '#{$url-fonts}/icomoon.woff';
$url-font-svg: '#{$url-fonts}/icomoon.svg';

@font-face {
  font-family: 'icomoon';
  src:  url('#{$url-font-eot}?x7t9y2');
  src:  url('#{$url-font-eot}?x7t9y2#iefix') format('embedded-opentype'),
  url('#{$url-font-ttf}?x7t9y2') format('truetype'),
  url('#{$url-font-woff}?x7t9y2') format('woff'),
  url('#{$url-font-svg}?x7t9y2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quote-left:before {
  content: "\e919";
}
.icon-star:before {
  content: "\e918";
}
.icon-hours-support:before {
  content: "\e900";
}
.icon-angle-left:before {
  content: "\e901";
  color: #09244b;
}
.icon-angle-right:before {
  content: "\e902";
  color: #09244b;
}
.icon-calendar:before {
  content: "\e903";
}
.icon-chat:before {
  content: "\e904";
}
.icon-chat-light:before {
  content: "\e905";
}
.icon-clock:before {
  content: "\e907";
}
.icon-close:before {
  content: "\e908";
}
.icon-envelope:before {
  content: "\e909";
}
.icon-facebook:before {
  content: "\e90a";
}
.icon-facebook-messenger:before {
  content: "\e90b";
}
.icon-facebook-messenger-circle:before {
  content: "\e90c";
}
.icon-globe:before {
  content: "\e90d";
}
.icon-hose:before {
  content: "\e90e";
}
.icon-house-light:before {
  content: "\e90f";
}
.icon-location:before {
  content: "\e910";
}
.icon-menu:before {
  content: "\e912";
}
.icon-phone:before {
  content: "\e913";
}
.icon-phone-circle:before {
  content: "\e914";
}
.icon-search:before {
  content: "\e915";
  color: #4c505b;
}
.icon-send:before {
  content: "\e916";
}
.icon-sort-down:before {
  content: "\e917";
}