$url-fonts: '../fonts/icon-theme';
$url-font-eot: '#{$url-fonts}/icomoon.eot';
$url-font-ttf: '#{$url-fonts}/icomoon.ttf';
$url-font-woff: '#{$url-fonts}/icomoon.woff';
$url-font-svg: '#{$url-fonts}/icomoon.svg';

@font-face {
  font-family: 'icomoon';
  src:  url('#{$url-font-eot}?x7t9y2');
  src:  url('#{$url-font-eot}?x7t9y2#iefix') format('embedded-opentype'),
  url('#{$url-font-ttf}?x7t9y2') format('truetype'),
  url('#{$url-font-woff}?x7t9y2') format('woff'),
  url('#{$url-font-svg}?x7t9y2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon', serif;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tags:before {
  content: "\e924";
}
.icon-hours-support:before {
  content: "\e900";
}
.icon-angle-left:before {
  content: "\e901";
}
.icon-angle-right:before {
  content: "\e902";
}
.icon-arrow-left:before {
  content: "\e903";
}
.icon-arrow-right:before {
  content: "\e904";
}
.icon-calendar:before {
  content: "\e905";
}
.icon-caret-down:before {
  content: "\e906";
}
.icon-caret-up:before {
  content: "\e907";
}
.icon-chat:before {
  content: "\e908";
}
.icon-chat-light:before {
  content: "\e909";
}
.icon-check:before {
  content: "\e90a";
}
.icon-check-circle:before {
  content: "\e90b";
}
.icon-chevron-down-light:before {
  content: "\e90c";
}
.icon-chevron-up-light:before {
  content: "\e90d";
}
.icon-clock:before {
  content: "\e90e";
}
.icon-clock-rotate-right:before {
  content: "\e90f";
}
.icon-close:before {
  content: "\e910";
}
.icon-envelope:before {
  content: "\e911";
}
.icon-facebook:before {
  content: "\e912";
}
.icon-facebook-messenger:before {
  content: "\e913";
}
.icon-facebook-messenger-circle:before {
  content: "\e914";
}
.icon-globe:before {
  content: "\e915";
}
.icon-hose:before {
  content: "\e916";
}
.icon-house-light:before {
  content: "\e917";
}
.icon-location:before {
  content: "\e918";
}
.icon-location-dot:before {
  content: "\e919";
}
.icon-menu:before {
  content: "\e91a";
}
.icon-phone:before {
  content: "\e91b";
}
.icon-phone-circle:before {
  content: "\e91c";
}
.icon-phone-volume:before {
  content: "\e91d";
}
.icon-phone-volume-light:before {
  content: "\e91e";
}
.icon-quote-left:before {
  content: "\e91f";
}
.icon-search:before {
  content: "\e920";
}
.icon-send:before {
  content: "\e921";
}
.icon-setting:before {
  content: "\e922";
}
.icon-star:before {
  content: "\e923";
}