.search-form {
  font-size: 12px;
}

.search-field {
  border: 1px solid $border-color;
  height: auto;
  padding: 9px 10px;
  border-radius: 3px;
  box-shadow: none;
}

.search-submit {
  background-color: $color-hover;
  color: #fff;
  padding: 9px 10px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  @include transition();
}

section {
  &.widget {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }

    .widget-title {
      font-size: 1.5rem;
      line-height: 2.2rem;
      font-family: var(--body-font-family);
    }

    ul {
      @include reset-list;

      li {
        &:not(:last-child) {
          margin-bottom: 10px;
        }

        a {
          display: block;
        }

        ul {
          &.children,
          &.sub-menu {
            padding-left: 15px;
            padding-top: 10px;

            li {
              border-bottom: 0;
              padding: 0 0 10px;

              &:last-child {
                padding-bottom: 0;
              }
            }
          }
        }
      }
    }

    select {
      width: 100%;
      padding: 9px 10px;
      font-size: 12px;
    }

    &.widget_search {
      .search-form {
        display: flex;

        .search-field {
          flex: 1;
        }

        .search-submit {
          margin-left: 10px;
        }
      }
    }

    &.widget_archive,
    &.widget_categories {
      ul {
        li {
          a {
            display: inline-block;
            margin-right: 5px;
          }
        }
      }
    }

    &.widget_calendar {
      table {
        width: 100%;

        caption {
          padding: 0;
          margin-bottom: 15px;
          text-align: center;
        }

        tr {
          border-bottom: 1px solid $border-color;

          th {
            text-align: center;
          }

          td {
            padding: 5px 0;
            text-align: center;

            &#today {
              background-color: $background-hover;
              color: #ffffff;

              a {
                color: #ffffff;
              }
            }

            &#prev {
              text-align: left;
            }

            &#next {
              text-align: right;
            }
          }
        }
      }
    }

    &.widget_rss {
      ul {
        li {
          padding-bottom: 20px;
          margin-bottom: 20px;

          .rssSummary {
            font-size: 12px;
          }
        }
      }
    }

    &.widget_tag_cloud,
    &.widget_product_tag_cloud {
      .tagcloud {
        a {
          display: inline-block;
          font-size: 13px !important;
          border: 1px solid #eee;
          padding: 5px 10px;
          margin: 0 2px 5px;

          &:hover {
            background-color: $background-hover;
            color: #ffffff;
            border-color: $background-hover;
          }
        }
      }
    }

    .social-network-item {
      margin-bottom: 10px;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      border-radius: 50%;
    }

    .recent-post-widget {
      &__list {
        .post {
          margin-bottom: 1.2rem;
          display: grid;
          grid-gap: 1.2rem;
          grid-template-columns: 10rem 1fr;

          &:last-child {
            margin-bottom: 0;
          }

          .image {
            height: 7.5rem;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }

        .title {
          margin-bottom: 10px;
          font-size: 1.6rem;
          overflow: hidden;
          font-weight: 400;
          line-height: 1.8rem;
          font-family: var(--body-font-family);
        }

        .meta {
          font-size: 1.2rem;

          i.fa {
            margin-right: 5px;
          }
        }
      }
    }

    .textwidget {
      iframe {
        width: 100%;
        height: 100%;
      }
    }

    .info-company-widget {
      .item {
        font-weight: 700;
        display: grid;
        grid-gap: 1.5rem;
        grid-template-columns: 2.4rem 1fr;

        @media (min-width: 992px) {
          font-size: 1.6rem;
        }

        @media (max-width: 991px) {
          font-size: 1.4rem;
        }

        ~ .item {
          margin-top: .4rem;
        }

        &__icon {
          i {
            font-size: 2.4rem;
          }
        }

        &__content {}
      }
    }

    .open-hours-widget {
      &__warp {
        padding: 1.5rem 1rem;
        border-radius: 1rem;
        border: 2px solid #000;

        .item {
          ~ .item {
            margin-top: .9rem;
          }

          &__title {
            margin-bottom: 0;
            font-size: 2rem;
            line-height: 3rem;
            color: var(--color-cadmium-yellow);
            text-transform: uppercase;
          }

          &__note {
            font-size: 1.6rem;
          }
        }
      }
    }

    &.working-time-widget {
      background: #17AA2B;

      @media (min-width: 992px) {
        padding: 3rem 1rem;
      }

      @media (max-width: 992px) {
        padding: 1.5rem;
      }

      .widget-title {
        margin-bottom: 1.2rem;
        padding: 0;
        border-radius: 0;
        background: transparent;
      }

      .warp {
        padding: 0;
        display: flex;
        gap: .5rem;
        align-items: center;
        justify-content: center;

        .time {
          position: relative;
          display: flex;
          gap: .2rem;
          align-items: center;
          justify-content: center;

          ~ .time {
            margin-left: 3rem;

            &:before {
              position: absolute;
              content: "-";
              left: -2.7rem;
              top: 0;
              bottom: 0;
              width: 2rem;
              color: #fff;

              display: flex;
              align-items: center;
              justify-content: center;

              @media (min-width: 992px) {
                font-size: 7rem;
              }

              @media (min-width: 768px) and (max-width: 992px) {
                font-size: 5rem;
                transform: translateY(-1px);
              }
            }
          }

          span {
            display: inline-block;
          }

          .character {
            font-size: 3rem;
            color: var(--color-white);
          }

          &__box {
            padding: 0 .5rem;
            text-align: center;

            font-weight: 700;
            border-radius: .6rem;
            background-color: var(--color-white);

            @media (min-width: 1200px) {
              font-size: 3rem;
            }

            @media (min-width: 992px) and (max-width: 1199px) {
              font-size: 2rem;
            }

            @media (min-width: 768px) and (max-width: 991px) {
              font-size: 2.2rem;
            }

            @media (max-width: 767px) {
              font-size: 2.4rem;
            }
          }
        }
      }
    }
  }
}

.site-sidebar {
  @media (max-width: 767px) {
    margin-top: 3rem;
  }

  .widget {
    border-radius: .5rem;
    border: 1px solid var(--heading-color);
    background: #FFF;
    overflow: hidden;

    .widget-title {
      margin: 0;
      padding: 1.2rem;
      font-size: 2rem;
      text-align: center;
      text-transform: uppercase;
      color: var(--color-white);
      background: linear-gradient(180deg, #208B45 0%, #1FD75E 100%);
    }

    > div,
    > ul {
      padding: 1.1rem .9rem 1.4rem;
    }

    &.widget_media_image {
      text-align: center;

      .widget-title {
        margin-bottom: 0;
      }

      img {
        display: inline-block;
        padding: 1rem;
      }
    }

    &.appointment-form-widget {
      position: relative;
      padding-top: .9rem;
      border-radius: .5rem;
      border: transparent;
      background: #08890b;

      .widget-title {
        margin-bottom: 1rem;
        padding-bottom: 0;
        background: transparent;
      }

      .widget-warp {
        padding: 1rem .8rem;
        border-radius: 0 0 .5rem .5rem;
      }

      .wpcf7-form {
        p {
          ~ p {
            margin-top: 1.1rem;
          }

          &:has(.wpcf7-submit) {
            text-align: center;
          }
        }

        .wpcf7-form-control-wrap {
          input, textarea {
            min-height: 3.5rem;
            color: #909090;
            font-size: 1.4rem;
            font-family: var(--heading-font-family);
            background-color: var(--color-white);
          }

          textarea {
            min-height: 10.6rem;
          }
        }

        .wpcf7-submit {
          padding: 1rem .9rem;
          min-width: 12.3rem;
          font-weight: 900;
          font-size: 1.4rem;
          line-height: 1.6rem;
          text-transform: uppercase;
          border: none;
          border-radius: .5rem;
          background: linear-gradient(180deg, #FF0008 0%, #941115 100%);
        }
      }
    }

    &.categories-dropdown-widget {
      border: 0;

      .widget-title {
        margin-bottom: 1rem;
        border-radius: 1.4rem 1.4rem 0 0;
        background: #DD0C0C;
      }

      .widget-warp {
        padding: 0;

        > li {
          margin: 0;

          &:not(:last-child) {
            margin-bottom: .6rem;
          }

          > a {
            padding: 1.2rem .8rem;
            font-size: 1.6rem;
            font-weight: 700;
            color: var(--color-white);
            background-color: #08890b;

            &:hover,
            &.active {
              color: var(--color-cadmium-yellow);
            }
          }
        }

        li {
          position: relative;

          a {
            position: relative;
            z-index: 1;
            font-size: 1.5rem;
            font-weight: 500;
          }

          ul {
            &.children {
              margin-top: .5rem;
              padding: 1rem 0 0 0;
              display: none;
              background-color: #f1f1f1;

              > li {
                margin-bottom: 0;
                padding: .4rem .6rem;

                &:not(:last-child) {
                  border-bottom: .1rem solid #000000;
                }

                > a {
                  position: relative;
                  padding-left: 1.6rem;
                  font-size: 1.4rem;
                  line-height: 3rem;

                  &:before {
                    position: absolute;
                    content: "";
                    top: 50%;
                    left: 0;
                    @include square(.5rem, 50%);
                    background-color: #000;
                    transform: translateY(-50%);
                  }
                }

                .children {
                  padding-top: 0;
                }
              }
            }
          }

          .icon-has-child-cate {
            position: absolute;
            top: 1rem;
            right: 1.2rem;
            z-index: 1;
            @include transition();

            .icon {
              &:before {
                color: var(--color-white);
              }
            }
          }

          > a {
            &.active {
              ~ .icon-has-child-cate {
                top: 1.6rem;
                transform: rotate(180deg);
              }
            }
          }
        }
      }
    }

    &.doctor-slider-widget {
      padding: 1rem 1rem 2rem;
      border-radius: 0;
      border: 1.2rem solid var(--color-brunswick-green);

      > div {
        padding: 0;
      }

      .item {
        &__thumbnail {
          margin-bottom: 2rem;
          border: .5rem;
          overflow: hidden;
          text-align: center;

          img {
            display: inline-block;
            width: auto;
          }
        }

        &__body {
          font-size: 1.6rem;

          .title {
            margin-bottom: 0;
            font-size: inherit;
            color: #154c9e;
          }

          .position {
            margin: 0;
            font-weight: 700;
          }

          .desc {
            position: relative;
            margin-top: 1.4rem;
            padding-top: 1.2rem;

            &:before {
              position: absolute;
              content: "";
              top: -0.5rem;
              left: 50%;
              width: 60%;
              height: .1rem;
              border-top: .1rem dashed #000000;
              transform: translateX(-50%);
            }
          }
        }
      }

      .owl-carousel {
        .owl-nav {
          margin: 0;

          button {
            position: absolute;
            margin: 0;
            top: 50%;
            transform: translateY(-50%);

            i {
              &:before {
                color: var(--color-brunswick-green);
                @include transition();
              }

              &:hover {
                &:before {
                  color: #000000;
                }
              }
            }

            &.owl-prev {
              left: 0;
            }

            &.owl-next {
              right: 0;
            }
          }
        }
      }
    }
  }
}