.search-form {
  font-size: 12px;
}

.search-field {
  border: 1px solid $border-color;
  height: auto;
  padding: 9px 10px;
  border-radius: 3px;
  box-shadow: none;
}

.search-submit {
  background-color: $color-hover;
  color: #fff;
  padding: 9px 10px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  @include transition();
}

section {
  &.widget {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }

    .widget-title {
      font-size: 1.5rem;
      line-height: 2.2rem;
      font-family: var(--body-font-family);
    }

    ul {
      @include reset-list;

      li {
        &:not(:last-child) {
          margin-bottom: 10px;
        }

        a {
          display: block;
        }

        ul {
          &.children,
          &.sub-menu {
            padding-left: 15px;
            padding-top: 10px;

            li {
              border-bottom: 0;
              padding: 0 0 10px;

              &:last-child {
                padding-bottom: 0;
              }
            }
          }
        }
      }
    }

    select {
      width: 100%;
      padding: 9px 10px;
      font-size: 12px;
    }

    &.widget_search {
      .search-form {
        display: flex;

        .search-field {
          flex: 1;
        }

        .search-submit {
          margin-left: 10px;
        }
      }
    }

    &.widget_archive,
    &.widget_categories {
      ul {
        li {
          a {
            display: inline-block;
            margin-right: 5px;
          }
        }
      }
    }

    &.widget_calendar {
      table {
        width: 100%;

        caption {
          padding: 0;
          margin-bottom: 15px;
          text-align: center;
        }

        tr {
          border-bottom: 1px solid $border-color;

          th {
            text-align: center;
          }

          td {
            padding: 5px 0;
            text-align: center;

            &#today {
              background-color: $background-hover;
              color: #ffffff;

              a {
                color: #ffffff;
              }
            }

            &#prev {
              text-align: left;
            }

            &#next {
              text-align: right;
            }
          }
        }
      }
    }

    &.widget_rss {
      ul {
        li {
          padding-bottom: 20px;
          margin-bottom: 20px;

          .rssSummary {
            font-size: 12px;
          }
        }
      }
    }

    &.widget_tag_cloud,
    &.widget_product_tag_cloud {
      .tagcloud {
        a {
          display: inline-block;
          font-size: 13px !important;
          border: 1px solid #eee;
          padding: 5px 10px;
          margin: 0 2px 5px;

          &:hover {
            background-color: $background-hover;
            color: #ffffff;
            border-color: $background-hover;
          }
        }
      }
    }

    .social-network-item {
      margin-bottom: 10px;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      border-radius: 50%;
    }

    .recent-post-widget {
      &__list {
        .post {
          margin-bottom: 1.2rem;
          display: grid;
          grid-gap: 1.2rem;
          grid-template-columns: 10rem 1fr;

          &:last-child {
            margin-bottom: 0;
          }

          .image {
            height: 7.5rem;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }

        .title {
          margin-bottom: 10px;
          font-size: 1.6rem;
          overflow: hidden;
          font-weight: 400;
          line-height: 1.8rem;
          font-family: var(--body-font-family);
        }

        .meta {
          font-size: 1.2rem;

          i.fa {
            margin-right: 5px;
          }
        }
      }
    }

    .textwidget {
      iframe {
        width: 100%;
        height: 100%;
      }
    }

    .info-company-widget {
      .item {
        font-weight: 700;
        display: grid;
        grid-gap: 1.5rem;
        grid-template-columns: 2.4rem 1fr;

        @media (min-width: 992px) {
          font-size: 1.6rem;
        }

        @media (max-width: 991px) {
          font-size: 1.4rem;
        }

        ~ .item {
          margin-top: .4rem;
        }

        &__icon {
          i {
            font-size: 2.4rem;
          }
        }

        &__content {}
      }
    }

    .open-hours-widget {
      &__warp {
        padding: 1.5rem 1rem;
        border-radius: 1rem;
        border: 2px solid #000;

        .item {
          ~ .item {
            margin-top: .9rem;
          }

          &__title {
            margin-bottom: 0;
            font-size: 2rem;
            line-height: 3rem;
            color: var(--theme-secondary-color);
            text-transform: uppercase;
          }

          &__note {
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}

.site-sidebar {
  @media (max-width: 767px) {
    margin-top: 3rem;
  }

  .widget {
    border-radius: .5rem;
    border: 1px solid var(--heading-color);
    background: #FFF;
    overflow: hidden;

    .widget-title {
      margin: 0;
      padding: 1.7rem 1.2rem 1.2rem;
      text-align: center;
      text-transform: uppercase;
      color: var(--color-white);
      background: var(--heading-color);
    }

    > div,
    > ul {
      padding: 1.1rem .9rem 1.4rem;
    }

    &.widget_media_image {
      text-align: center;

      .widget-title {
        margin-bottom: 0;
      }

      img {
        display: inline-block;
        padding: 1rem;
      }
    }

    &.appointment-form-widget {
      border: none;

      .image-title {
        padding: 0;
        text-align: center;

        ~ .widget-warp {
          margin-top: -2rem;
        }
      }

      .widget-warp {
        padding: 0;
        border: 1px solid var(--heading-color);

        .widget-title {
          padding: 2.4rem 1.6rem 1.4rem;
          color: #FF0000;
          background: #ECECEC;
          border-bottom: 1px solid #078450;
        }
      }

      .wpcf7-form {
        padding: 1.8rem 2rem;

        p {
          ~ p {
            margin-top: 1.1rem;
          }

          &:has(.wpcf7-submit) {
            text-align: center;
          }
        }

        .wpcf7-form-control-wrap {
          input, textarea {
            min-height: 3.5rem;
            color: #909090;
            font-size: 1.4rem;
            font-family: var(--heading-font-family);
            border: 1px solid #CDCDCD;
            border-radius: 2rem;
            background-color: var(--color-white);
          }

          textarea {
            min-height: 10.6rem;
          }
        }

        .wpcf7-submit {
          padding: 1rem 2rem;
          min-width: 12.3rem;
          font-weight: 900;
          font-size: 1.4rem;
          line-height: 1.6rem;
          text-transform: uppercase;
          border: none;
          border-radius: 2rem;
          background: linear-gradient(180deg, #FF0008 0%, #941115 100%);
        }
      }
    }

    &.categories-dropdown-widget {
      background: #F7F7F7;

      .widget-title {
        border-bottom: 1px solid var(--heading-color);
      }

      .widget-warp {
        padding: 0;

        > li {
          margin: 0;
          padding: 0 .8rem;

          > a {
            padding: .8rem 0;
            font-size: 1.6rem;
            font-weight: 700;
          }

          ~ li {
             > a {
              border-top: 1px dashed var(--color-salem);
            }
          }

          > ul {
            border-top: 1px dashed var(--color-salem);
          }
        }

        li {
          position: relative;

          a {
            position: relative;
            z-index: 1;
            color: #000;
            font-size: 1.5rem;
            font-weight: 400;

            &:hover {
              color: var(--color-salem);
            }
          }

          ul {
            &.children {
              margin-bottom: 1rem;
              padding: 1rem 0 0 0;
              display: none;

              > li {
                margin-bottom: 0;
                padding: 0;

                > a {
                  position: relative;
                  padding-left: 1.6rem;
                  font-size: 1.4rem;
                  line-height: 3rem;

                  &:before {
                    position: absolute;
                    content: "";
                    top: 50%;
                    left: 0;
                    @include square(.5rem, 50%);
                    background-color: #000;
                    transform: translateY(-50%);
                  }
                }

                .children {
                  padding-top: 0;
                }
              }
            }
          }

          .icon-has-child-cate {
            position: absolute;
            top: .8rem;
            right: 1.2rem;
            @include transition();

            svg {
              path {
                fill: #000;
              }
            }
          }

          > a {
            &.active {
              ~ .icon-has-child-cate {
                transform: rotate(180deg);
              }
            }
          }
        }
      }
    }
  }
}