.element-about-us__warp {
  display: grid;
}
@media (min-width: 992px) {
  .element-about-us__warp {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}
.element-about-us__warp .item.item-thumbnail img {
  width: 100%;
}
.element-about-us__warp .item .heading {
  font-size: 4.5rem;
  font-family: var(--body-font-family);
}
@media (min-width: 1024px) {
  .element-about-us__warp .item .heading {
    margin-bottom: 3.7rem;
  }
}
@media (max-width: 1023px) {
  .element-about-us__warp .item .heading {
    margin-bottom: 1.6rem;
  }
}
.element-about-us__warp .item .sub-heading {
  font-size: 3.6rem;
}
.element-about-us__warp .item .action-box {
  margin-top: 2.4rem;
  gap: 1.2rem;
}
.element-about-us__warp .item .action-box a {
  padding: 1.2rem 1.8rem 1rem;
  display: inline-block;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 5rem;
}
.element-about-us__warp .item .action-box__chat {
  color: #0F4137;
  background: linear-gradient(180deg, #FFFF00 0, #FE6F01 100%);
}
.element-about-us__warp .item .action-box__booking {
  color: #FFFFFF;
  background: linear-gradient(180deg, #FF0000 0, #FF7777 100%);
}

.element-category-list__grid {
  display: grid;
}
.element-category-list__grid .item {
  padding: 1rem 0.8rem;
  min-height: 15.2rem;
  border: 0.1rem solid #FFC3D9;
  border-radius: 1rem;
  box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.25);
}
.element-category-list__grid .item__image {
  margin-bottom: 1rem;
}
.element-category-list__grid .item__title {
  font-size: 1.8rem;
}

.element-contact-form-7 .heading {
  margin-bottom: 1.8rem;
  color: #FF0000;
  line-height: 1.2;
}
.element-contact-form-7 .heading span.has-gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.element-contact-form-7 .sub-heading {
  margin-bottom: 2.6rem;
}
.element-contact-form-7 form.wpcf7-form .wpcf7-form-control-wrap input,
.element-contact-form-7 form.wpcf7-form .wpcf7-form-control-wrap textarea {
  padding: 1rem;
  font-size: 1.4rem;
  color: #909090;
  border: 0.1rem solid #CCCCCC;
  background-color: #EAF1F1;
}
.element-contact-form-7 form.wpcf7-form .wpcf7-form-control-wrap input::placeholder,
.element-contact-form-7 form.wpcf7-form .wpcf7-form-control-wrap textarea::placeholder {
  color: #909090;
}
.element-contact-form-7 form.wpcf7-form .wpcf7-form-control-wrap input {
  min-height: 3.8rem;
}
.element-contact-form-7 form.wpcf7-form .wpcf7-form-control-wrap textarea {
  height: 8rem;
}
.element-contact-form-7 form.wpcf7-form .wpcf7-submit {
  padding: 1rem 2rem;
  font-size: 1.4rem;
  font-weight: 900;
  border-radius: 0.5rem;
  background: #D7384E;
}

.element-circular-progress {
  display: grid;
}
.element-circular-progress .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.element-circular-progress .item__circle {
  position: relative;
  margin-bottom: 1.6rem;
  font-size: 5rem;
  font-weight: 500;
  color: #F30000;
  border-radius: 50%;
  background-color: var(--clinic-theme-primary-color);
}
.element-circular-progress .item__circle:before {
  position: absolute;
  content: "";
  top: 0.5rem;
  right: 0.5rem;
  bottom: 0.5rem;
  left: 0.5rem;
  border: 0.3rem dotted var(--color-white);
  border-radius: 50%;
}

.element-gallery-grid-box__warp {
  display: grid;
  grid-auto-rows: min-content;
}
.element-gallery-grid-box__warp .item {
  display: flex;
  flex-direction: column;
}
.element-gallery-grid-box__warp .item__thumbnail {
  margin-bottom: 2rem;
  overflow: hidden;
}
.element-gallery-grid-box__warp .item__thumbnail img {
  object-fit: cover;
}
.element-gallery-grid-box__warp .item__title {
  margin-bottom: 0.6rem;
  color: #000000;
  font-size: 1.7rem;
  font-weight: 500;
  font-family: var(--body-font-family);
}
@media (max-width: 1199px) {
  .element-gallery-grid-box__warp .item__title {
    font-size: 1.6rem;
  }
}
.element-gallery-grid-box__warp .item__content {
  line-height: 1.5;
}
.element-gallery-grid-box__warp .item__content a {
  color: var(--color-sunset-orange);
}

.element-safety-principles__warp {
  display: grid;
}
@media (min-width: 1200px) {
  .element-safety-principles__warp {
    grid-gap: 2.4rem 4.4rem;
    grid-template-columns: 1fr 44.3rem 1fr;
  }
}
@media (max-width: 1199px) {
  .element-safety-principles__warp {
    grid-gap: 3rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .element-safety-principles__warp {
    grid-template-columns: 1fr 30rem 1fr;
  }
}
@media (min-width: 480px) and (max-width: 991px) {
  .element-safety-principles__warp {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .element-safety-principles__warp .item-thumbnail {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
}
@media (max-width: 991px) {
  .element-safety-principles__warp .item-thumbnail {
    display: none;
  }
}
@media (min-width: 992px) {
  .element-safety-principles__warp .item-group {
    padding-bottom: 6rem;
  }
}
@media (min-width: 992px) {
  .element-safety-principles__warp .item-group .repeater-item ~ .repeater-item {
    margin-top: 3.2rem;
  }
}
@media (min-width: 376px) and (max-width: 992px) {
  .element-safety-principles__warp .item-group .repeater-item ~ .repeater-item {
    margin-top: 1rem;
  }
}
@media (max-width: 375px) {
  .element-safety-principles__warp .item-group .repeater-item ~ .repeater-item {
    margin-top: 3rem;
  }
}
.element-safety-principles__warp .item-group .top-box {
  margin-bottom: 0.8rem;
  display: flex;
  gap: 1.2rem;
  line-height: 1.1;
}
@media (min-width: 768px) {
  .element-safety-principles__warp .item-group .top-box {
    justify-content: space-between;
  }
}
@media (max-width: 767px) {
  .element-safety-principles__warp .item-group .top-box {
    align-items: center;
  }
}
@media (max-width: 375px) {
  .element-safety-principles__warp .item-group .top-box {
    gap: 1.2rem;
  }
}
.element-safety-principles__warp .item-group .title {
  margin: 0;
  color: #000;
}
@media (min-width: 992px) {
  .element-safety-principles__warp .item-group .title {
    font-size: 2.3rem;
  }
}
@media (max-width: 991px) {
  .element-safety-principles__warp .item-group .title {
    font-size: 1.8rem;
  }
}
@media (max-width: 767px) {
  .element-safety-principles__warp .item-group .title {
    order: 1;
  }
}
.element-safety-principles__warp .item-group .number {
  font-size: 4rem;
  flex: 0 0 auto;
}
@media (max-width: 767px) {
  .element-safety-principles__warp .item-group .number {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIl9lbGVtZW50LWFib3V0LXVzLnNjc3MiLCJfZWxlbWVudC1jYXRlZ29yeS1saXN0LnNjc3MiLCJfZWxlbWVudC1jZjcuc2NzcyIsIl9lbGVtZW50LWNpcmN1bGFyLXByb2dyZXNzLnNjc3MiLCJfZWxlbWVudC1nYWxsZXJ5LWdyaWQtYm94LnNjc3MiLCJfZWxlbWVudC1zYWZldHktcHJpbmNpcGxlcy5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUNFO0VBQ0U7O0FBRUE7RUFIRjtJQUlJO0lBQ0E7OztBQUtFO0VBQ0U7O0FBSUo7RUFDRTtFQUNBOztBQUVBO0VBSkY7SUFLSTs7O0FBR0Y7RUFSRjtJQVNJOzs7QUFJSjtFQUNFOztBQUdGO0VBQ0U7RUFDQTs7QUFFQTtFQUNFO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTs7QUFHRjtFQUNFO0VBQ0E7O0FBR0Y7RUFDRTtFQUNBOzs7QUNwRFI7RUFDRTs7QUFFQTtFQUNFO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7O0FBRUE7RUFDRTs7QUFHRjtFQUNFOzs7QUNmTjtFQUNFO0VBQ0E7RUFDQTs7QUFHRTtFQUNFO0VBQ0E7O0FBS047RUFDRTs7QUFNSTtBQUFBO0VBRUU7RUFDQTtFQUNBO0VBQ0E7RUFDQTs7QUFFQTtBQUFBO0VBQ0U7O0FBSUo7RUFDRTs7QUFHRjtFQUNFOztBQUlKO0VBQ0U7RUFDQTtFQUNBO0VBQ0E7RUFDQTs7O0FDaERSO0VBQ0U7O0FBRUE7RUFDRTtFQUNBO0VBQ0E7RUFDQTs7QUFFQTtFQUNFO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBOztBQUVBO0VBQ0U7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTs7O0FDekJOO0VBQ0U7RUFDQTs7QUFFQTtFQUNFO0VBQ0E7O0FBRUE7RUFDRTtFQUNBOztBQUVBO0VBQ0U7O0FBSUo7RUFDRTtFQUNBO0VBQ0E7RUFDQTtFQUNBOztBQUVBO0VBUEY7SUFRSTs7O0FBSUo7RUFDRTs7QUFFQTtFQUNFOzs7QUNqQ1I7RUFDRTs7QUFFQTtFQUhGO0lBSUk7SUFDQTs7O0FBR0Y7RUFSRjtJQVNJOzs7QUFHRjtFQVpGO0lBYUk7OztBQUdGO0VBaEJGO0lBaUJJOzs7QUFJQTtFQURGO0lBRUk7SUFDQTtJQUNBOzs7QUFHRjtFQVBGO0lBUUk7OztBQUtGO0VBREY7SUFFSTs7O0FBS0U7RUFERjtJQUVJOzs7QUFHRjtFQUxGO0lBTUk7OztBQUdGO0VBVEY7SUFVSTs7O0FBS047RUFDRTtFQUNBO0VBQ0E7RUFDQTs7QUFFQTtFQU5GO0lBT0k7OztBQUdGO0VBVkY7SUFXSTs7O0FBR0Y7RUFkRjtJQWVJOzs7QUFJSjtFQUNFO0VBQ0E7O0FBRUE7RUFKRjtJQUtJOzs7QUFHRjtFQVJGO0lBU0k7OztBQUdGO0VBWkY7SUFhSTs7O0FBSUo7RUFDRTtFQUNBOztBQUVBO0VBSkY7SUFLSSIsImZpbGUiOiJlbGVtZW50b3ItYWRkb24uY3NzIiwic291cmNlc0NvbnRlbnQiOlsiLmVsZW1lbnQtYWJvdXQtdXMge1xyXG4gICZfX3dhcnAge1xyXG4gICAgZGlzcGxheTogZ3JpZDtcclxuXHJcbiAgICBAbWVkaWEgKG1pbi13aWR0aDogOTkycHgpIHtcclxuICAgICAgZ3JpZC10ZW1wbGF0ZS1jb2x1bW5zOiByZXBlYXQoMiwgMWZyKTtcclxuICAgICAgYWxpZ24taXRlbXM6IGNlbnRlcjtcclxuICAgIH1cclxuXHJcbiAgICAuaXRlbSB7XHJcbiAgICAgICYuaXRlbS10aHVtYm5haWwge1xyXG4gICAgICAgIGltZyB7XHJcbiAgICAgICAgICB3aWR0aDogMTAwJTtcclxuICAgICAgICB9XHJcbiAgICAgIH1cclxuXHJcbiAgICAgIC5oZWFkaW5nIHtcclxuICAgICAgICBmb250LXNpemU6IDQuNXJlbTtcclxuICAgICAgICBmb250LWZhbWlseTogdmFyKC0tYm9keS1mb250LWZhbWlseSk7XHJcblxyXG4gICAgICAgIEBtZWRpYSAobWluLXdpZHRoOiAxMDI0cHgpIHtcclxuICAgICAgICAgIG1hcmdpbi1ib3R0b206IDMuN3JlbTtcclxuICAgICAgICB9XHJcblxyXG4gICAgICAgIEBtZWRpYSAobWF4LXdpZHRoOiAxMDIzcHgpIHtcclxuICAgICAgICAgIG1hcmdpbi1ib3R0b206IDEuNnJlbTtcclxuICAgICAgICB9XHJcbiAgICAgIH1cclxuXHJcbiAgICAgIC5zdWItaGVhZGluZyB7XHJcbiAgICAgICAgZm9udC1zaXplOiAzLjZyZW07XHJcbiAgICAgIH1cclxuXHJcbiAgICAgIC5hY3Rpb24tYm94IHtcclxuICAgICAgICBtYXJnaW4tdG9wOiAyLjRyZW07XHJcbiAgICAgICAgZ2FwOiAxLjJyZW07XHJcblxyXG4gICAgICAgIGEge1xyXG4gICAgICAgICAgcGFkZGluZzogMS4ycmVtIDEuOHJlbSAxcmVtO1xyXG4gICAgICAgICAgZGlzcGxheTogaW5saW5lLWJsb2NrO1xyXG4gICAgICAgICAgdGV4dC1hbGlnbjogY2VudGVyO1xyXG4gICAgICAgICAgZm9udC1zaXplOiAxLjZyZW07XHJcbiAgICAgICAgICBmb250LXdlaWdodDogNzAwO1xyXG4gICAgICAgICAgYm9yZGVyLXJhZGl1czogNXJlbTtcclxuICAgICAgICB9XHJcblxyXG4gICAgICAgICZfX2NoYXQge1xyXG4gICAgICAgICAgY29sb3I6ICMwRjQxMzc7XHJcbiAgICAgICAgICBiYWNrZ3JvdW5kOiBsaW5lYXItZ3JhZGllbnQoMTgwZGVnLCNGRkZGMDAgMCwjRkU2RjAxIDEwMCUpO1xyXG4gICAgICAgIH1cclxuXHJcbiAgICAgICAgJl9fYm9va2luZyB7XHJcbiAgICAgICAgICBjb2xvcjogI0ZGRkZGRjtcclxuICAgICAgICAgIGJhY2tncm91bmQ6IGxpbmVhci1ncmFkaWVudCgxODBkZWcsI0ZGMDAwMCAwLCNGRjc3NzcgMTAwJSk7XHJcbiAgICAgICAgfVxyXG4gICAgICB9XHJcbiAgICB9XHJcbiAgfVxyXG59IiwiLmVsZW1lbnQtY2F0ZWdvcnktbGlzdCB7XHJcbiAgJl9fZ3JpZCB7XHJcbiAgICBkaXNwbGF5OiBncmlkO1xyXG5cclxuICAgIC5pdGVtIHtcclxuICAgICAgcGFkZGluZzogMXJlbSAuOHJlbTtcclxuICAgICAgbWluLWhlaWdodDogMTUuMnJlbTtcclxuICAgICAgYm9yZGVyOiAuMXJlbSBzb2xpZCAjRkZDM0Q5O1xyXG4gICAgICBib3JkZXItcmFkaXVzOiAxcmVtO1xyXG4gICAgICBib3gtc2hhZG93OiAwIC40cmVtIC40cmVtIDAgcmdiYSgwLCAwLCAwLCAwLjI1KTtcclxuXHJcbiAgICAgICZfX2ltYWdlIHtcclxuICAgICAgICBtYXJnaW4tYm90dG9tOiAxcmVtO1xyXG4gICAgICB9XHJcblxyXG4gICAgICAmX190aXRsZSB7XHJcbiAgICAgICAgZm9udC1zaXplOiAxLjhyZW07XHJcbiAgICAgIH1cclxuICAgIH1cclxuICB9XHJcbn0iLCIuZWxlbWVudC1jb250YWN0LWZvcm0tNyB7XHJcbiAgLmhlYWRpbmcge1xyXG4gICAgbWFyZ2luLWJvdHRvbTogMS44cmVtO1xyXG4gICAgY29sb3I6ICNGRjAwMDA7XHJcbiAgICBsaW5lLWhlaWdodDogMS4yO1xyXG5cclxuICAgIHNwYW4ge1xyXG4gICAgICAmLmhhcy1ncmFkaWVudCB7XHJcbiAgICAgICAgLXdlYmtpdC1iYWNrZ3JvdW5kLWNsaXA6IHRleHQ7XHJcbiAgICAgICAgLXdlYmtpdC10ZXh0LWZpbGwtY29sb3I6IHRyYW5zcGFyZW50O1xyXG4gICAgICB9XHJcbiAgICB9XHJcbiAgfVxyXG5cclxuICAuc3ViLWhlYWRpbmcge1xyXG4gICAgbWFyZ2luLWJvdHRvbTogMi42cmVtO1xyXG4gIH1cclxuXHJcbiAgZm9ybSB7XHJcbiAgICAmLndwY2Y3LWZvcm0ge1xyXG4gICAgICAud3BjZjctZm9ybS1jb250cm9sLXdyYXAge1xyXG4gICAgICAgIGlucHV0LFxyXG4gICAgICAgIHRleHRhcmVhIHtcclxuICAgICAgICAgIHBhZGRpbmc6IDFyZW07XHJcbiAgICAgICAgICBmb250LXNpemU6IDEuNHJlbTtcclxuICAgICAgICAgIGNvbG9yOiAjOTA5MDkwO1xyXG4gICAgICAgICAgYm9yZGVyOiAuMXJlbSBzb2xpZCAjQ0NDQ0NDO1xyXG4gICAgICAgICAgYmFja2dyb3VuZC1jb2xvcjogI0VBRjFGMTtcclxuXHJcbiAgICAgICAgICAmOjpwbGFjZWhvbGRlciB7XHJcbiAgICAgICAgICAgIGNvbG9yOiAjOTA5MDkwO1xyXG4gICAgICAgICAgfVxyXG4gICAgICAgIH1cclxuXHJcbiAgICAgICAgaW5wdXQge1xyXG4gICAgICAgICAgbWluLWhlaWdodDogMy44cmVtO1xyXG4gICAgICAgIH1cclxuXHJcbiAgICAgICAgdGV4dGFyZWEge1xyXG4gICAgICAgICAgaGVpZ2h0OiA4cmVtO1xyXG4gICAgICAgIH1cclxuICAgICAgfVxyXG5cclxuICAgICAgLndwY2Y3LXN1Ym1pdCB7XHJcbiAgICAgICAgcGFkZGluZzogMXJlbSAycmVtO1xyXG4gICAgICAgIGZvbnQtc2l6ZTogMS40cmVtO1xyXG4gICAgICAgIGZvbnQtd2VpZ2h0OiA5MDA7XHJcbiAgICAgICAgYm9yZGVyLXJhZGl1czogLjVyZW07XHJcbiAgICAgICAgYmFja2dyb3VuZDogI0Q3Mzg0RTtcclxuICAgICAgfVxyXG4gICAgfVxyXG4gIH1cclxufSIsIi5lbGVtZW50LWNpcmN1bGFyLXByb2dyZXNzIHtcclxuICBkaXNwbGF5OiBncmlkO1xyXG5cclxuICAuaXRlbSB7XHJcbiAgICBkaXNwbGF5OiBmbGV4O1xyXG4gICAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjtcclxuICAgIGFsaWduLWl0ZW1zOiBjZW50ZXI7XHJcbiAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XHJcblxyXG4gICAgJl9fY2lyY2xlIHtcclxuICAgICAgcG9zaXRpb246IHJlbGF0aXZlO1xyXG4gICAgICBtYXJnaW4tYm90dG9tOiAxLjZyZW07XHJcbiAgICAgIGZvbnQtc2l6ZTogNXJlbTtcclxuICAgICAgZm9udC13ZWlnaHQ6IDUwMDtcclxuICAgICAgY29sb3I6ICNGMzAwMDA7XHJcbiAgICAgIGJvcmRlci1yYWRpdXM6IDUwJTtcclxuICAgICAgYmFja2dyb3VuZC1jb2xvcjogdmFyKC0tY2xpbmljLXRoZW1lLXByaW1hcnktY29sb3IpO1xyXG5cclxuICAgICAgJjpiZWZvcmUge1xyXG4gICAgICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcclxuICAgICAgICBjb250ZW50OiBcIlwiO1xyXG4gICAgICAgIHRvcDogLjVyZW07XHJcbiAgICAgICAgcmlnaHQ6IC41cmVtO1xyXG4gICAgICAgIGJvdHRvbTogLjVyZW07XHJcbiAgICAgICAgbGVmdDogLjVyZW07XHJcbiAgICAgICAgYm9yZGVyOiAuM3JlbSBkb3R0ZWQgdmFyKC0tY29sb3Itd2hpdGUpO1xyXG4gICAgICAgIGJvcmRlci1yYWRpdXM6IDUwJTtcclxuICAgICAgfVxyXG4gICAgfVxyXG4gIH1cclxufSIsIi5lbGVtZW50LWdhbGxlcnktZ3JpZC1ib3gge1xyXG4gICZfX3dhcnAge1xyXG4gICAgZGlzcGxheTogZ3JpZDtcclxuICAgIGdyaWQtYXV0by1yb3dzOiBtaW4tY29udGVudDtcclxuXHJcbiAgICAuaXRlbSB7XHJcbiAgICAgIGRpc3BsYXk6IGZsZXg7XHJcbiAgICAgIGZsZXgtZGlyZWN0aW9uOiBjb2x1bW47XHJcblxyXG4gICAgICAmX190aHVtYm5haWwge1xyXG4gICAgICAgIG1hcmdpbi1ib3R0b206IDJyZW07XHJcbiAgICAgICAgb3ZlcmZsb3c6IGhpZGRlbjtcclxuXHJcbiAgICAgICAgaW1nIHtcclxuICAgICAgICAgIG9iamVjdC1maXQ6IGNvdmVyO1xyXG4gICAgICAgIH1cclxuICAgICAgfVxyXG5cclxuICAgICAgJl9fdGl0bGUge1xyXG4gICAgICAgIG1hcmdpbi1ib3R0b206IC42cmVtO1xyXG4gICAgICAgIGNvbG9yOiAjMDAwMDAwO1xyXG4gICAgICAgIGZvbnQtc2l6ZTogMS43cmVtO1xyXG4gICAgICAgIGZvbnQtd2VpZ2h0OiA1MDA7XHJcbiAgICAgICAgZm9udC1mYW1pbHk6IHZhcigtLWJvZHktZm9udC1mYW1pbHkpO1xyXG5cclxuICAgICAgICBAbWVkaWEgKG1heC13aWR0aDogMTE5OXB4KSB7XHJcbiAgICAgICAgICBmb250LXNpemU6IDEuNnJlbTtcclxuICAgICAgICB9XHJcbiAgICAgIH1cclxuXHJcbiAgICAgICZfX2NvbnRlbnQge1xyXG4gICAgICAgIGxpbmUtaGVpZ2h0OiAxLjU7XHJcblxyXG4gICAgICAgIGEge1xyXG4gICAgICAgICAgY29sb3I6IHZhcigtLWNvbG9yLXN1bnNldC1vcmFuZ2UpO1xyXG4gICAgICAgIH1cclxuICAgICAgfVxyXG4gICAgfVxyXG4gIH1cclxufSIsIi5lbGVtZW50LXNhZmV0eS1wcmluY2lwbGVzIHtcclxuICAmX193YXJwIHtcclxuICAgIGRpc3BsYXk6IGdyaWQ7XHJcblxyXG4gICAgQG1lZGlhIChtaW4td2lkdGg6IDEyMDBweCkge1xyXG4gICAgICBncmlkLWdhcDogMi40cmVtIDQuNHJlbTtcclxuICAgICAgZ3JpZC10ZW1wbGF0ZS1jb2x1bW5zOiAxZnIgNDQuM3JlbSAxZnI7XHJcbiAgICB9XHJcblxyXG4gICAgQG1lZGlhIChtYXgtd2lkdGg6IDExOTlweCkge1xyXG4gICAgICBncmlkLWdhcDogM3JlbTtcclxuICAgIH1cclxuXHJcbiAgICBAbWVkaWEgKG1pbi13aWR0aDogOTkycHgpIGFuZCAobWF4LXdpZHRoOiAxMTk5cHgpIHtcclxuICAgICAgZ3JpZC10ZW1wbGF0ZS1jb2x1bW5zOiAxZnIgMzByZW0gMWZyO1xyXG4gICAgfVxyXG5cclxuICAgIEBtZWRpYSAobWluLXdpZHRoOiA0ODBweCkgYW5kIChtYXgtd2lkdGg6IDk5MXB4KSB7XHJcbiAgICAgIGdyaWQtdGVtcGxhdGUtY29sdW1uczogcmVwZWF0KDIsIDFmcik7XHJcbiAgICB9XHJcblxyXG4gICAgLml0ZW0tdGh1bWJuYWlsIHtcclxuICAgICAgQG1lZGlhIChtaW4td2lkdGg6IDEyMDBweCkge1xyXG4gICAgICAgIGRpc3BsYXk6IGZsZXg7XHJcbiAgICAgICAgYWxpZ24taXRlbXM6IGZsZXgtZW5kO1xyXG4gICAgICAgIGp1c3RpZnktY29udGVudDogY2VudGVyO1xyXG4gICAgICB9XHJcblxyXG4gICAgICBAbWVkaWEgKG1heC13aWR0aDogOTkxcHgpIHtcclxuICAgICAgICBkaXNwbGF5OiBub25lO1xyXG4gICAgICB9XHJcbiAgICB9XHJcblxyXG4gICAgLml0ZW0tZ3JvdXAge1xyXG4gICAgICBAbWVkaWEgKG1pbi13aWR0aDogOTkycHgpIHtcclxuICAgICAgICBwYWRkaW5nLWJvdHRvbTogNnJlbTtcclxuICAgICAgfVxyXG5cclxuICAgICAgLnJlcGVhdGVyLWl0ZW0ge1xyXG4gICAgICAgIH4gLnJlcGVhdGVyLWl0ZW0ge1xyXG4gICAgICAgICAgQG1lZGlhIChtaW4td2lkdGg6IDk5MnB4KSB7XHJcbiAgICAgICAgICAgIG1hcmdpbi10b3A6IDMuMnJlbTtcclxuICAgICAgICAgIH1cclxuXHJcbiAgICAgICAgICBAbWVkaWEgKG1pbi13aWR0aDogMzc2cHgpIGFuZCAobWF4LXdpZHRoOiA5OTJweCkge1xyXG4gICAgICAgICAgICBtYXJnaW4tdG9wOiAxcmVtO1xyXG4gICAgICAgICAgfVxyXG5cclxuICAgICAgICAgIEBtZWRpYSAobWF4LXdpZHRoOiAzNzVweCkge1xyXG4gICAgICAgICAgICBtYXJnaW4tdG9wOiAzcmVtO1xyXG4gICAgICAgICAgfVxyXG4gICAgICAgIH1cclxuICAgICAgfVxyXG5cclxuICAgICAgLnRvcC1ib3gge1xyXG4gICAgICAgIG1hcmdpbi1ib3R0b206IC44cmVtO1xyXG4gICAgICAgIGRpc3BsYXk6IGZsZXg7XHJcbiAgICAgICAgZ2FwOiAxLjJyZW07XHJcbiAgICAgICAgbGluZS1oZWlnaHQ6IDEuMTtcclxuXHJcbiAgICAgICAgQG1lZGlhIChtaW4td2lkdGg6IDc2OHB4KSB7XHJcbiAgICAgICAgICBqdXN0aWZ5LWNvbnRlbnQ6IHNwYWNlLWJldHdlZW47XHJcbiAgICAgICAgfVxyXG5cclxuICAgICAgICBAbWVkaWEgKG1heC13aWR0aDogNzY3cHgpIHtcclxuICAgICAgICAgIGFsaWduLWl0ZW1zOiBjZW50ZXI7XHJcbiAgICAgICAgfVxyXG5cclxuICAgICAgICBAbWVkaWEgKG1heC13aWR0aDogMzc1cHgpIHtcclxuICAgICAgICAgIGdhcDogMS4ycmVtO1xyXG4gICAgICAgIH1cclxuICAgICAgfVxyXG5cclxuICAgICAgLnRpdGxlIHtcclxuICAgICAgICBtYXJnaW46IDA7XHJcbiAgICAgICAgY29sb3I6ICMwMDA7XHJcblxyXG4gICAgICAgIEBtZWRpYSAobWluLXdpZHRoOiA5OTJweCkge1xyXG4gICAgICAgICAgZm9udC1zaXplOiAyLjNyZW07XHJcbiAgICAgICAgfVxyXG5cclxuICAgICAgICBAbWVkaWEgKG1heC13aWR0aDogOTkxcHgpIHtcclxuICAgICAgICAgIGZvbnQtc2l6ZTogMS44cmVtO1xyXG4gICAgICAgIH1cclxuXHJcbiAgICAgICAgQG1lZGlhIChtYXgtd2lkdGg6IDc2N3B4KSB7XHJcbiAgICAgICAgICBvcmRlcjogMTtcclxuICAgICAgICB9XHJcbiAgICAgIH1cclxuXHJcbiAgICAgIC5udW1iZXIge1xyXG4gICAgICAgIGZvbnQtc2l6ZTogNHJlbTtcclxuICAgICAgICBmbGV4OiAwIDAgYXV0bztcclxuXHJcbiAgICAgICAgQG1lZGlhIChtYXgtd2lkdGg6IDc2N3B4KSB7XHJcbiAgICAgICAgICBmb250LXNpemU6IDJyZW07XHJcbiAgICAgICAgfVxyXG4gICAgICB9XHJcbiAgICB9XHJcbiAgfVxyXG59Il19 */
