.elementor-widget-container .elementor-heading-title {
  line-height: 1.2;
}

.element-about-us__warp {
  display: grid;
}
.element-about-us__warp .item {
  order: 1;
}
.element-about-us__warp .item .heading {
  font-family: var(--body-font-family);
}
.element-about-us__warp .item .sub-heading {
  font-size: 3.6rem;
}
.element-about-us__warp .item .dividing-line {
  line-height: 0.3rem;
  height: 0.3rem;
}
.element-about-us__warp .item .dividing-line__box {
  display: inline-block;
  height: inherit;
}
.element-about-us__warp .item .desc ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.element-about-us__warp .item .desc ul li {
  position: relative;
  padding-left: 3.5rem;
}
.element-about-us__warp .item .desc ul li:before {
  position: absolute;
  content: "";
  top: 0.6rem;
  left: 0;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: #E6171F;
}
.element-about-us__warp .item .desc ul li ~ li {
  margin-top: 1.2rem;
}
.element-about-us__warp .item .action-box {
  margin-top: 2.4rem;
  gap: 1.5rem;
  flex-wrap: wrap;
}
@media (max-width: 479px) {
  .element-about-us__warp .item .action-box {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.element-about-us__warp .item .action-box a {
  padding: 0.8rem 2.4rem 0.7rem;
  font-weight: 700;
  color: #ffffff;
  font-family: var(--heading-font-family);
  border-radius: 5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.25);
  background: linear-gradient(180deg, #FFB06D 0, #FF611D 100%);
}
@media (min-width: 1200px) {
  .element-about-us__warp .item .action-box a {
    min-width: 21.5rem;
  }
}
@media (max-width: 1199px) {
  .element-about-us__warp .item .action-box a {
    flex: 0 0 auto;
  }
}
@media (max-width: 480px) {
  .element-about-us__warp .item .action-box a {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .element-banner:has(.banner-mobile) .banner-pc {
    display: none;
  }
}
@media (min-width: 576px) {
  .element-banner .banner-mobile {
    display: none;
  }
}
.element-banner .banner-mobile img {
  width: 100%;
}

.element-category-list__grid {
  display: grid;
}
.element-category-list__grid .item__image {
  margin-bottom: 1.2rem;
}
.element-category-list__grid .item__title {
  margin-bottom: 0;
}
.element-category-list__grid .item__title a {
  color: inherit;
}

.element-contact-form-7 .heading {
  margin-bottom: 1.8rem;
  color: #FF0000;
  line-height: 1.2;
}
.element-contact-form-7 .heading span.has-gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.element-contact-form-7 .sub-heading {
  margin-bottom: 2.6rem;
}
.element-contact-form-7 form.wpcf7-form p:has(.wpcf7-submit) {
  text-align: center;
}
.element-contact-form-7 form.wpcf7-form .wpcf7-form-control-wrap input,
.element-contact-form-7 form.wpcf7-form .wpcf7-form-control-wrap textarea {
  padding: 1rem;
  font-size: 1.4rem;
  color: #909090;
  border: 0.1rem solid #CCCCCC;
  background-color: #EAF1F1;
}
.element-contact-form-7 form.wpcf7-form .wpcf7-form-control-wrap input::placeholder,
.element-contact-form-7 form.wpcf7-form .wpcf7-form-control-wrap textarea::placeholder {
  color: #909090;
}
.element-contact-form-7 form.wpcf7-form .wpcf7-form-control-wrap input {
  min-height: 3.8rem;
}
.element-contact-form-7 form.wpcf7-form .wpcf7-form-control-wrap textarea {
  height: 8rem;
}
.element-contact-form-7 form.wpcf7-form .wpcf7-submit {
  padding: 1rem 2rem;
  font-size: 1.4rem;
  font-weight: 900;
  border-radius: 0.5rem;
  background: #D7384E;
}
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIl9lbGVtZW50LWN1c3RvbS5zY3NzIiwiLi4vdmFyaWFibGVzLXNpdGUvX2ZvbnQuc2NzcyIsIl9lbGVtZW50LWFib3V0LXVzLnNjc3MiLCIuLi92YXJpYWJsZXMtc2l0ZS9fbWl4aW5zLnNjc3MiLCJfZWxlbWVudC1iYW5uZXIuc2NzcyIsIl9lbGVtZW50LWNhdGVnb3J5LWxpc3Quc2NzcyIsIl9lbGVtZW50LWNmNy5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUNFO0VBQ0UsYUNPVzs7O0FDUmI7RUFDRTs7QUFFQTtFQUNFOztBQUVBO0VBQ0U7O0FBR0Y7RUFDRTs7QUFHRjtFQUNFO0VBQ0E7O0FBRUE7RUFDRTtFQUNBOztBQUtGO0VBQ0U7RUFDQTtFQUNBOztBQUVBO0VBQ0U7RUFDQTs7QUFFQTtFQUNFO0VBQ0E7RUFDQTtFQUNBO0VDM0JaLE9ENEI0QjtFQzNCNUIsUUQyQjRCO0VDeEIxQixlRHdCa0M7RUFDeEI7O0FBR0Y7RUFDRTs7QUFNUjtFQUNFO0VBQ0E7RUFDQTs7QUFFQTtFQUxGO0lBTUk7SUFDQTtJQUNBOzs7QUFHRjtFQUNFO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBOztBQUVBO0VBWkY7SUFhSTs7O0FBR0Y7RUFoQkY7SUFpQkk7OztBQUdGO0VBcEJGO0lBcUJJOzs7O0FFaEZOO0VBREY7SUFFSTs7O0FBTUo7RUFERjtJQUVJOzs7QUFHRjtFQUNFOzs7QUNkSjtFQUNFOztBQUdFO0VBQ0U7O0FBR0Y7RUFDRTs7QUFFQTtFQUNFOzs7QUNaUjtFQUNFO0VBQ0E7RUFDQTs7QUFHRTtFQUNFO0VBQ0E7O0FBS047RUFDRTs7QUFNSTtFQUNFOztBQUtGO0FBQUE7RUFFRTtFQUNBO0VBQ0E7RUFDQTtFQUNBOztBQUVBO0FBQUE7RUFDRTs7QUFJSjtFQUNFOztBQUdGO0VBQ0U7O0FBSUo7RUFDRTtFQUNBO0VBQ0E7RUFDQTtFQUNBIiwiZmlsZSI6ImVsZW1lbnRvci1hZGRvbi5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyIuZWxlbWVudG9yLXdpZGdldC1jb250YWluZXIge1xyXG4gIC5lbGVtZW50b3ItaGVhZGluZy10aXRsZSB7XHJcbiAgICBsaW5lLWhlaWdodDogJGxpbmUtaGVhZGluZztcclxuICB9XHJcbn0iLCIvLyBGb250IEZhbWlsaWVzXHJcbiRib2R5LWZvbnQtZmFtaWx5OiAnUm9ib3RvJywgc2Fucy1zZXJpZjtcclxuJGhlYWRpbmctZm9udC1mYW1pbHk6ICdBcmltbycsIHNhbnMtc2VyaWY7XHJcblxyXG4kZm9udC1pY29uIDogJ2ljb21vb24nO1xyXG5cclxuLy8gZm9udCBzaXplXHJcbiRmb250LXNpemUtYm9keTogMS42cmVtO1xyXG4kbGluZS1ib2R5OiAxLjU7XHJcbiRsaW5lLWhlYWRpbmc6IDEuMjtcclxuXHJcbiRoMS1mb250LXNpemU6IDIuNHJlbSAhZGVmYXVsdDtcclxuJGgyLWZvbnQtc2l6ZTogMnJlbSAhZGVmYXVsdDtcclxuJGgzLWZvbnQtc2l6ZTogMS44cmVtICFkZWZhdWx0O1xyXG4kaDQtZm9udC1zaXplOiAxLjZyZW0gIWRlZmF1bHQ7XHJcbiRoNS1mb250LXNpemU6IDEuNHJlbSAhZGVmYXVsdDtcclxuJGg2LWZvbnQtc2l6ZTogMS4ycmVtICFkZWZhdWx0OyIsIi5lbGVtZW50LWFib3V0LXVzIHtcclxuICAmX193YXJwIHtcclxuICAgIGRpc3BsYXk6IGdyaWQ7XHJcblxyXG4gICAgLml0ZW0ge1xyXG4gICAgICBvcmRlcjogMTtcclxuXHJcbiAgICAgIC5oZWFkaW5nIHtcclxuICAgICAgICBmb250LWZhbWlseTogdmFyKC0tYm9keS1mb250LWZhbWlseSk7XHJcbiAgICAgIH1cclxuXHJcbiAgICAgIC5zdWItaGVhZGluZyB7XHJcbiAgICAgICAgZm9udC1zaXplOiAzLjZyZW07XHJcbiAgICAgIH1cclxuXHJcbiAgICAgIC5kaXZpZGluZy1saW5lIHtcclxuICAgICAgICBsaW5lLWhlaWdodDogLjNyZW07XHJcbiAgICAgICAgaGVpZ2h0OiAuM3JlbTtcclxuXHJcbiAgICAgICAgJl9fYm94IHtcclxuICAgICAgICAgIGRpc3BsYXk6IGlubGluZS1ibG9jaztcclxuICAgICAgICAgIGhlaWdodDogaW5oZXJpdDtcclxuICAgICAgICB9XHJcbiAgICAgIH1cclxuXHJcbiAgICAgIC5kZXNjIHtcclxuICAgICAgICB1bCB7XHJcbiAgICAgICAgICBtYXJnaW46IDA7XHJcbiAgICAgICAgICBwYWRkaW5nOiAwO1xyXG4gICAgICAgICAgbGlzdC1zdHlsZTogbm9uZTtcclxuXHJcbiAgICAgICAgICBsaSB7XHJcbiAgICAgICAgICAgIHBvc2l0aW9uOiByZWxhdGl2ZTtcclxuICAgICAgICAgICAgcGFkZGluZy1sZWZ0OiAzLjVyZW07XHJcblxyXG4gICAgICAgICAgICAmOmJlZm9yZSB7XHJcbiAgICAgICAgICAgICAgcG9zaXRpb246IGFic29sdXRlO1xyXG4gICAgICAgICAgICAgIGNvbnRlbnQ6IFwiXCI7XHJcbiAgICAgICAgICAgICAgdG9wOiAuNnJlbTtcclxuICAgICAgICAgICAgICBsZWZ0OiAwO1xyXG4gICAgICAgICAgICAgIEBpbmNsdWRlIHNxdWFyZSgxLjJyZW0sIDUwJSk7XHJcbiAgICAgICAgICAgICAgYmFja2dyb3VuZC1jb2xvcjogI0U2MTcxRjtcclxuICAgICAgICAgICAgfVxyXG5cclxuICAgICAgICAgICAgfiBsaSB7XHJcbiAgICAgICAgICAgICAgbWFyZ2luLXRvcDogMS4ycmVtO1xyXG4gICAgICAgICAgICB9XHJcbiAgICAgICAgICB9XHJcbiAgICAgICAgfVxyXG4gICAgICB9XHJcblxyXG4gICAgICAuYWN0aW9uLWJveCB7XHJcbiAgICAgICAgbWFyZ2luLXRvcDogMi40cmVtO1xyXG4gICAgICAgIGdhcDogMS41cmVtO1xyXG4gICAgICAgIGZsZXgtd3JhcDogd3JhcDtcclxuXHJcbiAgICAgICAgQG1lZGlhIChtYXgtd2lkdGg6IDQ3OXB4KSB7XHJcbiAgICAgICAgICBmbGV4LWRpcmVjdGlvbjogY29sdW1uO1xyXG4gICAgICAgICAgYWxpZ24taXRlbXM6IGNlbnRlcjtcclxuICAgICAgICAgIGp1c3RpZnktY29udGVudDogY2VudGVyO1xyXG4gICAgICAgIH1cclxuXHJcbiAgICAgICAgYSB7XHJcbiAgICAgICAgICBwYWRkaW5nOiAuOHJlbSAyLjRyZW0gLjdyZW07XHJcbiAgICAgICAgICBmb250LXdlaWdodDogNzAwO1xyXG4gICAgICAgICAgY29sb3I6ICNmZmZmZmY7XHJcbiAgICAgICAgICBmb250LWZhbWlseTogdmFyKC0taGVhZGluZy1mb250LWZhbWlseSk7XHJcbiAgICAgICAgICBib3JkZXItcmFkaXVzOiA1cmVtO1xyXG4gICAgICAgICAgZGlzcGxheTogaW5saW5lLWZsZXg7XHJcbiAgICAgICAgICBhbGlnbi1pdGVtczogY2VudGVyO1xyXG4gICAgICAgICAganVzdGlmeS1jb250ZW50OiBjZW50ZXI7XHJcbiAgICAgICAgICBib3gtc2hhZG93OiAwIC40cmVtIC40cmVtIDAgcmdiYSgwLCAwLCAwLCAwLjI1KTtcclxuICAgICAgICAgIGJhY2tncm91bmQ6IGxpbmVhci1ncmFkaWVudCgxODBkZWcsICNGRkIwNkQgMCwgI0ZGNjExRCAxMDAlKTtcclxuXHJcbiAgICAgICAgICBAbWVkaWEgKG1pbi13aWR0aDogMTIwMHB4KSB7XHJcbiAgICAgICAgICAgIG1pbi13aWR0aDogMjEuNXJlbTtcclxuICAgICAgICAgIH1cclxuXHJcbiAgICAgICAgICBAbWVkaWEgKG1heC13aWR0aDogMTE5OXB4KSB7XHJcbiAgICAgICAgICAgIGZsZXg6IDAgMCBhdXRvO1xyXG4gICAgICAgICAgfVxyXG5cclxuICAgICAgICAgIEBtZWRpYSAobWF4LXdpZHRoOiA0ODBweCkge1xyXG4gICAgICAgICAgICB3aWR0aDogMTAwJTtcclxuICAgICAgICAgIH1cclxuICAgICAgICB9XHJcbiAgICAgIH1cclxuICAgIH1cclxuICB9XHJcbn0iLCJAbWl4aW4gcmVzZXQtbGlzdCB7XHJcbiAgbWFyZ2luOiAwO1xyXG4gIHBhZGRpbmc6IDA7XHJcbiAgbGlzdC1zdHlsZTogbm9uZTtcclxufVxyXG5cclxuQG1peGluIGJveCgkd2lkdGgsICRoZWlnaHQ6ICR3aWR0aCkge1xyXG4gIHdpZHRoOiAkd2lkdGg7XHJcbiAgaGVpZ2h0OiAkaGVpZ2h0O1xyXG59XHJcblxyXG5AbWl4aW4gc3F1YXJlKCRzaXplLCAkcmFkaXVzOiAwKSB7XHJcbiAgd2lkdGg6ICRzaXplO1xyXG4gIGhlaWdodDogJHNpemU7XHJcblxyXG4gIEBpZiAkcmFkaXVzICE9IDAge1xyXG4gICAgYm9yZGVyLXJhZGl1czogJHJhZGl1cztcclxuICB9XHJcbn1cclxuXHJcbkBtaXhpbiBjb3Zlci1iYWNrZ3JvdW5kIHtcclxuICBiYWNrZ3JvdW5kLXJlcGVhdDogbm8tcmVwZWF0O1xyXG4gIGJhY2tncm91bmQtc2l6ZTogY292ZXI7XHJcbiAgYmFja2dyb3VuZC1wb3NpdGlvbjogY2VudGVyO1xyXG59XHJcblxyXG5AbWl4aW4gZmxleC1jb2x1bW4ge1xyXG4gIGRpc3BsYXk6IGZsZXg7XHJcbiAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjtcclxufVxyXG5cclxuQG1peGluIGZsZXgtY2VudGVyIHtcclxuICBkaXNwbGF5OiBmbGV4O1xyXG4gIGFsaWduLWl0ZW1zOiBjZW50ZXI7XHJcbiAganVzdGlmeS1jb250ZW50OiBjZW50ZXI7XHJcbn1cclxuXHJcbkBtaXhpbiBmbGV4LWNlbnRlci1jb2x1bW4ge1xyXG4gIEBpbmNsdWRlIGZsZXgtY2VudGVyO1xyXG4gIGZsZXgtZGlyZWN0aW9uOiBjb2x1bW47XHJcbn1cclxuXHJcbkBtaXhpbiBmbGV4LWNlbnRlci12ZXJ0IHtcclxuICBkaXNwbGF5OiBmbGV4O1xyXG4gIGFsaWduLWl0ZW1zOiBjZW50ZXI7XHJcbn1cclxuXHJcbkBtaXhpbiBmbGV4LWNlbnRlci1ob3JpeiB7XHJcbiAgZGlzcGxheTogZmxleDtcclxuICBqdXN0aWZ5LWNvbnRlbnQ6IGNlbnRlcjtcclxufVxyXG5cclxuQG1peGluIHRyYW5zaXRpb24oICR0cmFuc2l0aW9uOiBhbGwgMC40cyBlYXNlLWluLW91dCApIHtcclxuICB0cmFuc2l0aW9uOiAkdHJhbnNpdGlvbjtcclxufVxyXG5cclxuQG1peGluIGdyaWQtY29sdW1ucygkZ2FwLCAkY29sdW1ucykge1xyXG4gIGRpc3BsYXk6IGdyaWQ7XHJcbiAgZ3JpZC1nYXA6ICRnYXA7XHJcbiAgZ3JpZC10ZW1wbGF0ZS1jb2x1bW5zOiAkY29sdW1ucztcclxufSIsIi5lbGVtZW50LWJhbm5lciB7XHJcbiAgJjpoYXMoLmJhbm5lci1tb2JpbGUpIHtcclxuICAgIC5iYW5uZXItcGMge1xyXG4gICAgICBAbWVkaWEgKG1heC13aWR0aDogNTc2cHgpIHtcclxuICAgICAgICBkaXNwbGF5OiBub25lO1xyXG4gICAgICB9XHJcbiAgICB9XHJcbiAgfVxyXG5cclxuICAuYmFubmVyLW1vYmlsZSB7XHJcbiAgICBAbWVkaWEgKG1pbi13aWR0aDogNTc2cHgpIHtcclxuICAgICAgZGlzcGxheTogbm9uZTtcclxuICAgIH1cclxuXHJcbiAgICBpbWcge1xyXG4gICAgICB3aWR0aDogMTAwJTtcclxuICAgIH1cclxuICB9XHJcbn0iLCIuZWxlbWVudC1jYXRlZ29yeS1saXN0IHtcclxuICAmX19ncmlkIHtcclxuICAgIGRpc3BsYXk6IGdyaWQ7XHJcblxyXG4gICAgLml0ZW0ge1xyXG4gICAgICAmX19pbWFnZSB7XHJcbiAgICAgICAgbWFyZ2luLWJvdHRvbTogMS4ycmVtO1xyXG4gICAgICB9XHJcblxyXG4gICAgICAmX190aXRsZSB7XHJcbiAgICAgICAgbWFyZ2luLWJvdHRvbTogMDtcclxuXHJcbiAgICAgICAgYSB7XHJcbiAgICAgICAgICBjb2xvcjogaW5oZXJpdDtcclxuICAgICAgICB9XHJcbiAgICAgIH1cclxuICAgIH1cclxuICB9XHJcbn0iLCIuZWxlbWVudC1jb250YWN0LWZvcm0tNyB7XHJcbiAgLmhlYWRpbmcge1xyXG4gICAgbWFyZ2luLWJvdHRvbTogMS44cmVtO1xyXG4gICAgY29sb3I6ICNGRjAwMDA7XHJcbiAgICBsaW5lLWhlaWdodDogMS4yO1xyXG5cclxuICAgIHNwYW4ge1xyXG4gICAgICAmLmhhcy1ncmFkaWVudCB7XHJcbiAgICAgICAgLXdlYmtpdC1iYWNrZ3JvdW5kLWNsaXA6IHRleHQ7XHJcbiAgICAgICAgLXdlYmtpdC10ZXh0LWZpbGwtY29sb3I6IHRyYW5zcGFyZW50O1xyXG4gICAgICB9XHJcbiAgICB9XHJcbiAgfVxyXG5cclxuICAuc3ViLWhlYWRpbmcge1xyXG4gICAgbWFyZ2luLWJvdHRvbTogMi42cmVtO1xyXG4gIH1cclxuXHJcbiAgZm9ybSB7XHJcbiAgICAmLndwY2Y3LWZvcm0ge1xyXG4gICAgICBwIHtcclxuICAgICAgICAmOmhhcygud3BjZjctc3VibWl0KSB7XHJcbiAgICAgICAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XHJcbiAgICAgICAgfVxyXG4gICAgICB9XHJcblxyXG4gICAgICAud3BjZjctZm9ybS1jb250cm9sLXdyYXAge1xyXG4gICAgICAgIGlucHV0LFxyXG4gICAgICAgIHRleHRhcmVhIHtcclxuICAgICAgICAgIHBhZGRpbmc6IDFyZW07XHJcbiAgICAgICAgICBmb250LXNpemU6IDEuNHJlbTtcclxuICAgICAgICAgIGNvbG9yOiAjOTA5MDkwO1xyXG4gICAgICAgICAgYm9yZGVyOiAuMXJlbSBzb2xpZCAjQ0NDQ0NDO1xyXG4gICAgICAgICAgYmFja2dyb3VuZC1jb2xvcjogI0VBRjFGMTtcclxuXHJcbiAgICAgICAgICAmOjpwbGFjZWhvbGRlciB7XHJcbiAgICAgICAgICAgIGNvbG9yOiAjOTA5MDkwO1xyXG4gICAgICAgICAgfVxyXG4gICAgICAgIH1cclxuXHJcbiAgICAgICAgaW5wdXQge1xyXG4gICAgICAgICAgbWluLWhlaWdodDogMy44cmVtO1xyXG4gICAgICAgIH1cclxuXHJcbiAgICAgICAgdGV4dGFyZWEge1xyXG4gICAgICAgICAgaGVpZ2h0OiA4cmVtO1xyXG4gICAgICAgIH1cclxuICAgICAgfVxyXG5cclxuICAgICAgLndwY2Y3LXN1Ym1pdCB7XHJcbiAgICAgICAgcGFkZGluZzogMXJlbSAycmVtO1xyXG4gICAgICAgIGZvbnQtc2l6ZTogMS40cmVtO1xyXG4gICAgICAgIGZvbnQtd2VpZ2h0OiA5MDA7XHJcbiAgICAgICAgYm9yZGVyLXJhZGl1czogLjVyZW07XHJcbiAgICAgICAgYmFja2dyb3VuZDogI0Q3Mzg0RTtcclxuICAgICAgfVxyXG4gICAgfVxyXG4gIH1cclxufSJdfQ== */
