.element-slider .owl-carousel .owl-nav {
  margin: 0;
}
.element-slider .owl-carousel .owl-nav button {
  position: absolute;
  top: 50%;
  margin: 0;
  transform: translateY(-50%);
}
.element-slider .owl-carousel .owl-nav button.owl-prev {
  left: 1.6rem;
}
.element-slider .owl-carousel .owl-nav button.owl-next {
  right: 1.6rem;
}
.element-slider .owl-carousel .owl-nav button i {
  font-size: 2.2rem;
}
.element-slider .owl-carousel .owl-dots {
  position: absolute;
  margin: 0;
  left: 0;
  right: 0;
  bottom: 1.6rem;
}
.element-slider .owl-carousel .owl-dots .owl-dot span {
  width: 1rem;
  height: 1rem;
  background-color: #222222;
}
.element-slider .owl-carousel .owl-dots .owl-dot.active span, .element-slider .owl-carousel .owl-dots .owl-dot:hover span {
  background-color: var(--color-cadmium-yellow);
}

.element-about-us__warp {
  display: grid;
  grid-gap: 2.4rem;
  align-items: center;
}
@media (min-width: 1200px) {
  .element-about-us__warp {
    grid-template-columns: 50.7rem 1fr;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .element-about-us__warp {
    grid-template-columns: 40rem 1fr;
  }
}
.element-about-us__warp .item__heading {
  font-size: 2.4rem;
}
.element-about-us__warp .item__sub-heading {
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1200px) {
  .element-about-us__warp .item__sub-heading {
    font-size: 3.5rem;
  }
}
@media (max-width: 1199px) {
  .element-about-us__warp .item__sub-heading {
    font-size: 2.8rem;
  }
}
.element-about-us__warp .item__sub-heading span {
  display: inline-block;
}
.element-about-us__warp .item__sub-heading span.line {
  height: 0.1rem;
  background-color: var(--clinic-theme-secondary-color);
}
@media (min-width: 768px) {
  .element-about-us__warp .item__sub-heading span.line {
    flex: 0 0 6rem;
  }
}
@media (max-width: 767px) {
  .element-about-us__warp .item__sub-heading span.line {
    flex: 0 0 3rem;
  }
}
.element-about-us__warp .item__sub-heading span.text {
  text-align: center;
}
@media (min-width: 1200px) {
  .element-about-us__warp .item__sub-heading span.text {
    margin: 0 3rem;
  }
}
@media (max-width: 1199px) {
  .element-about-us__warp .item__sub-heading span.text {
    margin: 0 1.2rem;
  }
}

.element-doctor-slider__warp .item {
  display: grid;
}
@media (min-width: 1200px) {
  .element-doctor-slider__warp .item {
    grid-gap: 5rem;
    grid-template-columns: 34.5rem 1fr;
  }
}
@media (max-width: 1199px) {
  .element-doctor-slider__warp .item {
    grid-gap: 2rem;
  }
}
.element-doctor-slider__warp .item__body .content__item:not(:last-child) {
  margin-bottom: 2rem;
}
.element-doctor-slider__warp .item__body .content__item img {
  width: auto;
}
.element-doctor-slider__warp .item__body .content__item .top {
  margin-bottom: 1.6rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 2.8rem 1fr;
  align-items: center;
}
.element-doctor-slider__warp .item__body .content__item .top__title {
  margin: 0;
  font-size: 2.8rem;
  font-weight: 400;
}
.element-doctor-slider__warp .item__body .content__item .desc {
  padding-left: 1rem;
  border-left: 0.2rem solid var(--clinic-theme-secondary-color);
}
.element-doctor-slider__warp .item__body .action-box {
  margin-top: 3rem;
  text-align: center;
}
.element-doctor-slider__warp .item__body .action-box .btn {
  padding: 1.4rem 3rem;
  color: var(--color-white);
  font-size: 1.8rem;
  border-radius: 3rem;
  background-color: var(--clinic-theme-secondary-color);
  transition: all 0.4s ease-in-out;
}
.element-doctor-slider__warp .item__body .action-box .btn:hover {
  background-color: var(--color-salem);
}

.element-doctor-avatar .owl-stage-outer {
  padding: 1rem 0;
}
.element-doctor-avatar .owl-item.current .item {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
}
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIl9lbGVtZW50LXNsaWRlci5zY3NzIiwiLi4vdmFyaWFibGVzLXNpdGUvX21peGlucy5zY3NzIiwiX2VsZW1lbnQtYWJvdXQtdXMuc2NzcyIsIl9lbGVtZW50LWRvY3Rvci1zbGlkZXIuc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFFSTtFQUNFOztBQUVBO0VBQ0U7RUFDQTtFQUNBO0VBQ0E7O0FBRUE7RUFDRTs7QUFHRjtFQUNFOztBQUdGO0VBQ0U7O0FBS047RUFDRTtFQUNBO0VBQ0E7RUFDQTtFQUNBOztBQUdFO0VDckJOLE9Ec0J3QjtFQ3JCeEIsUURxQndCO0VBQ2hCOztBQUtBO0VBQ0U7OztBRXhDVjtFQUNFO0VBQ0E7RUFDQTs7QUFFQTtFQUxGO0lBTUk7OztBQUdGO0VBVEY7SUFVSTs7O0FBSUE7RUFDRTs7QUFHRjtFQUNFO0VBQ0E7RUFDQTtFQUNBOztBQUVBO0VBTkY7SUFPSTs7O0FBR0Y7RUFWRjtJQVdJOzs7QUFHRjtFQUNFOztBQUdBO0VBQ0U7RUFDQTs7QUFFQTtFQUpGO0lBS0k7OztBQUdGO0VBUkY7SUFTSTs7O0FBSUo7RUFDRTs7QUFFQTtFQUhGO0lBSUk7OztBQUdGO0VBUEY7SUFRSTs7OztBQ3hEVjtFQUNFOztBQUVBO0VBSEY7SUFJSTtJQUNBOzs7QUFHRjtFQVJGO0lBU0k7OztBQU1JO0VBQ0U7O0FBR0Y7RUFDRTs7QUFHRjtFQUNFO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7O0FBRUE7RUFDRTtFQUNBO0VBQ0E7O0FBSUo7RUFDRTtFQUNBOztBQUtOO0VBQ0U7RUFDQTs7QUFFQTtFQUNFO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUZGVixZQUQ4Qjs7QUVNcEI7RUFDRTs7O0FBVVo7RUFDRTs7QUFLRTtFQUNFIiwiZmlsZSI6ImVsZW1lbnRvci1hZGRvbi5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyIuZWxlbWVudC1zbGlkZXIge1xyXG4gIC5vd2wtY2Fyb3VzZWwge1xyXG4gICAgLm93bC1uYXYge1xyXG4gICAgICBtYXJnaW46IDA7XHJcblxyXG4gICAgICBidXR0b24ge1xyXG4gICAgICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcclxuICAgICAgICB0b3A6IDUwJTtcclxuICAgICAgICBtYXJnaW46IDA7XHJcbiAgICAgICAgdHJhbnNmb3JtOiB0cmFuc2xhdGVZKC01MCUpO1xyXG5cclxuICAgICAgICAmLm93bC1wcmV2IHtcclxuICAgICAgICAgIGxlZnQ6IDEuNnJlbTtcclxuICAgICAgICB9XHJcblxyXG4gICAgICAgICYub3dsLW5leHQge1xyXG4gICAgICAgICAgcmlnaHQ6IDEuNnJlbTtcclxuICAgICAgICB9XHJcblxyXG4gICAgICAgIGkge1xyXG4gICAgICAgICAgZm9udC1zaXplOiAyLjJyZW07XHJcbiAgICAgICAgfVxyXG4gICAgICB9XHJcbiAgICB9XHJcblxyXG4gICAgLm93bC1kb3RzIHtcclxuICAgICAgcG9zaXRpb246IGFic29sdXRlO1xyXG4gICAgICBtYXJnaW46IDA7XHJcbiAgICAgIGxlZnQ6IDA7XHJcbiAgICAgIHJpZ2h0OiAwO1xyXG4gICAgICBib3R0b206IDEuNnJlbTtcclxuXHJcbiAgICAgIC5vd2wtZG90IHtcclxuICAgICAgICBzcGFuIHtcclxuICAgICAgICAgIEBpbmNsdWRlIHNxdWFyZSgxcmVtKTtcclxuICAgICAgICAgIGJhY2tncm91bmQtY29sb3I6ICMyMjIyMjI7XHJcbiAgICAgICAgfVxyXG5cclxuICAgICAgICAmLmFjdGl2ZSxcclxuICAgICAgICAmOmhvdmVyIHtcclxuICAgICAgICAgIHNwYW4ge1xyXG4gICAgICAgICAgICBiYWNrZ3JvdW5kLWNvbG9yOiB2YXIoLS1jb2xvci1jYWRtaXVtLXllbGxvdyk7XHJcbiAgICAgICAgICB9XHJcbiAgICAgICAgfVxyXG4gICAgICB9XHJcbiAgICB9XHJcbiAgfVxyXG59IiwiQG1peGluIHJlc2V0LWxpc3Qge1xyXG4gIG1hcmdpbjogMDtcclxuICBwYWRkaW5nOiAwO1xyXG4gIGxpc3Qtc3R5bGU6IG5vbmU7XHJcbn1cclxuXHJcbkBtaXhpbiBib3goJHdpZHRoLCAkaGVpZ2h0OiAkd2lkdGgpIHtcclxuICB3aWR0aDogJHdpZHRoO1xyXG4gIGhlaWdodDogJGhlaWdodDtcclxufVxyXG5cclxuQG1peGluIHNxdWFyZSgkc2l6ZSwgJHJhZGl1czogMCkge1xyXG4gIHdpZHRoOiAkc2l6ZTtcclxuICBoZWlnaHQ6ICRzaXplO1xyXG5cclxuICBAaWYgJHJhZGl1cyAhPSAwIHtcclxuICAgIGJvcmRlci1yYWRpdXM6ICRyYWRpdXM7XHJcbiAgfVxyXG59XHJcblxyXG5AbWl4aW4gY292ZXItYmFja2dyb3VuZCB7XHJcbiAgYmFja2dyb3VuZC1yZXBlYXQ6IG5vLXJlcGVhdDtcclxuICBiYWNrZ3JvdW5kLXNpemU6IGNvdmVyO1xyXG4gIGJhY2tncm91bmQtcG9zaXRpb246IGNlbnRlcjtcclxufVxyXG5cclxuQG1peGluIGZsZXgtY29sdW1uIHtcclxuICBkaXNwbGF5OiBmbGV4O1xyXG4gIGZsZXgtZGlyZWN0aW9uOiBjb2x1bW47XHJcbn1cclxuXHJcbkBtaXhpbiBmbGV4LWNlbnRlciB7XHJcbiAgZGlzcGxheTogZmxleDtcclxuICBhbGlnbi1pdGVtczogY2VudGVyO1xyXG4gIGp1c3RpZnktY29udGVudDogY2VudGVyO1xyXG59XHJcblxyXG5AbWl4aW4gZmxleC1jZW50ZXItY29sdW1uIHtcclxuICBAaW5jbHVkZSBmbGV4LWNlbnRlcjtcclxuICBmbGV4LWRpcmVjdGlvbjogY29sdW1uO1xyXG59XHJcblxyXG5AbWl4aW4gZmxleC1jZW50ZXItdmVydCB7XHJcbiAgZGlzcGxheTogZmxleDtcclxuICBhbGlnbi1pdGVtczogY2VudGVyO1xyXG59XHJcblxyXG5AbWl4aW4gZmxleC1jZW50ZXItaG9yaXoge1xyXG4gIGRpc3BsYXk6IGZsZXg7XHJcbiAganVzdGlmeS1jb250ZW50OiBjZW50ZXI7XHJcbn1cclxuXHJcbkBtaXhpbiB0cmFuc2l0aW9uKCAkdHJhbnNpdGlvbjogYWxsIDAuNHMgZWFzZS1pbi1vdXQgKSB7XHJcbiAgdHJhbnNpdGlvbjogJHRyYW5zaXRpb247XHJcbn1cclxuXHJcbkBtaXhpbiBncmlkLWNvbHVtbnMoJGdhcCwgJGNvbHVtbnMpIHtcclxuICBkaXNwbGF5OiBncmlkO1xyXG4gIGdyaWQtZ2FwOiAkZ2FwO1xyXG4gIGdyaWQtdGVtcGxhdGUtY29sdW1uczogJGNvbHVtbnM7XHJcbn0iLCIuZWxlbWVudC1hYm91dC11cyB7XHJcbiAgJl9fd2FycCB7XHJcbiAgICBkaXNwbGF5OiBncmlkO1xyXG4gICAgZ3JpZC1nYXA6IDIuNHJlbTtcclxuICAgIGFsaWduLWl0ZW1zOiBjZW50ZXI7XHJcblxyXG4gICAgQG1lZGlhIChtaW4td2lkdGg6IDEyMDBweCkge1xyXG4gICAgICBncmlkLXRlbXBsYXRlLWNvbHVtbnM6IDUwLjdyZW0gMWZyO1xyXG4gICAgfVxyXG5cclxuICAgIEBtZWRpYSAobWluLXdpZHRoOiA5OTJweCkgYW5kIChtYXgtd2lkdGg6IDExOTlweCl7XHJcbiAgICAgIGdyaWQtdGVtcGxhdGUtY29sdW1uczogNDByZW0gMWZyO1xyXG4gICAgfVxyXG5cclxuICAgIC5pdGVtIHtcclxuICAgICAgJl9faGVhZGluZyB7XHJcbiAgICAgICAgZm9udC1zaXplOiAyLjRyZW07XHJcbiAgICAgIH1cclxuXHJcbiAgICAgICZfX3N1Yi1oZWFkaW5nIHtcclxuICAgICAgICBjb2xvcjogIzAwMDAwMDtcclxuICAgICAgICBkaXNwbGF5OiBmbGV4O1xyXG4gICAgICAgIGFsaWduLWl0ZW1zOiBjZW50ZXI7XHJcbiAgICAgICAganVzdGlmeS1jb250ZW50OiBjZW50ZXI7XHJcblxyXG4gICAgICAgIEBtZWRpYSAobWluLXdpZHRoOiAxMjAwcHgpIHtcclxuICAgICAgICAgIGZvbnQtc2l6ZTogMy41cmVtO1xyXG4gICAgICAgIH1cclxuXHJcbiAgICAgICAgQG1lZGlhIChtYXgtd2lkdGg6IDExOTlweCkge1xyXG4gICAgICAgICAgZm9udC1zaXplOiAyLjhyZW07XHJcbiAgICAgICAgfVxyXG5cclxuICAgICAgICBzcGFuIHtcclxuICAgICAgICAgIGRpc3BsYXk6IGlubGluZS1ibG9jaztcclxuXHJcblxyXG4gICAgICAgICAgJi5saW5lIHtcclxuICAgICAgICAgICAgaGVpZ2h0OiAuMXJlbTtcclxuICAgICAgICAgICAgYmFja2dyb3VuZC1jb2xvcjogdmFyKC0tY2xpbmljLXRoZW1lLXNlY29uZGFyeS1jb2xvcik7XHJcblxyXG4gICAgICAgICAgICBAbWVkaWEgKG1pbi13aWR0aDogNzY4cHgpIHtcclxuICAgICAgICAgICAgICBmbGV4OiAwIDAgNnJlbTtcclxuICAgICAgICAgICAgfVxyXG5cclxuICAgICAgICAgICAgQG1lZGlhIChtYXgtd2lkdGg6IDc2N3B4KSB7XHJcbiAgICAgICAgICAgICAgZmxleDogMCAwIDNyZW07XHJcbiAgICAgICAgICAgIH1cclxuICAgICAgICAgIH1cclxuXHJcbiAgICAgICAgICAmLnRleHQge1xyXG4gICAgICAgICAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XHJcblxyXG4gICAgICAgICAgICBAbWVkaWEgKG1pbi13aWR0aDogMTIwMHB4KSB7XHJcbiAgICAgICAgICAgICAgbWFyZ2luOiAwIDNyZW07XHJcbiAgICAgICAgICAgIH1cclxuXHJcbiAgICAgICAgICAgIEBtZWRpYSAobWF4LXdpZHRoOiAxMTk5cHgpIHtcclxuICAgICAgICAgICAgICBtYXJnaW46IDAgMS4ycmVtO1xyXG4gICAgICAgICAgICB9XHJcbiAgICAgICAgICB9XHJcbiAgICAgICAgfVxyXG4gICAgICB9XHJcbiAgICB9XHJcbiAgfVxyXG59IiwiLmVsZW1lbnQtZG9jdG9yLXNsaWRlciB7XHJcbiAgJl9fd2FycCB7XHJcbiAgICAuaXRlbSB7XHJcbiAgICAgIGRpc3BsYXk6IGdyaWQ7XHJcblxyXG4gICAgICBAbWVkaWEgKG1pbi13aWR0aDogMTIwMHB4KSB7XHJcbiAgICAgICAgZ3JpZC1nYXA6IDVyZW07XHJcbiAgICAgICAgZ3JpZC10ZW1wbGF0ZS1jb2x1bW5zOiAzNC41cmVtIDFmcjtcclxuICAgICAgfVxyXG5cclxuICAgICAgQG1lZGlhIChtYXgtd2lkdGg6ICgxMTk5cHgpKSB7XHJcbiAgICAgICAgZ3JpZC1nYXA6IDJyZW07XHJcbiAgICAgIH1cclxuXHJcbiAgICAgICZfX2JvZHkge1xyXG4gICAgICAgIC5jb250ZW50IHtcclxuICAgICAgICAgICZfX2l0ZW0ge1xyXG4gICAgICAgICAgICAmOm5vdCg6bGFzdC1jaGlsZCkge1xyXG4gICAgICAgICAgICAgIG1hcmdpbi1ib3R0b206IDJyZW07XHJcbiAgICAgICAgICAgIH1cclxuXHJcbiAgICAgICAgICAgIGltZyB7XHJcbiAgICAgICAgICAgICAgd2lkdGg6IGF1dG87XHJcbiAgICAgICAgICAgIH1cclxuXHJcbiAgICAgICAgICAgIC50b3Age1xyXG4gICAgICAgICAgICAgIG1hcmdpbi1ib3R0b206IDEuNnJlbTtcclxuICAgICAgICAgICAgICBkaXNwbGF5OiBncmlkO1xyXG4gICAgICAgICAgICAgIGdyaWQtZ2FwOiAycmVtO1xyXG4gICAgICAgICAgICAgIGdyaWQtdGVtcGxhdGUtY29sdW1uczogMi44cmVtIDFmcjtcclxuICAgICAgICAgICAgICBhbGlnbi1pdGVtczogY2VudGVyO1xyXG5cclxuICAgICAgICAgICAgICAmX190aXRsZSB7XHJcbiAgICAgICAgICAgICAgICBtYXJnaW46IDA7XHJcbiAgICAgICAgICAgICAgICBmb250LXNpemU6IDIuOHJlbTtcclxuICAgICAgICAgICAgICAgIGZvbnQtd2VpZ2h0OiA0MDA7XHJcbiAgICAgICAgICAgICAgfVxyXG4gICAgICAgICAgICB9XHJcblxyXG4gICAgICAgICAgICAuZGVzYyB7XHJcbiAgICAgICAgICAgICAgcGFkZGluZy1sZWZ0OiAxcmVtO1xyXG4gICAgICAgICAgICAgIGJvcmRlci1sZWZ0OiAuMnJlbSBzb2xpZCB2YXIoLS1jbGluaWMtdGhlbWUtc2Vjb25kYXJ5LWNvbG9yKTtcclxuICAgICAgICAgICAgfVxyXG4gICAgICAgICAgfVxyXG4gICAgICAgIH1cclxuXHJcbiAgICAgICAgLmFjdGlvbi1ib3gge1xyXG4gICAgICAgICAgbWFyZ2luLXRvcDogM3JlbTtcclxuICAgICAgICAgIHRleHQtYWxpZ246IGNlbnRlcjtcclxuXHJcbiAgICAgICAgICAuYnRuIHtcclxuICAgICAgICAgICAgcGFkZGluZzogMS40cmVtIDNyZW07XHJcbiAgICAgICAgICAgIGNvbG9yOiB2YXIoLS1jb2xvci13aGl0ZSk7XHJcbiAgICAgICAgICAgIGZvbnQtc2l6ZTogMS44cmVtO1xyXG4gICAgICAgICAgICBib3JkZXItcmFkaXVzOiAzcmVtO1xyXG4gICAgICAgICAgICBiYWNrZ3JvdW5kLWNvbG9yOiB2YXIoLS1jbGluaWMtdGhlbWUtc2Vjb25kYXJ5LWNvbG9yKTtcclxuICAgICAgICAgICAgQGluY2x1ZGUgdHJhbnNpdGlvbigpO1xyXG5cclxuICAgICAgICAgICAgJjpob3ZlciB7XHJcbiAgICAgICAgICAgICAgYmFja2dyb3VuZC1jb2xvcjogdmFyKC0tY29sb3Itc2FsZW0pO1xyXG4gICAgICAgICAgICB9XHJcbiAgICAgICAgICB9XHJcbiAgICAgICAgfVxyXG4gICAgICB9XHJcbiAgICB9XHJcbiAgfVxyXG59XHJcblxyXG4uZWxlbWVudC1kb2N0b3ItYXZhdGFyIHtcclxuICAub3dsLXN0YWdlLW91dGVyIHtcclxuICAgIHBhZGRpbmc6IDFyZW0gMDtcclxuICB9XHJcblxyXG4gIC5vd2wtaXRlbSB7XHJcbiAgICAmLmN1cnJlbnQge1xyXG4gICAgICAuaXRlbSB7XHJcbiAgICAgICAgYm94LXNoYWRvdzogMCA1cHggNXB4IDAgcmdiYSgwLDAsMCwuNSk7XHJcbiAgICAgIH1cclxuICAgIH1cclxuICB9XHJcbn0iXX0= */
