.element-category-list__grid {
  display: grid;
}
.element-category-list__grid .item {
  min-height: 15.2rem;
}
.element-category-list__grid .item__image {
  margin-bottom: 2rem;
}
.element-category-list__grid .item__title {
  margin-bottom: 0;
}
.element-category-list__grid .item__title a {
  color: var(--clinic-theme-tertiary-color);
}
@media (min-width: 992px) {
  .element-category-list__grid .item__title a {
    font-size: 1.8rem;
  }
}
@media (max-width: 991px) {
  .element-category-list__grid .item__title a {
    font-size: 1.6rem;
  }
}

.element-evaluate {
  position: relative;
  display: grid;
  grid-gap: 2.4rem 5rem;
  grid-template-columns: 40% 1fr;
}
.element-evaluate__item .heading {
  margin: 0;
  padding: 1.2rem 2.8rem;
  position: absolute;
  top: 5rem;
  left: 0;
  min-width: 39.5rem;
  color: var(--color-white);
  border-top-right-radius: 5rem;
  background: linear-gradient(180deg, #01BB82 0%, #0D8566 100%);
}
.element-evaluate__item .sub-heading {
  margin: 0;
  padding: 1.2rem 2.8rem;
  position: absolute;
  top: 10.2rem;
  left: 7.5rem;
  min-width: 35rem;
  color: var(--color-white);
  font-size: 1.8rem;
  border-bottom-left-radius: 5rem;
  border-top-right-radius: 5rem;
  background: linear-gradient(180deg, #CF202C 0%, #A31F28 100%);
}
.element-evaluate__item .list {
  margin-top: 65%;
  font-weight: 700;
  display: grid;
  grid-gap: 1.2rem 1.6rem;
  grid-template-columns: repeat(2, auto);
}
.element-evaluate__item .list li:first-child {
  grid-column: 1/span 2;
}
.element-evaluate__item .list li .icon {
  margin-right: 1rem;
  color: var(--clinic-theme-secondary-color);
}
.element-evaluate__item .image-box {
  height: 100%;
}

.element-statistical {
  display: grid;
  grid-gap: 2.4rem 3rem;
}
.element-statistical .item {
  text-align: center;
}
.element-statistical .item p {
  margin-bottom: 0;
}
.element-statistical .item p ~ p {
  margin-top: 1rem;
}
.element-statistical .item .parameter {
  font-weight: 700;
  font-size: 3rem;
  color: var(--clinic-theme-secondary-color);
  font-family: var(--heading-font-family);
}
.element-statistical .item .title {
  font-size: 1.7rem;
  font-family: var(--heading-font-family);
}
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIl9lbGVtZW50LWNhdGVnb3J5LWxpc3Quc2NzcyIsIl9lbGVtZW50LWV2YWx1YXRlLnNjc3MiLCJfZWxlbWVudC1zdGF0aXN0aWNhbC5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUNFO0VBQ0U7O0FBRUE7RUFDRTs7QUFFQTtFQUNFOztBQUdGO0VBQ0U7O0FBRUE7RUFDRTs7QUFFQTtFQUhGO0lBSUk7OztBQUdGO0VBUEY7SUFRSTs7OztBQ3RCWjtFQUNFO0VBQ0E7RUFDQTtFQUNBOztBQUdFO0VBQ0U7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBOztBQUdGO0VBQ0U7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTs7QUFHRjtFQUNFO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7O0FBR0U7RUFDRTs7QUFHRjtFQUNFO0VBQ0E7O0FBS047RUFDRTs7O0FDckROO0VBQ0U7RUFDQTs7QUFFQTtFQUNFOztBQUVBO0VBQ0U7O0FBRUE7RUFDRTs7QUFJSjtFQUNFO0VBQ0E7RUFDQTtFQUNBOztBQUdGO0VBQ0U7RUFDQSIsImZpbGUiOiJlbGVtZW50b3ItYWRkb24uY3NzIiwic291cmNlc0NvbnRlbnQiOlsiLmVsZW1lbnQtY2F0ZWdvcnktbGlzdCB7XHJcbiAgJl9fZ3JpZCB7XHJcbiAgICBkaXNwbGF5OiBncmlkO1xyXG5cclxuICAgIC5pdGVtIHtcclxuICAgICAgbWluLWhlaWdodDogMTUuMnJlbTtcclxuXHJcbiAgICAgICZfX2ltYWdlIHtcclxuICAgICAgICBtYXJnaW4tYm90dG9tOiAycmVtO1xyXG4gICAgICB9XHJcblxyXG4gICAgICAmX190aXRsZSB7XHJcbiAgICAgICAgbWFyZ2luLWJvdHRvbTogMDtcclxuXHJcbiAgICAgICAgYSB7XHJcbiAgICAgICAgICBjb2xvcjogdmFyKC0tY2xpbmljLXRoZW1lLXRlcnRpYXJ5LWNvbG9yKTtcclxuXHJcbiAgICAgICAgICBAbWVkaWEgKG1pbi13aWR0aDogOTkycHgpIHtcclxuICAgICAgICAgICAgZm9udC1zaXplOiAxLjhyZW07XHJcbiAgICAgICAgICB9XHJcblxyXG4gICAgICAgICAgQG1lZGlhIChtYXgtd2lkdGg6IDk5MXB4KSB7XHJcbiAgICAgICAgICAgIGZvbnQtc2l6ZTogMS42cmVtO1xyXG4gICAgICAgICAgfVxyXG4gICAgICAgIH1cclxuICAgICAgfVxyXG4gICAgfVxyXG4gIH1cclxufSIsIi5lbGVtZW50LWV2YWx1YXRlIHtcclxuICBwb3NpdGlvbjogcmVsYXRpdmU7XHJcbiAgZGlzcGxheTogZ3JpZDtcclxuICBncmlkLWdhcDogMi40cmVtIDVyZW07XHJcbiAgZ3JpZC10ZW1wbGF0ZS1jb2x1bW5zOiA0MCUgMWZyO1xyXG5cclxuICAmX19pdGVtIHtcclxuICAgIC5oZWFkaW5nIHtcclxuICAgICAgbWFyZ2luOiAwO1xyXG4gICAgICBwYWRkaW5nOiAxLjJyZW0gMi44cmVtO1xyXG4gICAgICBwb3NpdGlvbjogYWJzb2x1dGU7XHJcbiAgICAgIHRvcDogNXJlbTtcclxuICAgICAgbGVmdDogMDtcclxuICAgICAgbWluLXdpZHRoOiAzOS41cmVtO1xyXG4gICAgICBjb2xvcjogdmFyKC0tY29sb3Itd2hpdGUpO1xyXG4gICAgICBib3JkZXItdG9wLXJpZ2h0LXJhZGl1czogNXJlbTtcclxuICAgICAgYmFja2dyb3VuZDogbGluZWFyLWdyYWRpZW50KDE4MGRlZywgIzAxQkI4MiAwJSwgIzBEODU2NiAxMDAlKTtcclxuICAgIH1cclxuXHJcbiAgICAuc3ViLWhlYWRpbmcge1xyXG4gICAgICBtYXJnaW46IDA7XHJcbiAgICAgIHBhZGRpbmc6IDEuMnJlbSAyLjhyZW07XHJcbiAgICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcclxuICAgICAgdG9wOiAxMC4ycmVtO1xyXG4gICAgICBsZWZ0OiA3LjVyZW07XHJcbiAgICAgIG1pbi13aWR0aDogMzVyZW07XHJcbiAgICAgIGNvbG9yOiB2YXIoLS1jb2xvci13aGl0ZSk7XHJcbiAgICAgIGZvbnQtc2l6ZTogMS44cmVtO1xyXG4gICAgICBib3JkZXItYm90dG9tLWxlZnQtcmFkaXVzOiA1cmVtO1xyXG4gICAgICBib3JkZXItdG9wLXJpZ2h0LXJhZGl1czogNXJlbTtcclxuICAgICAgYmFja2dyb3VuZDogbGluZWFyLWdyYWRpZW50KDE4MGRlZywgI0NGMjAyQyAwJSwgI0EzMUYyOCAxMDAlKTtcclxuICAgIH1cclxuXHJcbiAgICAubGlzdCB7XHJcbiAgICAgIG1hcmdpbi10b3A6IDY1JTtcclxuICAgICAgZm9udC13ZWlnaHQ6IDcwMDtcclxuICAgICAgZGlzcGxheTogZ3JpZDtcclxuICAgICAgZ3JpZC1nYXA6IDEuMnJlbSAxLjZyZW07XHJcbiAgICAgIGdyaWQtdGVtcGxhdGUtY29sdW1uczogcmVwZWF0KDIsIGF1dG8pO1xyXG5cclxuICAgICAgbGkge1xyXG4gICAgICAgICY6Zmlyc3QtY2hpbGQge1xyXG4gICAgICAgICAgZ3JpZC1jb2x1bW46IDEgLyBzcGFuIDI7XHJcbiAgICAgICAgfVxyXG5cclxuICAgICAgICAuaWNvbiB7XHJcbiAgICAgICAgICBtYXJnaW4tcmlnaHQ6IDFyZW07XHJcbiAgICAgICAgICBjb2xvcjogdmFyKC0tY2xpbmljLXRoZW1lLXNlY29uZGFyeS1jb2xvcik7XHJcbiAgICAgICAgfVxyXG4gICAgICB9XHJcbiAgICB9XHJcblxyXG4gICAgLmltYWdlLWJveCB7XHJcbiAgICAgIGhlaWdodDogMTAwJTtcclxuICAgIH1cclxuICB9XHJcbn0iLCIuZWxlbWVudC1zdGF0aXN0aWNhbCB7XHJcbiAgZGlzcGxheTogZ3JpZDtcclxuICBncmlkLWdhcDogMi40cmVtIDNyZW07XHJcblxyXG4gIC5pdGVtIHtcclxuICAgIHRleHQtYWxpZ246IGNlbnRlcjtcclxuXHJcbiAgICBwIHtcclxuICAgICAgbWFyZ2luLWJvdHRvbTogMDtcclxuXHJcbiAgICAgIH4gcCB7XHJcbiAgICAgICAgbWFyZ2luLXRvcDogMXJlbTtcclxuICAgICAgfVxyXG4gICAgfVxyXG5cclxuICAgIC5wYXJhbWV0ZXIge1xyXG4gICAgICBmb250LXdlaWdodDogNzAwO1xyXG4gICAgICBmb250LXNpemU6IDNyZW07XHJcbiAgICAgIGNvbG9yOiB2YXIoLS1jbGluaWMtdGhlbWUtc2Vjb25kYXJ5LWNvbG9yKTtcclxuICAgICAgZm9udC1mYW1pbHk6IHZhcigtLWhlYWRpbmctZm9udC1mYW1pbHkpO1xyXG4gICAgfVxyXG5cclxuICAgIC50aXRsZSB7XHJcbiAgICAgIGZvbnQtc2l6ZTogMS43cmVtO1xyXG4gICAgICBmb250LWZhbWlseTogdmFyKC0taGVhZGluZy1mb250LWZhbWlseSk7XHJcbiAgICB9XHJcbiAgfVxyXG59Il19 */
