@import "../../variables-site/variables";

.archive-post-warp {
  .top-box {
    padding-bottom: 2rem;
    margin-bottom: 3rem;
    border-bottom: .3rem solid #F3C7D2;

    .icon {
      margin-right: 2rem;
      text-align: center;
      @include square(3rem, 50%);
      border: 2px solid var(--color-sunset-orange);

      svg {
        path {
          fill: var(--color-sunset-orange);
        }
      }
    }

    .cate-name {
      color: #6EE1E4;
      font-size: 4rem;
    }
  }
}

.content-archive-post {
  .item {
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    display: grid;
    grid-gap: 2.4rem;
    border: 1px solid #E5E5E5;

    @media (min-width: 576px) {
      grid-template-columns: 30rem 1fr;
    }

    &__content {
      .post-title {
        margin-bottom: 1.2rem;
        font-size: 1.8rem;

        a {
          color: #000000;

          &:hover {
            color: var(--color-cadmium-green);
          }
        }
      }

      .post-meta {
        margin-bottom: 1rem;
        color: #adadad;
        font-size: 1.4rem;
      }

      .post-desc {
        ul {
          li {
            margin-bottom: 10px;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }

        table {
          margin-bottom: 30px;
          width: 100%;

          tr {
            border-bottom: 1px solid $border-color;

            th {
              padding: 10px 20px 10px 0;
            }
          }
        }

        dd {
          margin: 0 0 20px;
        }

        &:after {
          display: table;
          clear: both;
          content: '';
        }
      }

      .text-read-more {
        display: inline-block;
        margin-top: 1.6rem;
        font-size: 1.6rem;
        font-weight: 700;
        color: #60AD80;

        &:hover {
          color: var(--body-color);
        }
      }
    }
  }

  .page-links {
    font-weight: 700;

    a {
      display: inline-block;

      span {
        display: inline-block;
        padding: 0 5px;
      }
    }
  }
}