@import "../../variables-site/variables";

.content-archive-post {
  .item {
    display: grid;
    grid-gap: 2.4rem 3rem;
    margin-bottom: 2.5rem;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid #e9e9e9;

    @media (min-width: 576px) {
      grid-template-columns: 30rem 1fr;
    }

    &__content {
      .post-categories {
        margin: 0 0 .6rem;
        padding: 0;
        list-style: none;

        li {
          position: relative;
          display: inline-block;
          text-transform: uppercase;
          font-size: 1.4rem;
          font-weight: 500;

          ~ li {
            &:before {
              content: "/";
              margin-left: .2rem;
              margin-right: .5rem;
            }
          }

          a {
            display: inline-block;
            color: var(--color-salem);

            &:hover {
              color: var(--color-hover);
            }
          }
        }
      }

      .post-title {
        margin-bottom: .5rem;
        font-size: 2.2rem;

        a {
          color: var(--color-heading);

          &:hover {
            color: var(--color-salem);
          }
        }
      }

      .post-desc {
        font-size: 1.6rem;
        color: #030303;

        ul {
          li {
            margin-bottom: 10px;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }

        table {
          margin-bottom: 30px;
          width: 100%;

          tr {
            border-bottom: 1px solid $border-color;

            th {
              padding: 10px 20px 10px 0;
            }
          }
        }

        dd {
          margin: 0 0 20px;
        }

        &:after {
          display: table;
          clear: both;
          content: '';
        }
      }

      .text-read-more {
        margin-top: 1.6rem;
        padding: .4rem 3.3rem;
        color: var(--color-white);
        font-size: 1.6rem;
        font-weight: 700;
        border-radius: 2rem;
        background: #60AD80;

        &:hover {
          color: var(--color-body);
          background-color: var(--color-cadmium-yellow);
        }
      }
    }
  }

  .page-links {
    font-weight: 700;

    a {
      display: inline-block;

      span {
        display: inline-block;
        padding: 0 5px;
      }
    }
  }
}