@import "../../utils/utils";

.content-archive-post {
  .item {
    display: grid;
    grid-gap: 1.2rem;

    @media (min-width: 576px) {
      grid-template-columns: 23rem 1fr;
    }

    ~ .item {
      margin-top: 1.6rem;
      padding-top: 1.6rem;
      border-top: .1rem dotted #9B9B9B;
    }

    &__thumbnail {
      img {
        width: 100%;
      }
    }

    &__body {
      .meta {
        margin-bottom: 1.6rem;
        color: #A79E7C;
        display: grid;
        grid-gap: 1.2rem;
        grid-template-columns: 1.6rem 1fr;

        .icon {
          font-size: 1.6rem;
        }
      }

      .post-title {
        margin-bottom: .8rem;
        font-size: 1.6rem;

        a {
          &:hover {
            color: #222222;
          }
        }
      }

      .post-desc {
        margin-bottom: .6rem;
        font-size: 1.4rem;
        color: #030303;
      }

      .text-read-more {
        padding: .4rem 3.2rem;
        display: inline-flex;
        align-items: center;
        color: var(--color-white);
        font-weight: 700;
        border-radius: 2rem;
        background-color: #64A1CF;

        &:hover {
          background-color: var(--clinic-theme-primary-color);
        }
      }
    }
  }

  .page-links {
    font-weight: 700;

    a {
      display: inline-block;

      span {
        display: inline-block;
        padding: 0 5px;
      }
    }
  }
}