@import "../../variables-site/variables";

.single-post-warp {
  padding-top: 2.3rem;
  padding-bottom: 2.7rem;

  .custom-col {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    border: 1px solid #D5D5D5;
  }
}

.single-post-content {
  margin-bottom: 15px;
  font-size: 1.6rem;

  &__breadcrumbs {
    margin-bottom: 2rem;
    font-size: 1.4rem;
    color: #777777;
    font-weight: 500;
    text-transform: capitalize;
    text-align: start;
    font-family: var(--font-seconds);

    a {
      color: #0a0a0a;
    }
  }

  &__detail {
    padding-top: 2rem;
    border-top: 1px solid #C9C9C9;

    h2 {
      b {
        .a {
          margin: 3rem 0 2rem;
          padding: 1.2rem 2.4rem 1.2rem 12rem;
          position: relative;
          color: #fff;
          font-weight: 700;
          text-transform: uppercase;
          min-height: 6rem;
          display: flex;
          align-items: center;
          border-radius: .5rem;
          background-image: linear-gradient(to right, #019265, #2BB58B, #019265);

          @media (min-width: 992px) {
            font-size: 2rem;
          }

          @media (max-width: 991px) {
            font-size: 1.8rem;
          }

          &:before {
            position: absolute;
            content: '';
            left: 1rem;
            top: -2rem;
            width: 10.5rem;
            height: 7.6rem;
            background: url("../../../images/icon-title.png") no-repeat center center;
          }
        }
      }
    }

    p {
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .c {
      display: inline-block;
      animation: zoom-in-zoom-out 2s ease-out infinite;
    }

    blockquote {
      margin-bottom: 2rem;
      padding: 1.2rem;
      border: 1px dashed var(--color-red);
      background-color: #fea6a4 ;

      p {
        margin: 0;
      }
    }

    ul {
      padding: 0;
      margin-bottom: 2rem;
      list-style: none;

      li {
        position: relative;
        padding-left: 1.6em;

        &:before {
          position: absolute;
          content: "\f00c";
          top: 0;
          left: 0;
          font-size: 1.6rem;
          font-weight: 900;
          font-family: $font-icon;
          color: var(--color-salem);
        }
      }
    }

    .image-cate-box {
      img {
        max-width: 50rem;
        width: 100%;
      }
    }
  }

  &__image,
  .page-links {
    margin-bottom: 30px;
  }

  &__title {
    margin-bottom: 2rem;
    color: var(--color-red);
    font-size: 3.2rem;
    line-height: 3.6rem;
  }

  &__tax {
    margin-bottom: 20px;
  }

  .post-meta {
    margin-bottom: 2rem;
    display: grid;
    grid-gap: 1.2rem;
    align-items: center;
    font-size: 1.6rem;
    color: var(--color-body);

    @media (min-width: 576px) {
      grid-template-columns: auto 1fr;
    }

    a {
      color: var(--color-body);
    }

    &__item {
      display: grid;
      grid-gap: .8rem;
      grid-template-columns: auto 1fr;
      align-items: center;
      color: #54595F;
      font-size: 1.4rem;
    }
  }
}

.single-contact-us {
  display: grid;

  @media (min-width: 576px) {
    grid-gap: 1.5rem;
  }

  @media (max-width: 575px) {
    grid-gap: 1.2rem;
  }

  @media (min-width: 376px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 375px) {
    grid-template-columns: max-content;
    justify-content: center;
  }

  .item {
    border-radius: .5rem;
    color: var(--color-white);
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    @media (min-width: 992px) {
      gap: 2.4rem;
      font-size: 2.2rem;

      &.phone {
        font-size: 2.4rem;
      }

      svg {
        @include square(5rem);
      }
    }

    @media (max-width: 991px) {
      grid-template-columns: 3rem 1fr;

      svg {
        @include square(3rem);
      }
    }

    @media (min-width: 576px) and (max-width: 991px) {
      grid-gap: 1.2rem;
      font-size: 1.8rem;

      &.phone {
        font-size: 2rem;
      }
    }

    @media (min-width: 576px) {
      padding: .8rem 1.2rem;
    }

    @media (max-width: 575px) {
      padding: .8rem;
      grid-gap: 1rem;
    }

    @media (min-width: 376px) and (max-width: 575px) {
      font-size: 1.4rem;

      &.phone {
        font-size: 1.6rem;
      }
    }

    @media (max-width: 375px) {
      padding: .8rem;
    }

    &.phone {
      background-color: #E60012;
    }

    &.chat {
      background-color: #0068B7;
    }
  }
}

.related-posts {
  &__heading {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: var(--color-red);
  }

  .list-post {
    li {
      ~ li {
        margin-top: .8rem;
      }
    }

    a {
      color: var(--color-cadmium-green);
      font-size: 1.6rem;
      font-weight: 500;

      i {
        margin-right: .6rem;
      }

      &:hover {
        color: var(--color-red);
      }
    }
  }
}