.element-compare-appointments {
  &__warp {
    display: grid;

    @media (min-width: 1200px) {
      grid-gap: 4rem;
    }

    @media (max-width: 1199px) {
      grid-gap: 2rem;
    }

    @media (min-width: 768px) {
      grid-template-columns: 1fr 7.2rem 1fr;
    }

    .list-box {
      display: grid;
      grid-gap: 1.1rem;
      grid-template-columns: 8.7rem 1fr;

      &__txt {
        text-align: center;
        font-size: 1.7rem;
        font-weight: 700;
        color: var(--color-white);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &.middle {
        display: flex;
        align-items: center;
        justify-content: center;

        .txt {
          flex: 0 0 7.2rem;
          color: #ffffff;
          height: 7.2rem;
          font-size: 2.5rem;
          font-weight: 700;
          border-radius: .5rem;
          background-color: #FF0000;
          display: inline-flex;
          align-items: center;
          justify-content: center;
        }
      }

      &__group {
        .item {
          padding: .6rem .5rem;
          display: grid;
          grid-gap: 1.6rem;
          grid-template-columns: 5rem 1fr;
          align-items: center;
          background-color: var(--color-white);
          box-shadow: 0 .4rem .4rem 0 rgba(0,0,0,0.25);

          ~ .item {
            margin-top: 1rem;
          }

          .number {
            height: 5rem;
            line-height: 5rem;
            text-align: center;
            font-size: 1.7rem;
            color: var(--color-white);
          }

          .title {
            margin: 0;
            color: #000000;

            @media (min-width: 992px) {
              font-size: 1.7rem;
            }

            @media (max-width: 991px) {
              font-size: 1.4rem;
            }
          }
        }
      }
    }

    .list-appointment {
      .list-box {
        &__txt {
          background-color: #208B45;
        }

        &__group {
          .item {
            .number {
              background-color: #208B45;
            }
          }
        }
      }
    }

    .list-no-appointment {
      .list-box {
        &__txt {
          background-color: #FF5718;
        }

        &__group {
          .item {
            .number {
              background-color: #FF5718;
            }
          }
        }
      }
    }
  }
}