.element-circle-box-image {
  padding-top: 1.1rem;

  &__grid {
    display: grid;

    @media (min-width: 992px) {
      grid-gap: 3.9rem 4.4rem;
      grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: 991px) {
      grid-gap: 2.4rem;
    }

    @media (min-width: 576px) and (max-width: 992px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 575px) {
      grid-template-columns: repeat(2, 1fr);
    }

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__thumbnail {
        position: relative;
        margin-bottom: 1.7rem;

        @media (min-width: 576px) {
          @include square(18.2rem, 50%);
        }

        @media (max-width: 575px) {
          @include square(13.5rem, 50%);
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }

      &__title {
        margin: 0;

        @media (min-width: 768px) {
          font-size: 2rem;
        }

        @media (max-width: 767px) {
          font-size: 1.6rem;
        }
      }
    }
  }
}