.element-testimonial-slider {
  &__warp {
    .item {
      position: relative;
      margin-top: 7.5rem;
      margin-bottom: .8rem;
      padding: 6em 2.4rem 2.4rem;
      text-align: center;
      border-radius: 1rem;
      box-shadow: 0 .4rem .4rem 0 rgba(0,0,0,0.25);
      background: #FFFFFF;

      .thumbnail {
        position: absolute;
        margin: -7.5rem auto 0;
        top: 0;
        left: 50%;
        @include square(15rem, 50%);
        transform: translateX(-50%);

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .name {
        margin-top: 2rem;
        font-size: 2rem;
        font-weight: 700;
        color: #FF0000;
      }
    }

    &.owl-carousel {
      .owl-item {
        padding: 0 .2rem;
      }
    }
  }
}