.element-step-grid {
  &__warp {
    display: grid;

    .item {
      padding: .7rem;
      overflow: hidden;
      border-radius: 1rem;
      background-color: var(--color-white);

      &__body {
        min-height: 100%;
        border: .2rem dotted #037195;
        border-radius: 1rem;

        @media (min-width: 1200px) {
          padding: 4.3rem 2.5rem 3.2rem;
        }

        @media (max-width: 1199px) {
          padding: 1.2rem 2.4rem 2.5rem;
        }

        .box-number {
          margin-bottom: 2.4rem;
        }

        .stt {
          position: relative;
          font-size: 4.5rem;
          font-weight: 700;
          line-height: 1;
          @include square(8.9rem, 50%);
          border: .3rem solid currentColor;
          background-color: var(--color-white);
          display: inline-flex;
          align-items: center;
          justify-content: center;
        }

        .title {
          margin-bottom: 2rem;
          position: relative;
          font-size: 2.5rem;
          font-weight: 900;
          text-align: center;
        }

        .content {
          font-size: 1.8rem;
          text-align: justify;
        }
      }
    }
  }
}