.element-about-us {
  &__warp {
    display: grid;

    &.style-1 {
      grid-gap: 1.2rem;

      @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
      }

      .item {
        .grid {
          display: grid;
          grid-gap: .8rem 1.2rem;
          grid-template-columns: repeat(3, 1fr);

          .grid-item {
            overflow: hidden;

            img {
              height: 100%;
              object-fit: cover;
            }

            &:nth-child(2) {
              grid-column: 2 / span 2;
              grid-row: 1 / span 3;
            }

            &:not(:nth-child(2)) {
              @media (min-width: 992px) {
                height: 11.6rem;
              }
            }
          }
        }

        &.item-thumbnail {
          img {
            width: 100%;
          }
        }

        .desc {
          padding: 2.3rem 1.8rem;
          height: 100%;
          border-radius: 1rem;
          border: .2rem solid #196D17;
          box-shadow: 0 .4rem .4rem 0 rgba(0,0,0,0.25);
        }
      }
    }

    &.style-2 {
      @media (min-width: 1200px) {
        grid-gap: 2.4rem 4.8rem;
      }

      @media (max-width: 1199px) {
        grid-gap: 2.4rem;
      }

      @media (min-width: 992px) {
        grid-template-columns: 1fr 55.5rem;
      }

      @media (min-width: 768px) and (max-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
      }

      .heading {
        text-align: center;
        margin-bottom: .7rem;

        @media (min-width: 1200px) {
          font-size: 2.9rem;
        }

        @media (max-width: 1199px) {
          font-size: 2rem;
        }
      }

      .heading-image-line {
        margin-bottom: 1.8rem;
        text-align: center;
      }

      .item-thumbnail {
        order: 2;

        .grid {
          display: grid;
          grid-gap: 1rem .8rem;
          grid-template-columns: repeat(2, 1fr);

          .grid-item {
            display: flex;
            flex-direction: column;

            &:not(:nth-child(n+3)) {
              justify-content: flex-end;
            }

            @media (max-width: 767px) {
              &:nth-child(2n+1) {
                align-items: flex-end;
              }
            }
          }
        }
      }

      .item-content {
        order: 1;
      }

      .thumbnail-box {
        padding-top: 1.6rem;
        padding-right: 1.6rem;
        position: relative;

        &:before {
          position: absolute;
          content: "";
          top: 0;
          right: 0;
          bottom: 2.5rem;
          left: 2.7rem;
          border: .2rem dotted var(--theme-tertiary-color);
          border-top-left-radius: 3rem;
          border-bottom-right-radius: 3rem;
        }

        img {
          position: relative;
          overflow: hidden;
          border-top-left-radius: 3rem;
          border-bottom-right-radius: 3rem;
        }
      }

      .info {
        margin-top: 4.2rem;
        padding: 1.6rem 2.4rem;
        border: .2rem solid #7D4510;
        border-radius: .5rem;

        .company {
          margin-bottom: .6rem;
          font-size: 1.8rem;
          text-transform: uppercase;
        }

        .group {
          margin-top: 1rem;
        }
      }
    }
  }
}