.element-contact-form-7 {
  .heading {
    font-size: 2.9rem;
    color: #FF0000;
    line-height: 1.1;
  }

  .content {
    margin-bottom: 2.4rem;
    font-size: 2rem;
    font-family: var(--heading-font-family);
  }

  form {
    &.wpcf7-form {
      span {
        &.wpcf7-form-control-wrap {
          input,
          textarea {
            padding: 1.2rem;
            font-size: 2rem;
            color: #000000;
            border: 1px solid #C7C1C1;
            background: #F4F4F4;

            &::placeholder {
              color: #000000;
            }
          }
        }
      }

      .wpcf7-submit {
        min-height: 4.5rem;
        min-width: 20.3rem;
        font-size: 2rem;
        font-weight: 700;
        font-family: var(--heading-font-family);
        border-radius: .5rem;
        background: #E6171F;
      }
    }
  }

  &.style-1 {
    .heading {
      margin-bottom: 2rem;
      padding-bottom: 1rem;
      position: relative;

      &:after {
        position: absolute;
        content: "";
        left: 50%;
        bottom: 0;
        width: 20%;
        height: .3rem;
        background-color: #FF0000;
        transform: translateX(-50%);
      }
    }

    form {
      &.wpcf7-form {
        display: grid;
        grid-gap: 2.4rem;

        @media (min-width: 992px) {
          grid-template-columns: repeat(3, 1fr);
        }

        p {
          margin: 0;

          + p {
            &:has(input.wpcf7-submit) {
              @media (min-width: 992px) {
                grid-column: 1 / span 3;
              }
            }
          }
        }

        span {
          &.wpcf7-form-control-wrap {
            .wpcf7-form-control {
              padding: 1.2rem;
              height: 5.9rem;
              min-height: 100%;
            }
          }
        }

        .wpcf7-response-output {
          @media (min-width: 992px) {
            grid-column: 1 / span 3;
          }
        }
      }
    }
  }

  &.style-2 {
    form {
      &.wpcf7-form {
        input {
          min-height: 6rem;
        }

        textarea {
          min-height: 10.2rem;
        }
      }
    }
  }
}