.element-heading-between-line {
  &__grid {
    display: grid;
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;

    @media (min-width: 992px) {
      grid-template-columns: 1.2rem minmax(max-content, auto) 1.2rem;
    }

    @media (max-width: 992px) {
      grid-template-columns: auto 1fr auto;
    }

    .line {
      height: .15rem;
      background-color: var(--heading-color);
    }

    .heading {
      margin: 0;
      text-align: center;
      line-height: 1.1;
    }
  }
}