.element-about-us {
  &__warp {
    display: grid;

    .item {
      order: 1;

      &.item-thumbnail {
        img {
          width: 100%;
        }
      }

      .heading {
        font-family: var(--body-font-family);
      }

      .sub-heading {
        font-size: 3.6rem;
      }

      .dividing-line {
        margin-bottom: 1.2rem;
        height: .3rem;
        background-color: #FFAC4B;
      }

      .desc {
        ul {
          margin: 0;
          padding: 0;
          list-style: none;

          li {
            position: relative;
            padding-left: 3.5rem;

            &:before {
              position: absolute;
              content: "";
              top: .6rem;
              left: 0;
              @include square(1.2rem, 50%);
              background-color: var(--clinic-theme-secondary-color);
            }

            ~ li {
              margin-top: 1.2rem;
            }
          }
        }
      }

      .action-box {
        margin-top: 2.4rem;
        gap: 1.5rem;
        flex-wrap: wrap;

        @media (max-width: 479px) {
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }

        a {
          padding: 1.5rem 2.4rem 1.4rem;
          font-size: 1.7rem;
          font-weight: 500;
          color: var(--color-white);
          border-radius: 5rem;
          display: inline-flex;
          align-items: center;
          justify-content: center;

          @media (min-width: 1200px) {
            min-width: 24.2rem;
          }

          @media (max-width: 1199px) {
            min-width: 20rem;
          }

          .icon {
            font-size: 2.8rem;
            margin-right: 1.1rem;
          }
        }

        &__booking {
          background: linear-gradient(180deg, #FF0000 0, #990000 100%);
        }

        &__chat {
          background: linear-gradient(180deg, #2C904F 0, #20D35F 100%);
        }
      }
    }
  }
}