.element-heading-under-background {
  .box {
    &__heading {
      position: relative;
      margin-bottom: 0;
      padding: .7rem 2rem 1.6rem;
      font-size: 1.8rem;
      color: #000;
      text-align: center;
      background: #FFF400;

      &:after {
        position: absolute;
        content: "";
        left: 2rem;
        right: 2rem;
        bottom: 1.2rem;
        height: .2rem;
        background: #000;
      }
    }
  }
}