.element-list-title {
  &__warp {
    display: flex;
    gap: 1.6rem;

    @media (min-width: 480px) {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }

    @media (max-width: 479px) {
      flex-direction: column;
    }

    .item {
      padding: 1.2rem 1.8rem;
      font-family: var(--heading-font-family);
      font-weight: 700;
      border: .1rem solid #007B14;
      border-radius: .5rem;
      text-align: center;

      @media (min-width: 480px) {
        min-width: 32rem;
        flex: 0 0 auto;
      }

      @media (max-width: 479px) {
        flex: 1;
      }
    }
  }
}