.element-box-content-line {
  &__grid {
    margin: 0 0 6rem;
    position: relative;
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);

    @media (min-width: 992px) {
      grid-column-gap: 12.6rem;
    }

    @media (max-width: 991px) {
      grid-column-gap: 10rem;
    }

    &:before {
      position: absolute;
      content: "";
      left: .1rem;
      right: .1rem;
      top: 50%;
      border-top: 2px dotted #14755D;
      transform: translateY(-50%);
    }

    .item {
      position: relative;

      &__thumbnail {

      }

      &__title {
        position: absolute;
        top: 100%;
        left: 50%;
        font-weight: 500;
        line-height: 2.2rem;
        transform: translate(-50%, 16px);

        @media (min-width: 1200px) {
          width: 15rem;
        }

        @media (max-width: 1199px) {
          width: 11rem;
        }

        @media (min-width: 992px) {
          font-size: 1.7rem;
        }

        @media (max-width: 991px) {
          font-size: 1.4rem;
        }
      }
    }
  }
}