.element-doctor-slider {
  &__warp {
    .item {
      background-color: var(--color-white);

      img {
        width: auto;
      }

      &__thumbnail {
        background-image: url("../images/bk-avatar-doi-ngu-bac-si.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 30rem;
        overflow: hidden;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        img {
          display: inline-block;
        }
      }

      &__body {
        padding: 2.6rem;

        .title {
          margin-bottom: .8rem;
          font-size: 1.8rem;
          font-family: var(--body-font-family);
        }

        .meta {
          margin-bottom: 1rem;
          line-height: 1.4;
          font-family: var(--heading-font-family);
        }

        .content {
          margin-bottom: 1rem;
        }

        .action-box {
          display: grid;
          grid-gap: 1rem;
          grid-template-columns: repeat(2, 1fr);

          a {
            padding: 1rem;
            border-radius: .5rem;
            font-size: 1.5rem;
            font-weight: 500;
            text-align: center;
            color: var(--color-white);
          }

          &__booking {
            background-color: #2E8F56;
          }

          &__chat {
            background-color: #E6171F;
          }
        }
      }
    }
  }
}