.element-slider-carousel {
  &__warp {
    padding: 0 3rem;

    .item {
      &__thumbnail {
        margin-bottom: 1rem;
        padding: 1rem;
        position: relative;
        border-radius: 2rem;
        overflow: hidden;
        box-shadow: 0 .4rem .4rem rgba(0,0,0,0.25);
        background-color: var(--color-white);
      }

      .title {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        text-transform: uppercase;

        @media (min-width: 1200px) {
          bottom: 1.8rem;
        }

        @media (min-width: 576px) and (max-width: 1199px) {
          bottom: 1.6rem;
        }

        &__txt {
          margin: 0;
          color: #fff;
          border-top-left-radius: 2rem;
          border-top-right-radius: 2rem;
          background-color: #039B80;

          @media (min-width: 1200px) {
            padding: 1.2rem 4rem;
            font-size: 1.8rem;
          }

          @media (max-width: 1199px) {
            padding: 1.2rem 2rem;
            font-size: 1.5rem;
          }
        }
      }
    }

    &.owl-carousel {
      .owl-nav {
        margin: 0;

        button {
          margin: 0;
          position: absolute;
          top: 50%;
          display: flex;
          align-items: center;
          transform: translateY(-50%);

          i {
            font-size: 2.2rem;

            &:before {
              color: #ffffff;
            }
          }

          &.owl-prev {
            left: 0;
          }

          &.owl-next {
            right: 0;
          }
        }
      }
    }
  }
}