.element-procedure {
  &__warp {
    display: grid;

    .item {
      overflow: hidden;
      border-radius: 2rem;
      box-shadow: 0 .4rem .4rem 0 rgba(0, 0, 0, 0.25);
      background-color: var(--color-white);

      &__thumbnail {
        img {
          width: 100%;
        }
      }

      &__body {
        @media (min-width: 1200px) {
          padding: 1.2rem 3.6rem 2.5rem;
        }

        @media (max-width: 1199px) {
          padding: 1.2rem 2.4rem 2.5rem;
        }

        .box-number {
          margin-top: -8rem;
          margin-bottom: 3rem;
        }

        .stt {
          position: relative;
          font-size: 4rem;
          font-weight: 700;
          line-height: 1;
          color: #615B91;
          @include square(11.4rem, 50%);
          box-shadow: 0 .4rem .4rem rgba(0,0,0,0.25);
          background-color: var(--color-white);
          display: inline-flex;
          align-items: center;
          justify-content: center;

          &:before {
            position: absolute;
            content: "";
            top: .7rem;
            right: .7rem;
            bottom: .7rem;
            left: .7rem;
            border-radius: 50%;
            border: 1px solid currentColor;
          }
        }

        .title {
          position: relative;
          color: var(--clinic-theme-quaternary-color);
          font-size: 1.7rem;
          font-family: var(--body-font-family);
        }

        .content {
          font-size: 1.8rem;

          ul {
            @include reset-list();

            li {
              position: relative;
              display: inline-block;

              &:before {
                margin-right: 1.8rem;
                display: inline-block;
                content: "\e91d";
                font-family: "icomoon", serif;
                color: #02BC7D;
                font-size: 2rem;
                line-height: normal;
                transform: translateY(2px);
              }
            }
          }
        }
      }
    }
  }
}