.element-heading-and-sub {
  .heading {
    position: relative;

    &__txt {
      padding: 1.1rem 2.4rem 0.8rem;
      font-weight: 500;
      color: var(--color-white);
      border-top-right-radius: 5rem;
      background: linear-gradient(180deg,#01BB82 0,#0D8566 100%);

      @media (min-width: 576px) {
        font-size: 3.5rem;
        min-width: 44.3rem;
      }

      @media (max-width: 575px) {
        font-size: 2.4rem;
        min-width: 24rem;
      }
    }
  }

  .sub-heading {
    margin-top: -0.6rem;

    @media (min-width: 576px) {
      padding-left: 6.3rem;
    }

    @media (max-width: 575px) {
      padding-left: 3.2rem;
    }

    &__txt {
      padding: 1.5rem 2.4rem;
      font-weight: 500;
      color: var(--color-white);
      border-top-right-radius: 5rem;
      border-bottom-left-radius: 5rem;
      box-shadow: 0 .4rem .4rem 0 rgba(0, 0, 0, 0.25);
      background: linear-gradient(180deg,#CF202C 0, #A31F28 100%);

      @media (min-width: 576px) {
        min-width: 42.9rem;
        font-size: 1.8rem;
      }

      @media (max-width: 575px) {
        font-size: 1.6rem;
        min-width: 25rem;
      }
    }
  }
}