.element-about-us {
  &__warp {
    display: grid;
    grid-gap: 4rem;

    @media (min-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }

    .item {
      &.item-thumbnail {
        img {
          width: 100%;
        }
      }

      .heading {
        margin-bottom: 4.6rem;
        font-size: 3.5rem;
        font-family: var(--body-font-family);
      }

      .desc {
        padding: 4.2rem 4rem;
        color: var(--color-white);
        border-radius: 1rem;
        background-color: #358BC9;
      }
    }

    &.style-2 {
      .item-thumbnail {
        @media (min-width: 992px) {
          order: 2;
        }
      }
    }
  }
}