.element-category-list {
  &__grid {
    display: grid;

    .item {
      &__image {
        margin-bottom: 1.2rem;
      }

      &__title {
        margin-bottom: 0;

        a {
          color: inherit;
        }
      }
    }
  }
}