.element-doctor-slider {
  &__warp {
    .item {
      display: flex;
      flex-direction: column;
      flex: 1;

      &__thumbnail {
        .box {
          position: relative;
          margin: 0 auto;
          @include square(28.4rem, 50%);
          border: .9rem solid #ffffff;
          background-color: #C0DFE8;

          &:before {
            position: absolute;
            content: "";
            top: 1.1rem;
            right: 1.1rem;
            bottom: 1.1rem;
            left: 1.1rem;
            background-color: #7EB4C8;
            border-radius: 50%;
          }

          img {
            position: absolute;
            width: auto;
            bottom: 1.1rem;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }

      &__body {
        margin-top: -17rem;
        padding: 19.8rem 2.8rem 3.3rem;
        color: #ffffff;
        border-radius: 2rem;
        background: linear-gradient(180deg, #226E91 0, #6FC6D9 100%);
        display: flex;
        flex-direction: column;
        flex: 1;

        .title {
          margin-bottom: .5rem;
          color: #FFF400;
        }

        .meta {
          margin-bottom: 1.6rem;

          .specialist {
            font-family: var(--heading-font-family);
            color: #ffffff;
          }
        }

        .desc {
          text-align: justify;
          flex: 1;
        }

        .action-box {
          margin-top: 2.3rem;
          text-align: center;

          a {
            padding: .8rem 4.5rem;
            font-size: 1.4rem;
            font-weight: 700;
            color: #ffffff;
            border: .1rem solid #ffffff;
            border-radius: 5rem;
            background: linear-gradient(180deg, #D14040 0, #FA5E1B 100%);
          }
        }
      }
    }

    &.owl-carousel {
      .owl-stage-outer {
        padding: 3rem 0 0;
        display: flex;
        flex-direction: column;

        .owl-stage {
          display: flex;

          .owl-item {
            display: flex;
            flex-direction: column;
            flex: 1;
          }
        }
      }

      .owl-nav {
        margin: 0;

        button {
          position: absolute;
          margin: 0;
          top: 50%;
          font-size: 2rem;
          transform: translateY(-50%);

          &.owl-prev {
            left: 0;
          }

          &.owl-next {
            right: 0;
          }
        }
      }
    }
  }
}