.element-group-button-contact {
  display: grid;

  @media (min-width: 640px) {
    grid-template-columns: repeat(3,1fr);
  }

  .item-contact {
    padding: 2.4rem 3rem;
    display: grid;
    grid-gap: 0.6rem 2rem;
    align-items: center;

    @media (min-width: 992px) {
      grid-template-columns: 4.8rem 1fr;
    }

    @media (max-width: 991px) {
      text-align: center;
    }

    &.working-time {
      background-color: #2E9057;
    }

    &.phone {
      background-color: #2CA45E;
    }

    &.chat {
      background-color: #0E6432;
    }

    .icon {
      font-size: 4.8rem;
      color: #ffffff;
    }

    .btn-contact {
      display: grid;

      span {
        display: block;
        line-height: 1.4;
      }

      .txt {
        color: #FFD600;
        font-weight: 500;

        @media (min-width: 992px) {
          font-size: 1.7rem;
        }

        @media (max-width: 991px) {
          font-size: 1.5rem;
        }
      }

      .info {
        font-weight: 700;
        color: var(--color-white);

        @media (min-width: 1200px) {
          font-size: 3.2rem;
        }

        @media (max-width: 1199px) {
          font-size: 2rem;
        }
      }
    }
  }
}