.element-hotline {
  position: relative;

  &__icon {
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: -4rem;
    margin-right: -4rem;
    @include square(8rem, 50%);
    border: .1rem solid var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 991px) {
      margin-top: -8rem;
    }

    i {
      font-size: 4rem;
      color: var(--clinic-theme-secondary-color);
      @include square(6.8rem, 50%);
      background-color: var(--color-white);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__warp {
    display: grid;

    @media (min-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
    }

    .image-box {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .content-box {
      display: flex;
      justify-content: center;
      flex-direction: column;
      background: linear-gradient(180deg, #33BEEC 0%, #0BE7F9 100%);

      @media (min-width: 992px) {
        padding: 2.4rem 2.4rem 2.4rem 8rem;
      }

      @media (max-width: 991px) {
        padding: 5rem 2.4rem;
      }

      .txt {
        margin: 0;
        font-size: 2rem;
        color: #FFE600;
        font-weight: 700;
        font-family: var(--body-font-family);
      }

      .phone {
        color: var(--color-white);
        font-size: 5rem;
        font-weight: 700;
        font-family: var(--heading-font-family);
      }
    }
  }
}