.element-procedure {
  .item {
    display: grid;
    grid-template-columns: 8.4rem 1fr;

    ~ .item {
      margin-top: 2rem;
    }

    &__bullet {
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: column;

      &:after {
        position: absolute;
        content: "";
        @include square(1rem, 50%);
        top: 50%;
        right: -0.5rem;
        background-color: #45C1D9;
        transform: translateY(-50%);
      }

      .column-list {
        padding-right: .8rem;
        padding-bottom: .3rem;
        position: relative;
        display: flex;
        gap: .2rem;
        justify-content: flex-end;
        transform: translateY(-0.6rem);

        &:before {
          position: absolute;
          content: "";
          right: 0;
          width: 5.8rem;
          height: .1rem;
          bottom: 0;
          background-color: #45C1D9;
        }

        &:after {
          position: absolute;
          content: "";
          right: 7.03rem;
          top: 65.5%;
          width: .1rem;
          height: 4.2rem;
          background-color: #45c1d9;
          transform: rotate(39deg);;
        }

        .item-line {
          width: .5rem;
          height: 1.2rem;
          border: .1rem solid #45C1D9;

          &:nth-child(n+4) {
            background-color: #45C1D9;
          }
        }
      }
    }

    &__box {
      border: .2rem solid #48C2D9;
      border-radius: 1.2rem;
      background-color: #E2F4F9;
      display: grid;
      grid-gap: 1rem 2.6rem;
      align-items: center;

      @media (min-width: 576px) {
        padding: 2.1rem 3rem;
        grid-template-columns: 14.5rem 1fr;
      }

      @media (max-width: 575px) {
        padding: 2rem 1.6rem;
      }

      .heading {
        margin: 0;
        font-family: var(--body-font-family);
        color: #FA5E1B;

        @media (min-width: 992px) {
          font-size: 2.5rem;
        }

        @media (max-width: 991px) {
          font-size: 2rem;
        }
      }
    }
  }
}