.element-doctor-slider {
  &__warp {
    .item {
      border: .1rem solid #A2A2A2;
      background-color: var(--color-white);
      display: flex;
      flex-direction: column;
      flex: 1;

      img {
        width: auto;
      }

      &__thumbnail {
        background-image: url("../images/bk-avatar-doi-ngu-bac-si.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        img {
          display: inline-block;
        }
      }

      &__body {
        display: flex;
        flex-direction: column;
        flex: 1;

        @media (min-width: 1200px) {
          padding: 2.6rem 2.8rem;
        }

        @media (max-width: 1199px) {
          padding: 2.4rem 1.2rem;
        }

        .title {
          margin-bottom: 1.2rem;
          font-size: 1.8rem;
          color: #FF0000;
          font-family: var(--body-font-family);
        }

        .meta {
          flex: 1;
          margin-bottom: 1.6rem;
          line-height: 1.4;
          font-family: var(--heading-font-family);
        }

        .content {
          margin-bottom: 1.4rem;
          text-align: justify;
        }

        .action-box {
          @media (min-width: 576px) {
            display: grid;
            grid-gap: 1rem;
            grid-template-columns: repeat(2, 1fr);
          }

          @media (max-width: 575px) {
            display: flex;
            gap: 1rem;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
          }

          a {
            padding: .6rem 1.2rem;
            border-radius: .5rem;
            font-size: 1.5rem;
            font-weight: 500;
            text-align: center;
            color: var(--color-white);
          }

          &__booking {
            background-color: #2E8F56;

            &:hover {
              background-color: var(--clinic-theme-secondary-color);
            }
          }

          &__chat {
            background-color: #FF639B;

            &:hover {
              background-color: var(--clinic-theme-seven-color);
            }
          }
        }
      }
    }

    &.owl-carousel {
      .owl-stage-outer {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;

        .owl-stage {
          display: flex;

          .owl-item {
            display: flex;
            flex-direction: column;
          }
        }
      }

      .owl-nav {
        margin: 0;

        button {
          position: absolute;
          margin: 0;
          top: 50%;
          font-size: 2rem;
          transform: translateY(-50%);

          &.owl-prev {
            left: 0;
          }

          &.owl-next {
            right: 0;
          }
        }
      }
    }
  }
}