.element-banner {
  &:has(.banner-mobile) {
    .banner-pc {
      @media (max-width: 576px) {
        display: none;
      }

      img {
        width: 100%;
      }
    }
  }

  .banner-mobile {
    @media (min-width: 576px) {
      display: none;
    }

    img {
      width: 100%;
    }
  }
}