.element-procedure {
  &__warp {
    display: grid;

    .item {
      overflow: hidden;
      border-radius: .5rem;
      background-color: #2584C6;

      &__thumbnail {
        img {
          width: 100%;
        }
      }

      &__body {
        padding: 1.2rem;

        .top-box {
          margin-bottom: 2rem;
          display: grid;
          grid-gap: 1.2rem;
          grid-template-columns: 1fr auto;
          align-items: center;

          .title {
            position: relative;
            color: #FFF400;
            font-size: 2rem;
            font-weight: 900;
            font-family: var(--body-font-family);

            &:after {
              position: absolute;
              content: "";
              bottom: 0;
              left: 0;
              width: 45%;
              height: .2rem;
              background-color: var(--color-white);
            }
          }

          .stt {
            font-size: 5rem;
            color: rgba(255,255,255,0.5);
          }
        }

        .content {
          color: var(--color-white);
        }
      }
    }
  }
}