.element-testimonial-slider {
  .item {
    padding: 1.5rem;
    background-color: var(--color-white);

    .avatar {
      margin-bottom: 2rem;
    }

    .meta {
      margin-bottom: 2rem;

      .name {
        margin-bottom: .5rem;
      }

      .info {
        color: #FA5E1B;
      }
    }
  }
}