.element-evaluate {
  position: relative;
  display: grid;
  grid-gap: 2.4rem 5rem;
  grid-template-columns: 40% 1fr;

  &__item {
    .heading {
      margin: 0;
      padding: 1.2rem 2.8rem;
      position: absolute;
      top: 5rem;
      left: 0;
      min-width: 39.5rem;
      color: var(--color-white);
      border-top-right-radius: 5rem;
      background: linear-gradient(180deg, #01BB82 0%, #0D8566 100%);
    }

    .sub-heading {
      margin: 0;
      padding: 1.2rem 2.8rem;
      position: absolute;
      top: 10.2rem;
      left: 7.5rem;
      min-width: 35rem;
      color: var(--color-white);
      font-size: 1.8rem;
      border-bottom-left-radius: 5rem;
      border-top-right-radius: 5rem;
      background: linear-gradient(180deg, #CF202C 0%, #A31F28 100%);
    }

    .list {
      margin-top: 65%;
      font-weight: 700;
      display: grid;
      grid-gap: 1.2rem 1.6rem;
      grid-template-columns: repeat(2, auto);

      li {
        &:first-child {
          grid-column: 1 / span 2;
        }

        .icon {
          margin-right: 1rem;
          color: var(--clinic-theme-secondary-color);
        }
      }
    }

    .image-box {
      height: 100%;
    }
  }
}