.element-more-information {
  &__warp {
    display: grid;
    grid-gap: 3rem;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    .item {
      .title {
        margin-bottom: 1.4rem;
        font-size: 2.9rem;
        color: #000;
        text-transform: uppercase;

        @media (min-width: 768px) and (max-width: 991px) {
          font-size: 2rem;
        }

        @media (max-width: 767px) {
          font-size: 2rem;
        }

        &.underline {
          position: relative;
          padding-bottom: 1.6rem;

          &:after {
            position: absolute;
            content: "";
            left: 0;
            bottom: 0;
            width: 44%;
            height: .3rem;
            background-color: var(--color-salem);
          }
        }
      }

      .desc {
        font-size: 1.6rem;
        text-align: justify;
      }

      .action-box {
        margin-top: 3rem;
        @include flex-center();
        gap: 1.2rem;

        @media (max-width: 375px) {
          flex-direction: column;
        }

        a {
          padding: 1.2rem 1.8rem;
          border-radius: 5rem;
          font-size: 1.6rem;
          font-weight: 700;
          text-transform: uppercase;

          @media (max-width: 575px) {
            padding: 1.2rem;
            font-size: 1.4rem;
          }
        }

        &__link {
          color: #0F4137;
          background: linear-gradient(180deg, #FF0 0%, #FE6F01 100%);
        }

        &__book {
          color: var(--color-white);
          background: linear-gradient(180deg, #F00 0%, #F77 100%);
        }
      }
    }

    &.style-1 {
      @media (max-width: 767px) {
        .item-thumbnail {
          order: 2;
        }
      }
    }

    &.style-2 {
      .item-thumbnail {
        order: 2;
      }

      .item-content {
        order: 1;
      }
    }
  }
}