.element-round-box-image {
  &__warp {
    display: grid;

    @media (min-width: 1200px) {
      grid-gap: 2.4rem 9.9rem;
    }

    @media (min-width: 992px) and (max-width: 1199px) {
      grid-gap: 2.4rem 3rem;
    }

    @media (min-width: 992px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 991px) {
      grid-row-gap: 1.5rem;
    }

    .item {
      display: flex;

      @media (min-width: 992px) {
        flex-direction: column;
      }

      @media (max-width: 479px) {
        align-items: center;
      }

      &__thumbnail {
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        border: .2rem solid #2CB0D1;
        background-color: #fff;

        @media (min-width: 992px) {
          width: 100%;
          padding-top: 100%;
          box-sizing: border-box;
        }

        @media (max-width: 991px) {
          width: 13.6rem;
          height: 13.6rem;
        }

        .box-image {
          position: absolute;
          top: 50%;
          left: 50%;
          border-color: #2EC3E8;
          border-style: solid;
          background-color: #2EC3E8;
          transform: translate(-50%, -50%);
          @include flex-center();

          @media (min-width: 992px) {
            @include square(26.1rem, 50%);
          }

          @media (max-width: 991px) {
            @include square(10.7rem, 50%);
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          @media (min-width: 992px) {
            border-width: 3rem;
          }

          @media (max-width: 991px) {
            border-width: 1.2rem;
          }
        }
      }

      &__body {
        background-color: #75E4FF;
        box-shadow: 0 .4rem .4rem 0 rgba(0,0,0,0.25);
        flex: 1;

        @media (min-width: 992px) {
          margin-top: -16rem;
          padding: 19.6rem 2.4rem 2rem;
        }

        @media (max-width: 991px) {
          margin-left: -7rem;
          padding: 2rem 2rem 2rem 8rem;
        }
      }
    }
  }
}