.element-doctor-slider {
  &__warp {
    .item {
      display: grid;

      @media (min-width: 992px) {
        grid-gap: 2.4rem 4.8rem;
        grid-template-columns: 46.3rem 1fr;
      }

      @media (max-width: 991px) {
        grid-gap: 2.4rem;
      }

      @media (min-width: 768px) and (max-width: 991px) {
        grid-template-columns: 30rem 1fr;
      }

      @media (min-width: 576px) and (max-width: 767px) {
        grid-template-columns: 20rem 1fr;
      }

      &__thumbnail {
        overflow: hidden;
        border-radius: 1rem;
      }

      &__body {
        .position {
          margin-bottom: .5rem;
          color: var(--theme-tertiary-color);
          line-height: 1.2;

          @media (min-width: 992px) {
            font-size: 2.9rem;
          }

          @media (max-width: 991px) {
            font-size: 2rem;
          }
        }

        .title {
          margin-bottom: 2rem;
          line-height: 1.2;
          color: var(--color-sunset-orange);

          @media (min-width: 992px) {
            font-size: 2.9rem;
          }

          @media (max-width: 991px) {
            font-size: 2rem;
          }
        }

        .content {
          ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
              position: relative;
              padding-left: 3.5rem;
              line-height: 1.4;

              ~ li {
                margin-top: 1.2rem;
                padding-top: 1.2rem;
                border-top: 1px dotted #666666;
              }

              &:before {
                position: absolute;
                content: url("../images/icon-list-plus.png");
                top: 1.2rem;
                left: 0;
              }

              &:first-child {
                &:before {
                  top: 0;
                }
              }
            }
          }
        }

        .action-box {
          margin-top: 3rem;
          display: flex;
          gap: .6rem;

          a {
            display: inline-block;
          }
        }
      }
    }
  }
}

.element-doctor-avatar {
  margin-top: 3.7rem;
  padding: 0 2rem;

  @media (max-width: 991px) {
    display: none;
  }

  .item {
    overflow: hidden;
    cursor: pointer;
    @include transition();
  }

  .owl-carousel {
    .owl-stage-outer {
      padding: 1rem 0;
    }

    .owl-item {
      &.current {
        .item {
          box-shadow: 0 5px 5px 0 rgba(0,0,0,.5);
        }
      }
    }

    .owl-nav {
      margin: 0;

      button {
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        i {
          font-size: 2rem;

          &:before {
            color: var(--theme-tertiary-color);
          }
        }

        &.owl-prev {
          left: -2rem;
        }

        &.owl-next {
          right: -2rem;
        }
      }
    }
  }
}