.element-doctor-slider {
  .slider-box {
    border-radius: 1rem;
    box-shadow: 0 .4rem .4rem rgba(0,0,0,0.25);
    background-color: var(--color-white);

    @media (min-width: 992px) {
      padding: 3rem 2rem 4.6rem;
    }

    @media (max-width: 991px) {
      padding: 2rem;
    }
  }

  .top-box {
    margin-bottom: 2rem;
  }

  .divider-separator {
    margin-bottom: 1rem;
    display: grid;
    grid-gap: 1.7rem;
    align-items: center;
    justify-content: center;

    @media (min-width: 992px) {
      grid-template-columns: 33.1rem max-content 33.1rem;
    }

    @media (max-width: 991px) {
      grid-template-columns: 1fr max-content 1fr;
    }

    .line {
      height: .1rem;
      background-color: #3A9460;
    }
  }

  &__warp {
    .item {
      display: grid;

      @media (min-width: 992px) {
        padding: 0 5rem;
        grid-gap: 2.4rem 4.4rem;
        grid-template-columns: 48rem 1fr;
        align-items: center;
      }

      @media (max-width: 991px) {
        grid-gap: 2.4rem;
      }

      @media (min-width: 768px) and (max-width: 991px) {
        grid-template-columns: 30rem 1fr;
      }

      @media (min-width: 576px) and (max-width: 767px) {
        grid-template-columns: 20rem 1fr;
      }

      &__thumbnail {
        overflow: hidden;
        border-radius: 1rem;
      }

      &__body {
        .title {
          margin-bottom: 1.1rem;
          line-height: 1.1;
          color: #000000;

          @media (min-width: 992px) {
            font-size: 2.9rem;
          }

          @media (max-width: 991px) {
            font-size: 2rem;
          }
        }

        .position {
          margin-bottom: 2.3rem;
          font-size: 2rem;
          line-height: 1.1;

          @media (min-width: 992px) {
            font-size: 2rem;
          }

          @media (max-width: 991px) {
            font-size: 1.6rem;
          }
        }

        .content {
          ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
              position: relative;
              padding-left: 3.5rem;

              ~ li {
                margin-top: 1.2rem;
                padding-top: 1.2rem;
                border-top: 1px dotted #000000;
              }

              &:before {
                position: absolute;
                content: url("../images/icon-list-plus.png");
                top: 1.2rem;
                left: 0;
              }

              &:first-child {
                &:before {
                  top: 0;
                }
              }
            }
          }
        }

        .action-box {
          margin-top: 3rem;
          display: flex;
          gap: .6rem;

          a {
            display: inline-block;
          }
        }
      }
    }
  }
}

.element-doctor-avatar {
  margin-top: 3.4rem;
  padding: 0 2rem;

  @media (max-width: 991px) {
    display: none;
  }

  .item {
    overflow: hidden;
    cursor: pointer;
    border: .4rem solid transparent;
    @include transition();
  }

  .owl-carousel {
    .owl-stage-outer {
      padding: 1rem 0;
    }

    .owl-item {
      &.current {
        .item {
          border-color: #007B14;
          box-shadow: 0 5px 5px 0 rgba(0,0,0,.5);
        }
      }
    }

    .owl-nav {
      margin: 0;

      button {
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        i {
          font-size: 2rem;

          &:before {
            color: #FFE500;
          }
        }

        &.owl-prev {
          left: -2rem;
        }

        &.owl-next {
          right: -2rem;
        }
      }
    }
  }
}