.element-info {
  &__warp {
    overflow: hidden;
    display: grid;

    @media (min-width: 576px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 768px) {
      border-radius: 7rem;
    }

    .item {
      display: grid;
      align-items: center;

      @media (min-width: 992px) {
        grid-template-columns: 5.5rem 1fr;
      }

      @media (min-width: 768px) and (max-width: 991px) {
        grid-template-columns: 3rem 1fr;
      }

      @media (min-width: 768px) {
        padding: 2.6rem;
        grid-gap: 2rem;
      }

      @media (max-width: 767px) {
        padding: 2.4rem 1.2rem;
        grid-gap: 1.6rem;
        text-align: center;
      }

      i {
        color: var(--color-white);

        @media (min-width: 992px) {
          font-size: 5.5rem;
        }

        @media (min-width: 768px) and (max-width: 991px) {
          font-size: 3rem;
        }

        @media (max-width: 767px) {
          font-size: 5rem;
        }
      }

      &.working-time {
        background-color: #38ADAE;
      }

      &.phone {
        background-color: #28A3A4;
      }

      &.support-channel {
        background-color: #199192;
      }

      .body-box {
        .title {
          margin-bottom: 0;
          font-weight: 400;
          color: var(--color-white);

          @media (min-width: 992px) {
            font-size: 2rem;
          }

          @media (max-width: 991px) {
            font-size: 1.6rem;
          }
        }

        .content {
          font-family: var(--heading-font-family);
          font-weight: 700;
          color: #FFF400;
          text-transform: uppercase;

          @media (min-width: 992px) {
            font-size: 2rem;
          }

          @media (max-width: 991px) {
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}