.element-step-list {
  display: grid;
  grid-gap: 2rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(5, 1fr);
  }

  @media (min-width: 576px) and (max-width: 767px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 376px) and (max-width: 575px) {
    grid-template-columns: repeat(2, 1fr);
  }

  .item {
    &__thumbnail {
      margin-bottom: 3rem;
      padding-top: 3rem;
      padding-bottom: 2.6rem;
      position: relative;

      &:before {
        position: absolute;
        content: "";
        top: 0;
        right: 2rem;
        bottom: 0;
        left: 2rem;
        border-radius: 3rem;
        background-color: var(--color-white);
      }

      img {
        position: relative;
        width: 100%;
      }
    }

    &_body {
      .number {

        font-weight: 700;
        font-family: var(--heading-font-family);

        @media (min-width: 992px) {
          font-size: 2rem;
        }

        @media (max-width: 991px) {
          font-size: 1.6rem;
        }
      }

      .title {
        @media (min-width: 992px) {
          font-size: 1.8rem;
        }

        @media (max-width: 991px) {
          font-size: 1.6rem;
        }
      }
    }
  }
}