.element-slider-carousel {
  &__warp {
    padding: 0 3rem;

    .item {
      &__thumbnail {}

      .title-box {}

      .content-box {}
    }

    &.owl-carousel {
      .owl-nav {
        margin: 0;

        button {
          margin: 0;
          position: absolute;
          top: 50%;
          display: flex;
          align-items: center;
          transform: translateY(-50%);

          i {
            font-size: 2.2rem;
            color: #ffffff;
          }

          &.owl-prev {
            left: 0;
          }

          &.owl-next {
            right: 0;
          }
        }
      }
    }
  }
}