.element-title-number-list {
  &__warp {
    .item {
      &__heading {
        &:has(.icon-box) {
          display: grid;
          grid-gap: 1.2rem;
          grid-template-columns: 2.4rem 1fr;
          align-items: center;
        }

        .title {
          margin-bottom: 0;
        }
      }
    }
  }
}