.element-gallery-grid-content {
  &__warp {
    display: grid;
    grid-gap: 1rem 1.8rem;

    @media (min-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
    }

    .item-grid {
      display: grid;
      grid-gap: .8rem 1.7rem;
      grid-template-columns: repeat(3, 1fr);

      &__image {
        &:not(:nth-child(2)) {
          height: 100%;
          overflow: hidden;
        }

        &:nth-child(2) {
          grid-column: 2 / span 3;
          grid-row: span 3;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .item-content {
      font-size: 1.6rem;
    }
  }
}