.element-step-list {
  display: grid;

  .item {
    display: grid;
    grid-gap: 2.2rem;
    grid-template-columns: max-content 1fr;

    &__number {
      .box-warp {
        text-align: center;
        font-size: 3.5rem;
        color: var(--color-white);
        @include square(7.8rem, 50%);
        @include flex-center();
        background-color: var(--clinic-theme-primary-color);
      }
    }

    &__body {
      .title {
        font-size: 1.8rem;
        color: #000000;
      }
    }
  }
}