.element-contact-us {
  &__list {
    display: grid;

    .item {
      padding: 2rem;
      position: relative;
      min-height: 22.9rem;
      text-align: center;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border-radius: 1rem;
      background-color: #E46666;

      &:before {
        position: absolute;
        content: "";
        top: .9rem;
        left: .9rem;
        bottom: .9rem;
        right: .9rem;
        border: .1rem solid var(--color-white);
        border-radius: 1rem;
      }

      &__image {
        margin-bottom: 1.2rem;
      }

      &__body {
        position: relative;

        .title {
          margin: 0;
          font-size: 1.6rem;
          color: #0D0D0D;
        }

        .desc {
          margin-bottom: .2rem;
          font-weight: 700;
          line-height: 1.2;
          font-size: 2rem;

          a {
            color: inherit;
          }
        }
      }
    }
  }
}