.element-category-list {
  &__grid {
    display: grid;

    .item {
      padding: 1.2rem;
      border-radius: 5rem;
      border: .1rem solid #D8D8D8;
      box-shadow: 0 .4rem .4rem 0 rgba(0, 0, 0, 0.25);
      background-color: var(--color-white);
      display: flex;
      gap: 1.2rem;
      align-items: center;
      justify-content: center;

      &__title {
        margin-bottom: 0;
        color: #000000;
        font-size: 2rem;
        font-family: var(--heading-font-family);

        a {
         color: inherit;
        }
      }

      &:hover {
        .item__title {
          color: var(--clinic-theme-primary-color);
        }
      }
    }
  }
}