.element-doctor-slider {
  &__warp {
    .item {
      display: grid;

      @media (min-width: 1200px) {
        grid-gap: 5rem;
        grid-template-columns: 34.5rem 1fr;
      }

      @media (max-width: (1199px)) {
        grid-gap: 2rem;
      }

      &__body {
        .content {
          &__item {
            &:not(:last-child) {
              margin-bottom: 2rem;
            }

            img {
              width: auto;
            }

            .top {
              margin-bottom: 1.6rem;
              display: grid;
              grid-gap: 2rem;
              grid-template-columns: 2.8rem 1fr;
              align-items: center;

              &__title {
                margin: 0;
                font-size: 2.8rem;
                font-weight: 400;
              }
            }

            .desc {
              padding-left: 1rem;
              border-left: .2rem solid var(--clinic-theme-secondary-color);
            }
          }
        }

        .action-box {
          margin-top: 3rem;
          text-align: center;

          .btn {
            padding: 1.4rem 3rem;
            color: var(--color-white);
            font-size: 1.8rem;
            border-radius: 3rem;
            background-color: var(--clinic-theme-secondary-color);
            @include transition();

            &:hover {
              background-color: var(--color-salem);
            }
          }
        }
      }
    }
  }
}

.element-doctor-avatar {
  .owl-stage-outer {
    padding: 1rem 0;
  }

  .owl-item {
    &.current {
      .item {
        box-shadow: 0 5px 5px 0 rgba(0,0,0,.5);
      }
    }
  }
}