.element-safety-principles {
  &__warp {
    @media (min-width: 1200px) {
      grid-template-columns: 1fr 42rem 1fr;
    }

    @media (min-width: 768px) and (max-width: 1199px) {
      grid-template-columns: 1fr 30rem 1fr;
    }

    @media (min-width: 768px) {
      display: grid;
      grid-gap: 2.4rem 1.2rem;
    }

    @media (max-width: 767px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .item {
      ~ .item {
        @media (max-width: 767px) {
          margin-top: 1rem;
        }
      }

      .repeater-item {
        padding: 2rem;
        border: 1px solid #A1A1A1;
        background-color: var(--color-white);

        ~ .repeater-item {
          margin-top: 2rem;
        }
      }
    }

    .item-thumbnail {
      @media (min-width: 768px) {
        display: flex;
        align-items: flex-end;
        justify-content: center;
      }

      @media (max-width: 767px) {
        order: 3;
      }
    }

    .item-group {
      .title {
        margin: 0 0 1.6rem;
        padding-bottom: 1.6rem;
        position: relative;
        font-size: 2rem;
        color: #106487;

        &:after {
          position: absolute;
          content: "";
          left: 0;
          bottom: 0;
          width: 36%;
          height: .4rem;
          border-bottom: .3rem solid #F68000;
        }

        @media (min-width: 992px) {
          transform: translateY(-2px);
        }

        @media (max-width: 767px) {
          font-weight: 400;
          order: 1;
        }
      }

      &.item-left {
        .repeater-item {
          @media (min-width: 768px) {
            grid-template-columns: 1fr auto;
          }

          @media (max-width: 767px) {
            grid-template-columns: auto 1fr;
          }
        }
      }

      &.item-right {
        .repeater-item {
          grid-template-columns: auto 1fr;
        }
      }
    }
  }
}