.element-contact-form-7 {
  .heading {
    margin-bottom: 1.8rem;
    color: #FF0000;
    line-height: 1.2;

    span {
      &.has-gradient {
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  .sub-heading {
    margin-bottom: 2.6rem;
  }

  form {
    &.wpcf7-form {
      .wpcf7-form-control-wrap {
        input,
        textarea {
          padding: 1rem;
          font-size: 1.4rem;
          color: #909090;
          border: .1rem solid #CCCCCC;
          background-color: #EAF1F1;

          &::placeholder {
            color: #909090;
          }
        }

        input {
          min-height: 3.8rem;
        }

        textarea {
          height: 8rem;
        }
      }

      .wpcf7-submit {
        padding: 1rem 2rem;
        font-size: 1.4rem;
        font-weight: 900;
        border-radius: .5rem;
        background: #D7384E;
      }
    }
  }

  &.style-inline {
    form {
      &.wpcf7-form {
        display: grid;
        grid-gap: 1.2rem 0;

        @media (min-width: 576px) {
          grid-template-columns: 1fr auto;
        }

        p {
          margin: 0;
        }

        .wpcf7-form-control-wrap {
          .wpcf7-form-control{
            @media (min-width: 576px) {
              border-radius: 5rem 0 0 5rem;
            }
          }
        }

        .wpcf7-submit {
          height: 100%;
          min-width: 11rem;

          @media (min-width: 576px) {
            border-radius: 0 5rem 5rem 0;
          }
        }
      }
    }
  }
}