.element-contact-form-7 {
  &__heading {
    font-weight: 900;
  }

  form {
    &.wpcf7-form {
      p {
        + p {
          margin-top: 1.2rem;
        }
      }
      span {
        &.wpcf7-form-control-wrap {
          input,
          textarea {
            padding: .8rem 1.6rem;
            border: 1px solid #CCC;
            background: #EAF1F1;
          }
        }
      }
    }
  }

  &.style-1 {
    display: grid;
    border: .2rem solid #3D2314;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 768px) and (max-width: 991px) {
      padding: 1.2rem;
    }

    .heading {
      margin-bottom: 1rem;
      font-weight: 900;
      color: var(--heading-color);
      font-family: var(--body-font-family);

      @media (min-width: 1200px) {
        font-size: 4rem;
      }

      @media (max-width: 1199px) {
        font-size: 2.4rem;
      }
    }

    .item {
      height: 100%;
    }

    .sub-heading {
      margin-bottom: 2rem;
      text-align: center;
      line-height: 1.2;

      @media (min-width: 992px) {
        font-size: 2rem;
      }

      @media (max-width: 991px) {
        font-size: 1.6rem;
      }
    }

    .thumbnail-box {
      height: 100%;

      @media (max-width: 991px) {
        display: flex;
        align-items: center;
      }

      img {
        width: 100%;

        @media (min-width: 992px) {
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .item-form {
      @media (min-width: 992px) {
        padding: 3.9rem 3.2rem 3.5rem;
      }

      @media (max-width: 991px) {
        padding: 2.4rem;
      }
    }

    form {
      &.wpcf7-form {
        p {
          + p {
            margin-top: 1.5rem;
          }
        }

        span {
          &.wpcf7-form-control-wrap {
            input,
            textarea {
              color: #5D5959;
              border-color: #BDBCBC;
              background-color: var(--color-white);

              @media (min-width: 1200px) {
                min-height: 5.6rem;
                font-size: 2rem;
              }

              @media (max-width: 1199px) {

                font-size: 1.6rem;
              }

              &::placeholder {
                color: #000000;
                opacity: 1;
              }

              &::-ms-input-placeholder {
                color: #000000;
              }
            }

            textarea {
              height: 11.2rem;
            }
          }
        }

        .wpcf7-submit {
          padding: .6rem 8.1rem;
          text-transform: uppercase;
          font-family: var(--body-font-family);
          font-weight: 700;
          color: #000000;
          border-radius: 1rem;
          border: 1px solid #000000;
          background: var(--color-cadmium-yellow);

          @media (min-width: 992px) {
            min-height: 6.9rem;
            font-size: 3rem;
          }

          @media (max-width: 991px) {
            font-size: 2rem;
          }
        }
      }
    }
  }

  &.style-2 {
    padding: 2.6rem 3rem;
    border: 1px solid var(--theme-tertiary-color);
    border-radius: .5rem;

    .heading {
      font-size: 2rem;
      color: var(--theme-tertiary-color);
    }

    form {
      &.wpcf7-form {
        span {
          &.wpcf7-form-control-wrap {
            input {
              min-height: 3.8rem;
            }

            input,
            textarea {
              font-size: 1.4rem;
            }

            textarea {
              min-height: 8rem;
            }
          }
        }

        .wpcf7-submit {
          min-height: 4rem;
          min-width: 17.3rem;
          font-size: 1.4rem;
          font-weight: 900;
          border-radius: .5rem;
          background: linear-gradient(180deg,#ff0008 0,#941115 100%);
        }
      }
    }
  }

  &.style-3 {
    border-radius: 1rem;
    box-shadow: 0 .4rem .4rem 0 rgba(0,0,0,0.25);
    background-color: #ffffff;
    background-image: url("../images/bk-form-contact.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;

    .heading {
      margin: 0;
      padding: 1.6rem;
      font-size: 2.5rem;
      color: var(--color-sunset-orange);
      text-transform: uppercase;
      font-family: var(--body-font-family);
      border-bottom: .4rem solid #DC9631;
    }

    .sub-heading {
      margin: 0;
      padding: 1.6rem;
      font-size: 2rem;
      text-align: center;
      color: #7D4510;
      text-transform: uppercase;
      font-weight: 500;
      line-height: 1.2;
    }

    .wpcf7-form {
      @media (min-width: 768px) {
        padding: 0 3rem;
      }

      @media (max-width: 767px) {
        padding: 0 2rem;
      }

      .wpcf7-form-control-wrap {
        input, textarea {
          font-size: 2rem;
          border-color: #7D4510;
          border-radius: 1rem;
          background-color: var(--color-white);
        }

        input {
          @media (min-width: 768px) {
            min-height: 6.4rem;
          }
        }

        textarea {
          @media (min-width: 768px) {
            height: 6.4rem;
          }
        }
      }

      .wpcf7-submit {
        width: 100%;

        font-weight: 700;
        color: #000000;
        border-radius: 1rem;
        background-image: linear-gradient(90deg, #FDC731, #D99132);

        @media (min-width: 768px) {
          min-height: 7.7rem;
          font-size: 2.5rem;
        }

        @media (max-width: 767px) {
          font-size: 2rem;
        }
      }
    }

    .note {
      margin-top: 1rem;
      padding: 1.6rem;
      text-align: center;
      font-style: italic;
      line-height: 1.4;
    }
  }
}