.element-list-box-content {
  &__warp {
    .item {
      display: grid;
      grid-gap: 2.4rem;
      align-items: center;

      @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }

      ~ .item {
        margin-top: 2.4rem;
      }

      &__body {
        .title {
          @media (min-width: 992px) {
            font-size: 2.7rem;
          }
          
          @media (max-width: 991px) {
            font-size: 2rem;
          }
        }

        .content {
          font-size: 1.7rem;
          line-height: 1.6;
        }
      }

      &:nth-child(even) {
        @media (min-width: 768px) {
          .item__thumbnail {
            order: 2;
          }

          .item__body {
            order: 1;
          }
        }
      }
    }
  }
}