.element-banner {
  img {
    width: 100%;
  }

  &:has(.banner-mobile) {
    .banner-pc {
      @media (max-width: 576px) {
        display: none;
      }
    }
  }

  .banner-mobile {
    @media (min-width: 576px) {
      display: none;
    }
  }
}