.element-post-grid {
  > div {
    display: grid;
    grid-gap: 2.4rem;
  }

  .item {
    &__thumbnail {
      margin-bottom: 2rem;

      @media (max-width: 575px) {
        height: 30rem;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .title {
      font-size: 1.6rem;
    }
  }

  .top-box {
    @media (min-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
    }

    + .under-box {
      margin-top: 2.4rem;
    }

    .item {
      &:first-child {
        @media (min-width: 992px) {
          grid-row: 1 / 3;
        }

        @media (min-width: 576px) and (max-width: 991px) {
          grid-column: 1 / span 2;
        }

        .item__thumbnail {
          @media (min-width: 992px) {
            height: 42rem;
          }

          @media (min-width: 576px) and (max-width: 991px) {
            height: 50rem;
          }
        }
      }

      &:not(:first-child) {
        .item__thumbnail {
          @media (min-width: 992px) {
            height: 22rem;
          }

          @media (min-width: 576px) and (max-width: 991px) {
            height: 30rem;
          }
        }

        .content {
          @media (min-width: 992px) {
            display: none;
          }
        }
      }
    }
  }

  .under-box {
    @media (min-width: 992px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media (min-width: 576px) and (max-width: 991px){
      grid-template-columns: repeat(2, 1fr);
    }

    .item {
      &__thumbnail {
        @media (min-width: 992px) {
          height: 20rem;
        }

        @media (min-width: 576px) and (max-width: 991px) {
          height: 30rem;
        }
      }

      .content {
        @media (min-width: 992px) {
          display: none;
        }
      }
    }
  }
}