.element-image-box-content-list {
  &__grid {
    display: grid;

    @media (min-width: 992px) {
      grid-gap: 2.8rem;
    }

    @media (max-width: 991px) {
      grid-gap: 2.4rem;
    }
    
    @media (min-width: 576px) {
      grid-template-columns: repeat(2, 1fr);
    }

    .item {
      padding: 1.5rem 2.1rem 2.8rem;
      background-color: var(--color-white);
      box-shadow: 0 4px 4px rgba(0,0,0,0.25);

      &__thumbnail {
        margin-bottom: 1.6rem;

        img {
          width: 100%;
        }
      }

      &__content {
        .title {
          margin-bottom: 1.5rem;
          font-family: var(--body-font-family);
          font-weight: 900;
          color: #FF0303;
          text-align: center;

          @media (min-width: 992px) {
            font-size: 2.4rem;
          }

          @media (max-width: 991px) {
            font-size: 1.6rem;
          }
        }

        .desc {
          margin-top: 1.2rem;
          font-size: 1.6rem;
          line-height: 1.5;
        }
      }
    }
  }

  .action {
    margin-top: 3rem;
    gap: 2.8rem;

    @media (max-width: 575px) {
      flex-direction: column;
    }

    a {
      padding: 0 2.3rem;
      display: inline-flex;
      align-items: center;
      min-height: 4.7rem;
      font-size: 2rem;
      font-weight: 700;
      border-radius: .5rem;
      overflow: hidden;
      box-shadow: 0 4px 4px rgba(0,0,0,0.25);

      i {
        margin-right: 1.5rem;
        font-size: 2.6rem;
      }

      &.btn-booking {
        color: #fff;
        background-color: #FF0000;
      }

      &.btn-hotline {
        color: #078450;
        background-color: #FFE500;
      }
    }
  }
}