.element-testimonial-slider {
  &__warp {
    padding: 0 .1rem;
  }

  .item {
    padding: 3rem 3.4rem;
    border: 1px solid var(--clinic-theme-primary-color);
    border-bottom-width: .7rem;
    border-bottom-color: #086A64;
    background-color: var(--color-white);

    &__top-box {
      margin-bottom: 1.8rem;
      font-weight: 700;
      font-family: var(--heading-font-family);
    }

    &__body {
      > div {
        &:not(:last-child) {
          margin-bottom: 1.6rem;
        }
      }

      .vote {
        color: #FFC226;
      }

      .profile {
        display: grid;
        grid-gap: 1.7rem;
        grid-template-columns: 5.4rem 1fr;
        align-items: center;

        .avatar {
          img {
            width: auto;
          }
        }

        .meta {
          font-weight: 700;
          font-family: var(--heading-font-family);

          p {
            margin: 0;
          }

          .info {
            color: #2C904F;
          }
        }
      }
    }
  }
}