.element-about-us {
  &__warp {
    display: grid;

    @media (min-width: 992px) {
      grid-template-columns: 48.8rem 1fr;
      align-items: center;
    }

    .item {
      .heading {
        font-family: var(--body-font-family);
      }

      .sub-heading {
        font-size: 3.6rem;
      }

      .dividing-line {
        margin-bottom: 1.2rem;
        height: .3rem;
        background-color: #FFAC4B;
      }

      &.item-content {
        order: 1;
      }

      .action-box {
        margin-top: 2.4rem;
        gap: 1.2rem;
      }
    }
  }
}