.element-step-image-box {
  &__grid {
    display: grid;
    grid-gap: 2.4rem;

    .item {
      display: flex;
      flex-direction: column;

      &__box {
        flex: 1;
        background-color: #ffffff;

        .thumbnail {
          overflow: hidden;

          img {
            object-fit: cover;
          }
        }
      }
    }

    &.style-1 {
      .item {
        &__step {
          margin-bottom: 1.6rem;

          .txt {
            display: inline-block;
            position: relative;
            min-width: 10rem;
            background-color: var(--theme-tertiary-color);
            transform: skew(-20deg);

            span {
              position: relative;
              display: inline-block;
              color: var(--color-white);
              font-size: 1.6rem;
              font-weight: 500;
              font-style: italic;
              transform: skew(20deg);

              &:after {
                position: absolute;
                content: "";
                bottom: -0.5rem;
                left: 50%;
                border-left: 1rem solid transparent;
                border-right: 1rem solid transparent;
                border-top: .5rem solid var(--theme-tertiary-color);
                transform: translateX(-50%);
              }
            }
          }
        }

        &__box {
          border: 1px solid #B6B6B6;

          .content {
            padding: 1.8rem 1.2rem;

            .title {
              margin-bottom: 1rem;
              font-size: 2rem;

              @media (max-width: 767px) {
                font-size: 1.4rem;
              }
            }
          }
        }
      }
    }

    &.style-2 {
      .item {
        &__box {
          box-shadow: 0 .4rem .4rem 0 rgba(0,0,0,0.25);

          .content {
            position: relative;
            padding: 6rem 2.4rem 2rem;

            .step {
              position: absolute;
              top: -4rem;
              left: 50%;
              @include square(8.3rem, 50%);
              overflow: hidden;
              font-size: 3rem;
              font-weight: 700;
              color: #000000;
              box-shadow: 0 .4rem .4rem 0 rgba(0,0,0,0.25);
              background-color: var(--color-white);
              transform: translateX(-50%);

              &:before {
                position: absolute;
                content: "";
                top: .6rem;
                right: .6rem;
                bottom: .6rem;
                left: .6rem;
                border-radius: 50%;
                border: .1rem solid var(--heading-color);
              }
            }
          }
        }
      }
    }
  }
}