.element-testimonial-slider {
  .item {
    display: flex;
    flex-direction: column;

    .top-box {
      position: relative;
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: 8rem 1fr;
      align-items: center;
    }

    .thumbnail {
      @include square(8rem, 50%);
      display: flex;
      align-items: center;

      img {
        @include square(6.8rem, 50%);
        object-fit: cover;
      }
    }

    .name {
      margin-bottom: .4rem;
      font-weight: 700;
      font-size: 1.6rem;
      color: #000000;
      @include transition();
    }

    .info {
      font-weight: 700;
      font-family: var(--heading-font-family);
      color: var(--color-salem);
      @include transition();
    }

    .desc {
      margin-bottom: 2rem;
      color: #fff;
      background-color: #2BA462;
      flex: 1;

      @media (min-width: 992px) {
        padding: 4rem 3rem;
      }

      @media (max-width: 991px) {
        padding: 2rem;
      }
    }
  }
}