.element-doctor-slider {
  &__warp {
    margin-bottom: 3rem;

    .item {
      display: grid;

      @media (min-width: 1200px) {
        grid-gap: 5rem;
        grid-template-columns: 34.5rem 1fr;
      }

      @media (max-width: (1199px)) {
        grid-gap: 2rem;
      }

      @media (min-width: 992px) and (max-width: 1199px) {
        grid-template-columns: 30rem 1fr;
      }

      @media (min-width: 576px) and (max-width: 992px) {
        grid-template-columns: 25rem 1fr;
      }

      &__thumbnail {
        @media (max-width: 575px) {
          text-align: center;

          img {
            display: inline-block;
            width: 24.7rem;
            height: 25.2rem;
            object-fit: cover;
          }
        }

        .position {
          margin: 1.6rem 0 0;
          font-size: 2.2rem;
          color: #2D67BF;
        }
      }

      &__body {
        .content {
          &__item {
            &:not(:last-child) {
              margin-bottom: 2rem;
            }

            img {
              width: auto;
            }

            .top {
              margin-bottom: 1.6rem;
              display: grid;
              grid-gap: 2rem;
              grid-template-columns: 2.8rem 1fr;
              align-items: center;

              &__title {
                margin: 0;
                font-weight: 400;

                @media (min-width: 992px) {
                  font-size: 2.8rem;
                }

                @media (max-width: 991px) {
                  font-size: 2.4rem;
                }
              }
            }

            .desc {
              padding-left: 1rem;
              border-left: .2rem solid var(--clinic-theme-secondary-color);
            }
          }
        }

        .action-box {
          margin-top: 3rem;
          text-align: center;

          .btn {
            padding: 1.2rem 2.4rem;
            color: var(--color-white);
            font-size: 2rem;
            border-radius: 3rem;
            background-color: var(--clinic-theme-secondary-color);
            @include transition();

            &:hover {
              background-color: var(--color-salem);
            }
          }
        }
      }
    }
  }
}

.element-doctor-avatar {
  max-width: 96rem;
  margin: 0 auto;

  @media (max-width: 479px) {
    display: none;
  }

  &__slider {
    .item {
      padding: 1rem;
      cursor: pointer;
      @include transition();

      &__thumbnail {
        margin-bottom: 1.6rem;
        text-align: center;

        img {
          display: inline-block;
          height: 20rem;
          width: 100%;
          object-fit: cover;
        }
      }

      .title {
        margin: 0;
        font-weight: 400;
        font-size: 1.8rem;
        color: #000000;
      }
    }
  }

  .owl-carousel {
    .owl-item {
      &.current {
        .item {
          background: linear-gradient(180deg, #E6E6E6 0%, #FFF4F7 100%);
        }
      }
    }

    .owl-nav {
      margin: 0;

      button {
        margin: 0;
        position: absolute;
        top: 50%;
        @include square(3rem, 50%);
        background-color: #000000;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(-50%);
        @include transition();

        i {
          &:before {
            color: var(--color-white);
          }
        }

        &.owl-prev {
          @media (min-width: 1200px) {
            left: -5rem;
          }

          @media (max-width: 1199px) {
            left: 0;
          }
        }

        &.owl-next {
          @media (min-width: 1200px) {
            right: 0;
          }

          @media (max-width: 1199px) {
            right: 0;
          }
        }

        &:hover {
          background-color: var(--clinic-theme-secondary-color);
        }
      }
    }
  }
}