.element-safety-principles {
  &__warp {
    display: grid;
    grid-gap: 2.5rem;

    @media (min-width: 1200px) {
      grid-template-columns: 1fr 50rem 1fr;
    }

    @media (min-width: 992px) and (max-width: 1199px) {
      grid-template-columns: 1fr 30rem 1fr;
    }

    @media (min-width: 992px) {
      align-items: center;
    }

    @media (min-width: 576px) and (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr);
    }

    .item-thumbnail {
      @media (min-width: 1200px) {
        display: flex;
        align-items: flex-end;
        justify-content: center;
      }

      @media (max-width: 991px) {
        display: none;
      }
    }

    .item-group {
      @media (max-width: 991px) {
        display: flex;
        flex-direction: column;
      }

      .repeater-item {
        @media (max-width: 991px) {
          flex: 1;
        }

        ~ .repeater-item {
          @media (min-width: 992px) {
            margin-top: 5.4rem;
          }

          @media (max-width: 991px) {
            margin-top: 2rem;
          }
        }
      }

      .title {
        margin: 0 0 1.6rem;
        font-size: 2rem;
        color: #D43D72;
      }
    }
  }

  .action-box {
    margin-top: 3.6rem;
    gap: 1.8rem;

    @media (max-width: 575px) {
      flex-direction: column;
    }

    &__chat {
      background-color: #EB4F67;
    }

    &__booking {
      background-color: #00BD74;
    }

    a {
      padding: 1.4rem 1.2rem;
      text-align: center;

      font-weight: 700;
      font-family: var(--heading-font-family);
      color: var(--color-white);
      border: .2rem solid var(--color-white);
      border-radius: 1rem;

      @media (min-width: 768px) {
        min-width: 33.4rem;
        font-size: 2rem;
      }

      @media (max-width: 767px) {
        font-size: 1.6rem;
      }

      &:hover {
        background-color: var(--clinic-theme-primary-color);
      }
    }
  }
}