.element-slider-carousel {
  &__warp {
    .item {
      overflow: hidden;
      border-radius: .5rem;
      background-color: var(--color-white);
      display: flex;
      flex-direction: column;

      &__thumbnail {}

      &__body {
        position: relative;
        margin: 1.4rem 1.2rem;
        flex: 1;

        &:before {
          position: absolute;
          content: "";
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          border-radius: .5rem;
          border: .1rem solid var(--clinic-theme-seven-color);
        }

        .title-box {
          margin-top: -3.5rem;
          margin-bottom: 0;
          padding: 1.4rem 2rem 1.6rem;
          position: relative;
          text-align: center;
          color: var(--color-white);
          text-transform: uppercase;
          font-family: var(--body-font-family);
          border-radius: 5rem;
          background-color: var(--clinic-theme-secondary-color);

          @media (min-width: 1200px) {
            font-size: 1.6rem;
          }

          @media (max-width: 1199px) {
            font-size: 1.5rem;
          }
        }

        .content-box {
          padding: 1.2rem 1.2rem 2.4rem;
        }
      }
    }

    &.owl-carousel {
      .owl-nav {
        margin: 0;

        button {
          margin: 0;
          position: absolute;
          top: 50%;
          display: flex;
          align-items: center;
          transform: translateY(-50%);

          i {
            font-size: 2.2rem;
          }

          &.owl-prev {
            left: 0;
          }

          &.owl-next {
            right: 0;
          }
        }
      }

      .owl-dots {
        .owl-dot {
          &.active {
            span {
              background-color: var(--clinic-theme-fifth-color);
            }
          }
        }
      }
    }
  }
}