.element-chat-with-us {
  position: relative;

  border: 1rem solid var(--heading-color);
  border-radius: 1rem;

  @media (min-width: 992px) {
    padding: 5.4rem 2.4rem;
  }

  @media (max-width: 991px) {
    padding: 5.4rem 2.4rem 3rem;
  }

  .heading {
    margin-bottom: 3rem;
    text-align: center;

    span {
      display: inline-block;
      padding: 0 3rem;
      background-color: var(--color-white);
    }

    @media (min-width: 992px) {
      margin-top: -8rem;
      font-size: 3.5rem;
    }

    @media (max-width: 991px) {
      margin-top: -7.8rem;
      font-size: 3rem;
    }
  }

  &__warp {
    .item {
      text-align: center;

      a {
        display: inline-block;
      }
    }
  }
}