.element-btn-medical-register {
  &__warp {
    position: relative;
    overflow: hidden;

    @media (min-width: 992px) {
      height: 86.9rem;
    }

    @media (min-width: 768px) and (max-width: 991px) {
      height: 60rem;
    }

    @media (min-width: 390px) and (max-width: 767px) {
      height: 37rem;
    }

    @media (max-width: 389px) {
      height: 114.1rem;
    }

    img {
      @include square(100%);
      object-fit: cover;

      @media (min-width: 390px) {
        &.image-mobile {
          display: none;
        }
      }

      @media (max-width: 389px) {
        object-fit: fill;

        &.image-desktop {
          display: none;
        }
      }
    }

    .btn-action {
      position: absolute;
      left: 50%;
      bottom: 3rem;
      display: inline-block;
      padding: 1.4rem 2rem;
      min-width: 23.5rem;
      color: var(--color-white);
      font-size: 1.6rem;
      text-transform: uppercase;
      font-weight: 700;
      text-align: center;
      border-radius: 5rem;
      background: linear-gradient(180deg, #208B45 0%, #00FF58 100%);
      transform: translateX(-50%);

      @media (max-width: 991px) {
        min-width: 18rem;
        padding: .8rem 1.2rem;
        font-size: 1.4rem;
        bottom: .8rem;
      }
    }
  }
}