.element-category-list {
  &__grid {
    display: grid;

    .item {
      min-height: 15.2rem;

      &__image {
        margin-bottom: 2rem;
      }

      &__title {
        margin-bottom: 0;

        a {
          color: var(--clinic-theme-tertiary-color);

          @media (min-width: 992px) {
            font-size: 1.8rem;
          }

          @media (max-width: 991px) {
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}