.element-contact-form-7 {
  box-shadow: 0 .4rem .4rem 0 rgba(0,0,0,0.25);
  background-color: var(--color-white);

  @media (min-width: 992px) {
    padding: 1.8rem 3rem;
  }

  @media (max-width: 991px) {
    padding: 1.8rem 2.4rem;
  }

  .heading {
    font-size: 2.9rem;
    color: #FF0000;
  }

  form {
    &.wpcf7-form {
      span {
        &.wpcf7-form-control-wrap {
          input,
          textarea {
            padding: 0 1.6rem;
            font-size: 2rem;
            color: #000000;
            border: 1px solid #C7C1C1;
            background: #F4F4F4;

            &::placeholder {
              color: #000000;
            }
          }

          input {
            min-height: 6rem;
          }

          textarea {
            min-height: 10.2rem;
          }
        }
      }

      .wpcf7-submit {
        min-height: 4.5rem;
        min-width: 20.3rem;
        font-size: 2rem;
        font-weight: 700;
        font-family: var(--heading-font-family);
        border-radius: .5rem;
        background: #D7384E;
      }
    }
  }
}