.element-editor-list-number {
  .item {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 5.6rem 1fr;
    align-items: center;

    ~ .item {
      margin-top: 1.8rem;
    }

    .box-number {
      .stt {
        font-size: 2rem;
        font-weight: 700;
        @include square(5.6rem, 50%);
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}