.element-category-list {
  margin-top: 3rem;

  &__warp {
    position: relative;

    @media (max-width: 767px) {
      display: grid;
    }

    @media (min-width: 576px) and (max-width: 767px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 575px) {
      grid-gap: 1.2rem;
    }

    .cate-nav {
      position: relative;
      z-index: 2;

      @media (min-width: 1200px) {
        width: calc(100% - 72rem);
      }

      @media (min-width: 992px) and (max-width: 1199px) {
        width: calc(100% - 56.5rem);
      }

      @media (min-width: 768px) and (max-width: 991px) {
        width: calc(100% - 37rem);
      }

      @media (max-width: 575px) {
        order: 2;
      }

      &__box {
        position: relative;
        padding: 5rem 3rem 3rem;
        border-radius: 2rem;
        overflow: hidden;
        height: 100%;
        background-color: #622C0C;

        .list {
          position: relative;
          margin: 0 auto;
          max-width: 32.1rem;

          .item-cate {
            color: var(--color-white);

            .link {
              color: inherit;
              font-size: 2rem;

              &:hover {
                color: #f7ba3f;
              }
            }
          }
        }
      }

      .cate-group {
        position: absolute;
        top: -3rem;
        left: 50%;
        z-index: 2;
        padding: 1.2rem;
        margin: 0;
        text-align: center;
        color: #000000;
        white-space: nowrap;
        border: .3rem solid var(--color-white);
        border-radius: 2rem;
        background-color: #F7BA3F;
        transform: translateX(-50%);

        @media (min-width: 992px) {
          font-size: 3rem;
        }

        @media (max-width: 991px) {
          font-size: 2.4rem;
        }

        @media (min-width: 768px) {
          width: 32.1rem;
        }

        @media (max-width: 767px) {
          width: 25rem;
        }
      }
    }

    .image-box {
      overflow: hidden;
      border-radius: 2rem;
      border: .2rem solid #7D4510;

      @media (min-width: 1200px) {
        width: 75.5rem;
      }

      @media (min-width: 992px) and (max-width: 1199px) {
        width: 60rem;
      }

      @media (min-width: 768px) and (max-width: 991px) {
        width: 45rem;
      }

      @media (min-width: 768px) {
        position: absolute;
        top: 0;
        bottom: 0;
      }

      @media (max-width: 575px) {
        order: 1;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &.style-1 {
    .cate-nav {
      &__box {
        @media (min-width: 576px) and (max-width: 767px) {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }

    .image-box {
      right: 0;

      @media (min-width: 576px) and (max-width: 767px) {
        border-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }

  &.style-2 {
    .cate-nav {
      @media (min-width: 768px) {
        margin: 0 0 0 auto;
      }

      @media (min-width: 576px) and (max-width: 767px) {
        order: 2;
      }

      &__box {
        @media (min-width: 576px) and (max-width: 767px) {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }

    .image-box {
      @media (min-width: 576px) and (max-width: 767px) {
        order: 1;
      }

      @media (min-width: 576px) and (max-width: 767px) {
        border-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
}