.element-about-us {
  &__warp {
    display: grid;
    grid-gap: 4rem;

    @media (min-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }

    .item {
      &.item-thumbnail {
        img {
          width: 100%;
        }
      }

      .heading {
        margin-bottom: 4.6rem;
        font-size: 3.5rem;
        font-family: var(--body-font-family);
      }
    }

    &.style-1 {
      .item {
        .desc {
          padding: 4.2rem 4rem;
          color: var(--color-white);
          border-radius: 1rem;
          background-color: #358BC9;
        }
      }
    }

    &.style-2 {
      .item {
        &.item-content {
          display: flex;
          flex-direction: column;
          min-height: 100%;
        }

        .desc {
          padding: 8rem 6rem;
          position: relative;
          height: 100%;
          min-height: 22.8rem;
          @include flex-center-vert();
          flex: 1;

          &:before,
          &:after {
            position: absolute;
            content: "";
            width: 100%;
            left: 0;
            height: 22.8rem;
            background-size: 100%;
            background-repeat: no-repeat;
          }

          &:before {
            top: 0;
            background-image: url("../images/quote-top.png");
            background-position: top left;
          }

          &:after {
            bottom: 0;
            background-image: url("../images/quote-bottom.png");
            background-position: bottom left;
          }

          &__box {
            min-height: 22.8rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
        }
      }
    }

    &.style-3 {
      grid-gap: 1.6rem;
      align-items: normal;

      @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }

      .item-thumbnail {
        @media (min-width: 768px) {
          order: 2;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      .item-content {
        position: relative;
        border-radius: .5rem;
        background-color: #2093D1;
        color: var(--color-white);

        @media (min-width: 768px) {
          padding: 4.8rem;
        }

        @media (max-width: 767px) {
          padding: 2.4rem;
        }

        &:before {
          position: absolute;
          content: "";
          top: .8rem;
          right: .8rem;
          bottom: .8rem;
          left: .8rem;
          border: .2rem solid var(--color-white);
          border-radius: .5rem;
        }

        .desc {
          display: flex;
          flex-direction: column;
          justify-content: center;
          min-height: 100%;
        }
      }
    }
  }
}