.element-category-list {
  &__grid {
    display: grid;

    .item {
      padding: 2.8rem 1.2rem 2rem;
      border-radius: 1rem;
      border: .2rem solid #FA5E1B;
      background-color: var(--color-white);

      &__image {
        margin-bottom: 1.2rem;
      }

      &__title {
        margin-bottom: 0;
        color: #000000;
        font-size: 1.6rem;
        font-weight: 400;
        font-family: var(--body-font-family);

        a {
          color: inherit;
        }
      }

      &:hover {
        .item__title {
          color: var(--clinic-theme-primary-color);
        }
      }
    }
  }
}