.element-contact-form-7 {
  &__heading {
    font-size: 1.8rem;
    font-weight: 900;
    font-family: var(--body-font-family);
  }

  form {
    &.wpcf7-form {
      span {
        &.wpcf7-form-control-wrap {
          input,
          textarea {
            padding: 1rem .8rem 1rem;
            font-size: 1.4rem;
            font-weight: 400;
            color: #909090;
            font-family: var(--heading-font-family);
            border: 1px solid #CCC;
            background: #EAF1F1;
          }
        }
      }

      .wpcf7-submit {
        border-radius: .5rem;
        background: linear-gradient(180deg, #FF0008 0%, #941115 100%);
      }
    }
  }
}