.element-image-box-content-list {
  &__grid {
    display: grid;

    @media (min-width: 992px) {
      grid-gap: 3.2rem;
    }

    @media (max-width: 991px) {
      grid-gap: 2.4rem;
    }
    
    @media (min-width: 576px) {
      grid-template-columns: repeat(2, 1fr);
    }

    .item {
      padding: 1.5rem 2.1rem;
      border-radius: 1rem;
      background-color: var(--color-white);

      &__thumbnail {
        margin-bottom: 1.4rem;

        img {
          width: 100%;
        }
      }

      &__content {
        .title {
          margin: 0;

          border-radius: 5rem;
          font-family: var(--body-font-family);
          font-weight: 900;
          text-align: center;
          color: var(--clinic-secondary-color);
          background: linear-gradient(180deg, #FE6F01 0%, #F5371A 100%);

          @media (min-width: 992px) {
            padding: 1.6rem 2rem;
            font-size: 2.4rem;
          }

          @media (max-width: 991px) {
            padding: .8rem 1.6rem;
            font-size: 1.6rem;
          }
        }

        .desc {
          margin-top: 1.2rem;
          font-size: 1.6rem;
        }
      }
    }
  }
}