.element-about-us {
  &__warp {
    display: grid;

    img {
      width: 100%;
    }

    &.style-1 {
      grid-gap: 1.2rem;

      @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
      }

      .item {
        .grid {
          display: grid;
          grid-gap: .8rem 1.2rem;
          grid-template-columns: repeat(3, 1fr);

          .grid-item {
            overflow: hidden;

            img {
              height: 100%;
              object-fit: cover;
            }

            &:nth-child(2) {
              grid-column: 2 / span 2;
              grid-row: 1 / span 3;
            }

            &:not(:nth-child(2)) {
              @media (min-width: 992px) {
                height: 11.6rem;
              }
            }
          }
        }

        .desc {
          padding: 2.3rem 1.8rem;
          height: 100%;
          border-radius: 1rem;
          border: .2rem solid #196D17;
          box-shadow: 0 .4rem .4rem 0 rgba(0,0,0,0.25);
        }
      }
    }

    &.style-2 {
      grid-gap: 2.4rem 3.7rem;

      @media (min-width: 1200px) {
        grid-template-columns: 1fr 55.5rem;
      }

      .item-left {
        order: 2;
      }

      .item-right {
        order: 1;
      }

      .heading {
        margin-bottom: 1.7rem;

        @media (min-width: 1200px) {
          font-size: 2.9rem;
        }

        @media (max-width: 1199px) {
          font-size: 2rem;
        }
      }

      .heading-image-line {
        margin-bottom: 1.8rem;
      }

      .thumbnail-box {
        padding-top: 1.6rem;
        padding-right: 1.6rem;
        position: relative;

        &:before {
          position: absolute;
          content: "";
          top: 0;
          right: 0;
          bottom: 2.5rem;
          left: 2.7rem;
          border: .2rem dotted var(--theme-tertiary-color);
          border-top-left-radius: 3rem;
          border-bottom-right-radius: 3rem;
        }

        img {
          position: relative;
          overflow: hidden;
          border-top-left-radius: 3rem;
          border-bottom-right-radius: 3rem;
        }
      }
    }

    &.style-3 {
      grid-gap: 2.4rem 4rem;

      @media (min-width: 1200px) {
        grid-template-columns: 52.1rem 1fr;
      }

      @media (min-width: 768px) and ( max-width: 1199px ) {
        grid-template-columns: 40rem 1fr;
      }

      .heading {
        margin-bottom: .6rem;
      }

      .heading-image-line {
        margin-bottom: 1rem;
      }

      .thumbnail-box {
        padding-bottom: 1rem;
        padding-right: 1.4rem;
        position: relative;

        &:before {
          position: absolute;
          content: "";
          top: 2.3rem;
          right: 0;
          bottom: 0;
          left: 2.7rem;
          border: .2rem dotted var(--theme-tertiary-color);
          border-top-right-radius: 3rem;
          border-bottom-left-radius: 3rem;
          background-color: #FEF6F1;
        }

        img {
          position: relative;
          overflow: hidden;
          border-top-right-radius: 3rem;
          border-bottom-left-radius: 3rem;
        }
      }

      .desc {
        ul {
          margin: 0;
          padding: 0;
          list-style: none;

          li {
            position: relative;
            padding-left: 3rem;
            font-size: 1.8rem;

            ~ li {
              margin-top: 1rem;
            }

            &:before {
              position: absolute;
              content: "";
              top: .3rem;
              left: 0;
              @include square(2.4rem);
              background-image: url("../images/star.png");
              background-position: center;
              background-repeat: no-repeat;
              background-size: contain;
            }
          }
        }
      }
    }
  }
}