.element-about-us {
  &__warp {
    display: grid;

    .item {
      order: 1;

      .heading {
        font-family: var(--body-font-family);
      }

      .sub-heading {
        font-size: 3.6rem;
      }

      .dividing-line {
        line-height: .3rem;
        height: .3rem;

        &__box {
          display: inline-block;
          height: inherit;
        }
      }

      .desc {
        ul {
          margin: 0;
          padding: 0;
          list-style: none;

          li {
            position: relative;
            padding-left: 3.5rem;

            &:before {
              position: absolute;
              content: "";
              top: .6rem;
              left: 0;
              @include square(1.2rem, 50%);
              background-color: #E6171F;
            }

            ~ li {
              margin-top: 1.2rem;
            }
          }
        }
      }

      .action-box {
        margin-top: 2.4rem;
        gap: 1.5rem;
        flex-wrap: wrap;

        @media (max-width: 479px) {
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }

        a {
          display: inline-flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}