.element-doctor-slider {
  position: relative;

  .top-box {
    position: absolute;
    right: 0;

    @media (max-width: 767px) {
      display: flex;
      flex-direction: column;
      align-items: end;
    }

    .heading {
      margin: 0;
      padding: 1.2rem 2.8rem;
      text-align: center;
      color: var(--color-white);
      border-top-left-radius: 5rem;
      background: linear-gradient(180deg, #0D8566 0%, #01BB82 100%);
      
      @media (min-width: 768px) {
        width: 54.6rem;
      }

      @media (max-width: 767px) {
        display: inline-block;
      }
    }

    .sub-heading {
      margin: 0;
      padding: 1.2rem 2.8rem;
      text-align: center;
      color: var(--color-white);
      border-top-left-radius: 5rem;
      border-bottom-right-radius: 5rem;
      background: linear-gradient(180deg, #CF202C 0%, #901921 100%);

      @media (min-width: 768px) {
        width: 45.6rem;
        transform: translateX(-65px) translateY(-12px);
      }

      @media (max-width: 767px) {
        display: inline-block;
        transform: translateX(-20px) translateY(-12px);
      }
    }
  }

  &__warp {
    @media (min-width: 576px) and (max-width: 1199px) {
      padding-top: 15rem;
    }

    @media (max-width: 575px) {
      padding-top: 12rem;
    }

    .item {
      position: relative;

      @media (min-width: 1200px) {
        padding: 16rem 0 7.5rem;
      }

      @media (min-width: 768px) and (max-width: 1199px) {
        padding: 5rem 0;
        display: grid;
        grid-gap: 2.4rem;
        grid-template-columns: 30rem 1fr;
      }

      &__thumbnail {
        @media (min-width: 1200px) {
          width: 50.3rem;
        }

        @media (min-width: 1200px) {
          position: absolute;
          top: 50%;
          left: 0;
          z-index: 1;
          transform: translateY(-50%);
        }

        @media (max-width: 991px) {
          max-width: 36.6rem;
          margin: 0 auto 2rem;
        }
      }

      &__body {
        background-color: var(--color-white);
        box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);

        @media (min-width: 1200px) {
          position: relative;
          margin: 0 .5rem 0 auto;
          padding: 2.5rem 8rem 4rem 14.7rem;
          max-width: 81.1rem;
          border-radius: 14.25rem;
        }

        @media (max-width: 1199px) {
          padding: 2.4rem;
          border-radius: 1rem;
        }

        .title {
          margin-bottom: 1rem;
          color: #0AA389;
          line-height: 1.1;
          font-family: $body-font-family;

          @media (min-width: 992px) {
            font-size: 2.4rem;
          }

          @media (max-width: 991px) {
            font-size: 1.8rem;
          }
        }

        .position {
          font-weight: 500;
          color: #FF8621;
          line-height: 1.1;

          @media (min-width: 992px) {
            font-size: 2rem;
          }

          @media (max-width: 991px) {
            font-size: 1.6rem;
          }
        }

        .content {
          font-size: 1.5rem;

          ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
              position: relative;
              padding-left: 5rem;

              ~ li {
                @media (min-width: 992px) {
                  margin-top: 1.6rem;
                }

                @media (max-width: 991px) {
                  margin-top: 1.2rem;
                }
              }

              &:before {
                position: absolute;
                content: url("../images/icon-check-list.png");
                top: -3px;
                left: 0;
              }
            }
          }
        }

        .action-box {
          @media (min-width: 1200px) {
            position: absolute;
            right: 7rem;
            bottom: -3.6rem;
          }

          @media (max-width: 1199px) {
            margin-top: 1.6rem;
            text-align: center;
          }

          a {
            display: inline-block;
          }
        }
      }
    }
  }
}

.element-doctor-avatar {
  width: 45rem;
  margin: 0 auto;

  @media (max-width: 991px) {
    display: none;
  }

  .item {
    width: 10rem;
    height: 10rem;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 1rem;
    background-image: url("../images/bk-avatar.png");
    background-position: center;
    background-size: 100%;
    cursor: pointer;
    @include transition();

    img {
      margin: 0 auto;
      width: auto;
      height: 9.3rem;
      object-fit: contain;
      transform: translateY(5px);
    }
  }

  .owl-stage-outer {
    padding: 1rem 0;
  }

  .owl-item {
    &.current {
      .item {
        box-shadow: 0 5px 5px 0 rgba(0,0,0,.5);
      }
    }
  }
}