.element-testimonial-slider {
  .item {
    margin: 0 .2rem 0;
    display: flex;
    flex-direction: column;
    @include transition();

    .thumbnail {
      margin: -3.5rem auto 2.1rem;
      @include square(9rem, 50%);
      border: .3rem solid var(--color-cadmium-green);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .desc {
      padding: 3.4rem 3.9rem 4rem;
      font-size: 1.6rem;
      text-align: justify;
      background-color: #fff;
      border-radius: 2rem;
      box-shadow: 0 4px 4px rgba(0,0,0,0.25);
      flex: 1;
      @include transition();
    }

    .name {
      margin-bottom: .4rem;
      font-weight: 700;
      font-size: 1.6rem;
      color: #000000;
      @include transition();
    }

    .info {
      font-weight: 700;
      color: var(--color-cadmium-green);
      @include transition();
    }
  }
}