.element-box-image-content {
  &__warp {
    position: relative;

    .image-box {
      @media (min-width: 992px) {
        max-width: 73.3rem;
        width: 100%;
      }

      img {
        width: 100%;
      }

      + .body-box {
        @media (min-width: 992px) {
          position: absolute;
          max-width: 57.5rem;
          width: 100%;
          top: 3.8rem;
          right: 0;
          bottom: 3.8rem;
        }
      }
    }

    .body-box {
      background-color: #ffffff;

      @media (min-width: 992px) {
        padding: 5.8rem 5rem 4.5rem;
      }

      @media (max-width: 991px) {
        padding: 3rem 2.4rem;
      }

      .heading {
        margin-bottom: 0;
        font-family: var(--body-font-family);
        font-size: 3rem;

        ~ .heading {
          margin-top: .6rem;
        }

        &.heading-2 {
          color: var(--clinic-theme-tertiary-color);
        }
      }

      .dividing-line {
        margin-top: 2rem;
        margin-bottom: 2.2rem;
        width: 11.7rem;
        height: .5rem;
        background-color: #FD4D13;
      }

      .sub-heading {
        margin-bottom: 2.2rem;
        font-family: var(--body-font-family);
        font-size: 2rem;
        color: #000000;
      }

      .desc {
        line-height: 1.2;
      }

      .action-box {
        margin-top: 2.4rem;
        gap: 1.5rem;
        flex-wrap: wrap;

        @media (max-width: 479px) {
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }

        a {
          padding: .8rem 2.4rem .7rem;
          font-weight: 700;
          color: #ffffff;
          font-family: var(--heading-font-family);
          border-radius: 5rem;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          box-shadow: 0 .4rem .4rem 0 rgba(0, 0, 0, 0.25);
          background: linear-gradient(180deg, #FFB06D 0, #FF611D 100%);

          @media (min-width: 1200px) {
            min-width: 21.5rem;
          }

          @media (max-width: 1199px) {
            flex: 0 0 auto;
          }

          @media (max-width: 480px) {
            width: 100%;
          }
        }
      }
    }
  }
}