.element-about-us {
  &__warp {
    display: grid;

    .item {
      order: 1;

      .heading {
        font-family: var(--body-font-family);
      }

      .sub-heading {
        font-size: 3.6rem;
      }

      .dividing-line {
        margin-bottom: 1.2rem;
        height: .3rem;
        background-color: #FFAC4B;
      }

      .desc {
        ul {
          margin: 0;
          padding: 0;
          list-style: none;

          li {
            position: relative;
            padding-left: 3.5rem;

            &:before {
              position: absolute;
              content: "";
              top: .6rem;
              left: 0;
              @include square(1.2rem, 50%);
              background-color: #E6171F;
            }

            ~ li {
              margin-top: 1.2rem;
            }
          }
        }
      }

      .action-box {
        margin-top: 2.4rem;
        gap: 1.5rem;
        flex-wrap: wrap;

        @media (max-width: 479px) {
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }

        a {
          padding: .8rem 2.4rem .7rem;
          font-weight: 700;
          color: #ffffff;
          font-family: var(--heading-font-family);
          border-radius: 5rem;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          box-shadow: 0 .4rem .4rem 0 rgba(0, 0, 0, 0.25);
          background: linear-gradient(180deg, #FFB06D 0, #FF611D 100%);

          @media (min-width: 1200px) {
            min-width: 21.5rem;
          }

          @media (max-width: 1199px) {
            flex: 0 0 auto;
          }

          @media (max-width: 480px) {
            width: 100%;
          }
        }
      }
    }
  }
}