.element-circular-progress {
  display: grid;

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &__circle {
      position: relative;
      margin-bottom: 1.6rem;
      @include square(13rem, 50%);

      .percent-title {
        position: absolute;
        color: #FF6F69;
        font-weight: 700;
        font-size: 1.8rem;
      }

      svg {
        @include square(13rem, 50%);
      }

      .background-circle {
        fill: none;
        stroke: #ddd;
        stroke-width: 12;
      }

      .progress-circle-fill {
        fill: none;
        stroke: #FF6F69;
        stroke-width: 12;
        stroke-dasharray: 408.407; /* Chu vi vòng tròn, 2πr, r=65 */
        stroke-dashoffset: 408.407;
        transform: rotate(-90deg);
        transform-origin: 50% 50%;
        transition: stroke-dashoffset 1s ease;
      }
    }
  }
}