.element-contact-us {
  &__list {
    display: grid;

    .item {
      padding: 2rem;
      position: relative;
      min-height: 22.9rem;
      text-align: center;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border-radius: 1rem;
      background-color: var(--clinic-theme-secondary-color);

      &__image {
        margin-bottom: 1.2rem;
      }

      &__body {
        position: relative;

        .title {
          margin: 0;
          font-size: 1.6rem;
          color: #fff;
        }

        .desc {
          margin-bottom: .2rem;
          font-weight: 700;
          line-height: 1.2;
          font-size: 2rem;
          color: #fff;

          a {
            color: inherit;
          }
        }
      }
    }
  }
}