.element-category-list {
  &__grid {
    display: grid;

    .item {
      position: relative;
      display: grid;
      grid-gap: 1.5rem;
      grid-template-columns: 9.2rem 1fr;

      &__link {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      &__image {
        @include square(9.2rem, 50%);
        background-color: #3A9460;
        @include flex-center();
      }

      .title {
        font-size: 1.7rem;
        color: #000000;
        font-weight: 500;
      }
    }
  }
}