.element-image-list-link {
  &__grid {
    @include flex-center();
    gap: 1.5rem;

    .item {
      position: relative;

      &__link {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }
}