.element-instruct {
  &__warp {
    display: grid;

    @media (min-width: 992px) {
      grid-gap: 2.4rem 3.5rem;
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 991px) {
      grid-gap: 2.4rem;
    }

    @media (min-width: 576px) and (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr);
    }

    .item {
      &__top {
        margin-bottom: 1.5rem;
        border-bottom: .1rem solid var(--theme-tertiary-color);
        display: grid;
        grid-gap: 1.8rem;
        grid-template-columns: 5.8rem 1fr;
        align-items: center;

        .thumbnail {
          padding: 1rem;
          @include box(5.8rem, 5.5rem);
          background-color: var(--theme-tertiary-color);
        }

        .title {
          margin: 0;
          font-family: var(--font-fm-secondary);

          @media (min-width: 992px) {
            font-size: 2rem;
          }

          @media (min-width: 768px) and (max-width: 991px) {
            font-size: 1.8rem;
          }

          @media (max-width: 767px) {
            font-size: 1.6rem;
          }
        }
      }

      &__content {
        font-size: 1.8rem;
      }
    }
  }
}