.element-working-time {
  &__warp {
    @include flex-center();

    @media (min-width: 576px) {
      gap: 1.7rem;
    }

    @media (max-width: 575px) {
      gap: 1rem;
    }

    .time {
      display: flex;

      @media (min-width: 576px) {
        gap: .7rem;
      }

      @media (max-width: 575px) {
        gap: .3rem;
      }

      span {
        padding: .6rem 1rem;
        font-size: 4rem;
        color: #007B14;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: .5rem;
        background-color: #FFF400;

        @media (min-width: 576px) {
          min-width: 7.1rem;
        }

        @media (max-width: 575px) {
          font-size: 2.4rem;
          min-width: 6rem;
        }
      }
    }

    .chart {
      width: 3rem;
      height: 1.2rem;
      border-radius: .5rem;
      background-color: #000000;
    }
  }

  .content {
    margin-top: 3.3rem;
    font-size: 2rem;
  }
}