.element-category-list {
  &__grid {
    display: grid;

    .item {
      padding: 3rem 2.4rem 2.6rem;
      border-radius: 2rem;
      border: .1rem solid #ACACAC;
      box-shadow: 0 .4rem .4rem 0 rgba(0, 0, 0, 0.25);
      background-color: var(--color-white);
      display: flex;
      gap: 2.4rem;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      &__image {
        @include square(12rem, 50%);
        background-color: #F0F0F0;
        box-shadow: 0 .4rem .4rem 0 rgba(0, 0, 0, 0.25);
        @include flex-center();
      }

      &__title {
        margin-bottom: 0;
        color: #000000;
        font-size: 2rem;
        font-family: var(--heading-font-family);

        a {
         color: inherit;
        }
      }

      &:hover {
        .item__title {
          color: var(--clinic-theme-primary-color);
        }
      }
    }
  }
}