.element-step-list {
  display: grid;

  .item {
    padding: 1rem;
    display: grid;
    grid-gap: 3rem 2.4rem;
    grid-template-columns: max-content 1fr;
    align-items: center;
    background-color: #EDE2F4;

    .number {
      color: var(--clinic-theme-primary-color);
      font-size: 10rem;
      font-family: var(--heading-font-family);
      font-weight: 700;
      line-height: 1;
    }

    .title {
      margin: 0;
      font-size: 1.8rem;
      color: #000000;
      font-weight: 400;
      font-family: var(--body-font-family);
    }
  }
}