@import "../variables-site/variables";

@import "element-custom";
@import "element-about-us";
@import "element-heading-and-content";
@import "element-doctor-slider";
@import "element-safety-principles";
@import "element-procedure";
@import "element-gallery-grid-box";
@import "element-step-list";
@import "element-cf7";
@import "element-album-gallery";
@import "element-principles";
@import "element-image-content-list";
@import "element-list-image-content";
@import "element-slider-carousel";

//@import "element-circular-progress";

//@import "element-category-list-slider";


//@import "element-heading-between-line";
//@import "element-testimonial-slider";

//@import "element-post-grid";

//@import "element-list-content-number";

//@import "element-title-number-list";
//@import "element-contact-us";