@import "../variables-site/variables";

@import "element-custom";
@import "element-about-us";
@import "element-banner";
@import "element-category-list";
@import "element-cf7";
@import "element-gallery-grid-box";
@import "element-doctor-slider";
@import "element-album-gallery";
@import "element-image-between-line";
@import "element-safety-principles";
@import "element-testimonial-slider";


//@import "element-box-image-content";

//@import "element-title-number-list";
//@import "element-procedure";

//@import "element-post-grid";
//@import "element-step-grid";
//@import "element-editor-list-number";
//@import "element-scheduling-form.scss";
//@import "element-list-image-content";

//@import "element-contact-us";