@import "../variables-site/variables";

@import "element-custom";
@import "element-about-us";
@import "element-special-title";
@import "element-gallery-grid-box";
@import "element-group-button-contact";
@import "element-doctor-slider";
@import "element-testimonial-slider";
@import "element-post-grid";
@import "element-list-image-content";
@import "element-box-content-line";
@import "element-cf7";
@import "element-contact-us";

//@import "element-category-list";


//@import "element-step-list";


//@import "element-info";

//@import "element-slider-carousel";
//@import "element-cf7-vertical";


//@import "element-circular-progress";
//@import "element-category-list-slider";
//@import "element-procedure";
//@import "element-heading-between-line";
//@import "element-image-content-list";
//@import "element-list-content-number";

//@import "element-title-number-list";
