@import "../variables-site/variables";

@import "element-custom";
@import "element-about-us";
@import "element-category-list";
@import "element-banner";
@import "element-gallery-grid-box";
@import "element-list-image-content";
@import "element-album-gallery";
@import "element-doctor-slider";
@import "element-working-time";
@import "element-procedure";
@import "element-testimonial-slider";
@import "element-post-grid";
@import "element-step-list";
@import "element-image-between-line";
@import "element-round-box-image";
@import "element-title-number-list";
@import "element-contact-us";
@import "element-cf7";


