@import "../variables-site/variables";

@import "element-slider";
@import "element-about-us";
@import "element-doctor-slider";
@import "element-gallery-grid-box";
@import "element-category-list";
@import "element-group-button-contact";
@import "element-commitment";
@import "element-safety-principles";
@import "element-testimonial-slider";
@import "element-post-grid";
@import "element-contact-list";
@import "element-number-list-content";
@import "element-list-box-content";
@import "element-cf7";

//@import "element-gallery-grid-content";
//@import "element-image-box-content-list";




//@import "element-about";
//@import "element-more-information";
//@import "element-heading-between-line";
//@import "element-equipment";
//@import "element-btn-medical-register";
//@import "element-contact-us";