@import "../variables-site/variables";

@import "element-custom";
@import "element-banner";
@import "element-slider";
@import "element-category-list";
@import "element-company-info";
@import "element-doctor-slider";
@import "element-gallery-grid-box";
@import "element-testimonial-slider";
@import "element-cf7";

//@import "element-about-us";
//@import "element-album-gallery";
//@import "element-image-between-line";
//@import "element-safety-principles";

//@import "element-title-number-list";
//@import "element-list-content-number";
//@import "element-list-image-content";
//@import "element-contact-us";


