@import "../variables-site/variables";

@import "element-about-us";
@import "element-category-list";
@import "element-evaluate";
@import "element-statistical";
@import "element-doctor-slider";
@import "element-heading-and-sub";
@import "element-slider-carousel";
@import "element-package-slider";
@import "element-step-list";
@import "element-testimonial-slider";
@import "element-cf7-vertical";
@import "element-post-grid";
@import "element-list-image-content";
@import "element-cf7";
@import "element-gallery-grid-box";
@import "element-slider";

//@import "element-circular-progress";

//@import "element-safety-principles";
//@import "element-list-content-number";
//@import "element-contact-us";
