@import "../variables-site/variables";

@import "element-about-us";
@import "element-group-button-contact";
@import "element-category-list";
@import "element-gallery-grid-box";
@import "element-doctor-slider";
@import "element-image-between-line";
@import "element-safety-principles";
@import "element-hotline";
@import "element-testimonial-slider";
@import "element-cf7";
@import "element-post-grid";
@import "element-image-content-list";
@import "element-heading-between-line";
@import "element-list-content-number";
@import "element-equipment";
@import "element-contact-us";

//@import "element-gallery-grid-content";
//@import "element-image-box-content-list";
//@import "element-commitment";
//@import "element-more-information";
//@import "element-btn-medical-register";
