@import "../variables-site/variables";

@import "element-about-us";
@import "element-group-button-contact";
@import "element-category-list";
@import "element-doctor-slider";
@import "element-gallery-grid-box";
@import "element-slider-carousel";
@import "element-list-title";
@import "element-list-image-content";
@import "element-safety-principles";

//@import "element-package-slider";
//@import "element-advise";
//@import "element-step-image-box";
//@import "element-cf7";
//@import "element-image-box-content-list";
//@import "element-commitment";
//@import "element-testimonial-slider";
//@import "element-post-grid";
//@import "element-quality";

//@import "element-equipment";
//@import "element-contact-us";



