.element-equipment {
  &__warp {
    display: grid;

    @media (min-width: 992px) {
      grid-gap: 2.4rem 3.9rem;
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 992px) {
      grid-gap: 1.2rem;
    }

    @media (min-width: 576px) and (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr);
    }

    .item {
      border-radius: .5rem;
      overflow: hidden;
      background-color: var(--color-white);
      display: flex;
      flex-direction: column;

      &__thumbnail {
        overflow: hidden;
        border-radius: .5rem;

        @media (min-width: 576px) {
          height: 25rem;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &__content {
        padding: 1.2rem;
        display: flex;
        flex-direction: column;
        flex: 1;

        .title {
          position: relative;
          margin: -36px 0 0;
          padding: 1.4rem 2rem 1.6rem;
          color: var(--color-white);
          font-size: 1.6rem;
          font-family: var(--body-font-family);
          text-transform: uppercase;
          text-align: center;
          border-radius: 5rem;
          background-color: var(--color-salem);

          @media (max-width: 991px) {
            font-size: 1.4rem;
          }
        }

        .desc {
          margin-top: -1.6rem;
          padding: 2.9rem 1.4rem 2.5rem;
          border: 1px solid var(--color-salem);
          border-radius: .5rem;
          flex: 1;
        }
      }
    }
  }
}