@import "../variables-site/variables";

@import "element-about-us";
@import "element-heading-and-content";
@import "element-doctor-slider";
@import "element-safety-principles";
@import "element-procedure";
@import "element-gallery-grid-box";
@import "element-step-list";
@import "element-cf7";

//@import "element-circular-progress";

//@import "element-category-list-slider";


//@import "element-heading-between-line";
//@import "element-testimonial-slider";

//@import "element-post-grid";
//@import "element-image-content-list";
//@import "element-list-content-number";
//@import "element-list-image-content";
//@import "element-title-number-list";
//@import "element-contact-us";