.element-equipment {
  &__warp {
    display: grid;

    @media (min-width: 992px) {
      grid-gap: 2.4rem 3.9rem;
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 992px) {
      grid-gap: 1.2rem;
    }

    @media (min-width: 576px) and (max-width: 991px) {
      grid-template-columns: repeat(2, 1fr);
    }

    .item {
      padding: 1.5rem 2rem;
      background-color: #00A651;

      &__thumbnail {
        margin-bottom: 1.2rem;

        img {
          width: 100%;
        }
      }

      &__content {
        .title {
          margin-bottom: .9rem;
          text-align: center;
          font-size: 1.6rem;
          color: #FFF400;
          font-family: var(--body-font-family);
          line-height: 1.2;
          text-transform: uppercase;
        }

        .desc {
          color: #fff;
        }
      }
    }
  }
}