@import "../variables-site/variables";

@import "element-cf7";
@import "element-contact-us";
@import "element-image-box-grid";
@import "element-specialist";
@import "element-image-grid-gallery";
@import "element-gallery-grid-box";
@import "element-heading-under-background";
@import "element-image-box-list";
@import "element_image-box-content-list";
@import "element-schedule-consultation";
@import "element-step-image-box";
@import "element-image-content-list";
@import "testimonial-slider";
@import "post-grid";
@import "element-number-list-content";
@import "element-heading-between-line";
@import "element-circle-box-image";
@import "element-image-content-grid";
@import "element-carousel-multiple-rows";
@import "element-box-content-line";
@import "element-doctor-slider";