@import "../variables-site/variables";

@import "element-about-us";
@import "element-category-list";
@import "element-gallery-grid-box";
@import "element-doctor-slider";
@import "element-space-slider";
@import "element-work-time";
@import "element-step-image-box";
@import "element-testimonial-slider";
@import "element-cf7";
@import "element-post-grid";
@import "element-chat-with-us";

//@import "element-company-info";
//@import "element-image-box-content-list";

//@import "element-instruct";


//@import "element-grid-text-editor";
//@import "element-principles";

//@import "element-compare-appointments";
//@import "element-contact-us";




