@import "../variables-site/variables";

@import "element-custom";
@import "element-about-us";
@import "element-banner";
@import "element-slider";
@import "element-category-list";
@import "element-company-info";
@import "element-doctor-slider";
@import "element-gallery-grid-box";
@import "element-testimonial-slider";
@import "element-cf7";
@import "element-list-image-content";
@import "element-slider-carousel";
@import "element-cf7-vertical";
@import "element-contact-us";