@import "../variables-site/variables";

@import "element-slider";
@import "element-about-us";
@import "element-doctor-slider";

//@import "element-category-list";
//@import "element-gallery-grid-content";
//@import "element-group-button-contact";

//@import "element-gallery-grid-box";
//@import "element-image-box-content-list";
//@import "element-cf7";
//@import "element-commitment";
//@import "element-testimonial-slider";
//@import "element-post-grid";
//@import "element-safety-principles";
//@import "element-about";
//@import "element-more-information";
//@import "element-heading-between-line";
//@import "element-equipment";
//@import "element-btn-medical-register";
//@import "element-contact-us";