@import "../variables-site/variables";

@import "element-category-list";
@import "element-about";
@import "element-doctor-slider";
@import "element-gallery-grid-box";
@import "element-package-slider";
@import "element-advise";
@import "element-step-image-box";
@import "element-cf7";
@import "element-image-box-content-list";
@import "element-commitment";
@import "element-testimonial-slider";
@import "element-post-grid";
@import "element-quality";
@import "element-about-us";
@import "element-equipment";
@import "element-contact-us";



