$path-image: '../images';

.global-footer {
  section {
    &.widget {
      margin-bottom: 0;

      + .widget {
        margin-top: 2rem;
      }

      .textwidget {
        iframe {
          min-height: 38rem;
        }
      }

      .info-company-widget {
        color: var(--color-white);
      }

      .open-hours-widget {
        &__warp {
          border-color: var(--color-white);
        }

        .item {
          &__note {
            color: var(--color-white);
          }
        }
      }
    }
  }

  &__column {
    padding: 4rem 0 2rem;
    background-image: url('#{$path-image}/nen-chan-trang.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .row {
      grid-row-gap: 2rem;
    }
  }
}

.contact-us-group {
  padding: .6rem 0;
  text-align: start;
  background-color: #137597;

  @media (max-width: 992px) {
    display: none;
  }

  .grid-layout {
    min-height: 6rem;
    display: flex;

    .item {
      position: relative;
      padding: 0 .5rem;
      color: var(--color-white);
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      @include transition();

      &:hover {
        color: var(--clinic-theme-fifth-color);
      }

      &:not(:last-child) {
        border-right: .2rem solid var(--color-white);
      }

      .link {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      &.phone {
        @media (max-width: 992px) {
          display: none;
        }
      }

      &__icon {
        font-size: 3rem;
        display: flex;
        flex: 0 0 auto;

        @media (min-width: 376px) {
          margin-right: 1.2rem;
        }

        @media (max-width: 375px) {
          margin-right: 1rem;
        }
      }

      &__content {
        font-weight: 700;

        @media (min-width: 1200px) {
          font-size: 2rem;
        }

        @media (max-width: 1199px) {
          font-size: 1.5rem;
        }
      }
    }
  }
}