.active-sticky-nav {
  position: sticky;
  top: 0;
  z-index: 10;
}

.admin-bar {
  .active-sticky-nav {
    @media (min-width: 992px) {
      top: 3.2rem;
    }
  }
}

.header-warp {
  padding: 1.2rem 0;

  .grid {
    display: grid;
    align-items: center;

    @media (min-width: 1200px) {
      grid-column-gap: 3rem;
      grid-template-columns: 25.2rem 1fr;
    }

    @media (min-width: 992px) and (max-width: 1199px) {
      grid-column-gap: 2rem;
      grid-template-columns: 20rem 1fr;
    }
  }

  .info {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    text-align: start;

    @media (min-width: 1200px) {
      grid-gap: 2rem;
    }

    @media (min-width: 992px) and (max-width: 1199px) {
      grid-gap: 1.6rem;
    }

    .item {
      display: grid;
      grid-gap: 1.2rem;
      align-items: center;
      grid-template-columns: max-content 1fr;

      &__icon {
        font-size: 4rem;
        color: var(--clinic-theme-primary-color);
      }

      &__content {
        display: grid;
        font-family: var(--heading-font-family);

        .desc {
          margin-bottom: 0;
          font-size: 1.4rem;
        }

        .txt {
          color: var(--clinic-theme-eighth-color);
          font-weight: 700;

          @media (min-width: 1200px) {
            font-size: 1.8rem;
          }

          @media (max-width: 1199px) {
            font-size: 1.5rem;
          }
        }

        .value {
          color: #787878;
          font-size: 1.5rem;
          font-weight: 700;
        }

        a {
          &:hover {
            color: var(--clinic-theme-primary-color);
          }
        }
      }
    }
  }
}

.header-menu {
  min-height: 6.8rem;
  background-color: var(--clinic-theme-secondary-color);

  > div {
    min-height: inherit;
  }

  .grid {
    display: grid;
    min-height: inherit;

    @media (min-width: 1200px) {
      grid-gap: 2.4rem;
      grid-template-columns: 1fr 36.9rem;
    }

    @media (max-width: 1199px) {
      grid-gap: 2.4rem;
      grid-template-columns: 1fr 30rem;
    }
  }

  .search-box {
    .search-form {
      position: relative;
      width: 100%;
      height: 4.2rem;
      display: flex;

      .search-field {
        padding: 0 5rem 0 2.5rem;
        width: 100%;
        height: 100%;
        flex: 1;
        font-size: 1.8rem;
        font-family: var(--heading-font-family);
        color: #9E9E9E;
        border: 0;
        border-radius: 5rem;
        background-color: var(--color-white);
      }

      .search-submit {
        padding: 0;
        position: absolute;
        top: 0;
        right: 1.8rem;
        bottom: 0;
        width: 2rem;
        color: #4C505B;
        font-size: 2rem;
        border-radius: 0;
        background: transparent;
      }
    }
  }
}

.navbar-main {
  position: relative;
  min-height: inherit;

  > div {
    min-height: inherit;
  }

  .primary-menu {
    position: relative;
    min-height: inherit;

    > ul {
      min-height: inherit;

      > li {
        min-height: inherit;
        display: inline-flex;
        align-items: center;

        ~ li {
          @media (min-width: 1400px) {
            margin-left: 6rem;
          }

          @media (min-width: 1200px) and (max-width: 1399px) {
            margin-left: 2.4rem;
          }

          @media (max-width: 1199px) {
            margin-left: 2rem;
          }
        }

        > a {
          font-size: 1.4rem;
          color: var(--color-white);
          font-weight: 700;
          text-transform: uppercase;
          background-image: linear-gradient(0deg, currentColor, currentColor);
          background-repeat: no-repeat;
          background-size: 0 .1rem;
          background-position: 50% 100%;
        }

        &:hover {
          > a {
            background-size: 50% .1rem;
          }
        }
      }
    }

    ul {
      padding: 0;
      margin: 0;

      li {
        position: relative;

        &.icon {
          color: var(--color-white);

          &:before {
            font-size: 2.4rem;
          }

          a {
            margin-left: .5rem;
          }
        }

        a {
          text-shadow: none;
          display: block;
          font-family: var(--heading-font-family);

          @media (max-width: 1199px) {
            padding: 0 .6rem;
          }

          &:hover {
            background-color: transparent;
          }
        }

        .sub-menu {
          display: block !important;
          min-width: 22rem;
          background-color: #ffffff;
          position: absolute;
          top: 120%;
          left: 0;
          z-index: -1;
          visibility: hidden;
          opacity: 0;
          box-shadow: 0 .6rem 1.2rem rgba(0, 0, 0, 0.175);
          @include transition();

          li {
            padding: 6px 8px;
            display: flex;
            @include transition();

            a {
              white-space: nowrap;
              flex: 1;
            }

            .sub-menu {
              left: 90%;
              top: 0;
            }

            &:hover {
              background-color: var(--clinic-theme-secondary-color);

              a {
                color: var(--color-white);
              }

              > .sub-menu {
                left: 100%;
              }

              > .sub-menu-toggle {
                i {
                  transform: rotate(-90deg);
                }
              }
            }
          }
        }

        .sub-menu-toggle {
          margin-left: .6rem;
          @include flex-center();

          i {
            @include transition();
          }
        }

        &.current-menu-item,
        &.current-menu-parent {
          > a {
            color: var(--clinic-theme-fifth-color);
            background-size: 50% .1rem;
          }
        }

        &.home-icon {
          a {
            @include flex-center();

            &:before {
              content: "\e906";
              float: left;
              font-family: $font-icon;
              font-size: 2rem;
              margin-right: .5rem;
            }
          }
        }

        &:hover {
          > .sub-menu {
            top: 100%;
            z-index: 999;
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }

    .sub-menu-toggle {
      font-size: 14px;
      cursor: pointer;
      color: var(--color-white);
    }
  }
}

.header-mobile {
  .top-mobile {
    background-color: var(--clinic-theme-primary-color);

    .container {
      padding-left: 0;
      padding-right: 0;
    }

    .grid-warp {
      padding-right: 2rem;
      display: grid;
      grid-gap: 1.2rem;
      grid-template-columns: 5rem 1fr 4.2rem;
      align-items: center;
      min-height: 4.4rem;

      .hamburger {
        height: inherit;

        .btn {
          border: none;
          height: 100%;
          width: 100%;
          font-size: 2rem;
          background-color: var(--color-cadmium-yellow);
        }
      }

      .contact {
        a {
          @include square(3.5rem, 50%);
          @include flex-center();
          color: var(--clinic-theme-eighth-color);
          border: .3rem solid #5AE0DA ;
          background-color: var(--color-white);
        }
      }
    }
  }

  .contact-mobile {
    padding: .8rem 1.2rem;
    box-shadow: 0 .4rem .4rem 0 rgba(0, 0, 0, 0.25);
    background-color: var(--color-white);

    .wpcf7-form {
      display: grid;
      grid-template-columns: 1fr auto;

      p {
        margin: 0;
      }

      .wpcf7-form-control-wrap {
        height: 100%;

        .wpcf7-not-valid-tip {
          font-size: 1.5rem;
        }
      }

      .wpcf7-form-control {
        padding: 0 1.2rem;
        height: 3.7rem;
        font-size: 1.5rem;
        font-family: var(--heading-font-family);
        color: #464646;
        border-radius: 0;
        background-color: #E6E6E6;

        &.wpcf7-submit {
          height: 3.7rem;
          font-size: 1.5rem;
          font-weight: 700;
          color: var(--color-white);
          font-family: var(--heading-font-family);
          border-radius: 0;
          background-color: var(--clinic-theme-eighth-color);
        }
      }

      .wpcf7-response-output {
        margin: .6rem 0 0 0;
        grid-column: 1 / -1;
      }
    }
  }
}

.offcanvas-menu-mobile {
  background-color: #000000;
  z-index: 9999999999;

  .offcanvas-header {
    margin-bottom: 1.5rem;
    border-bottom: .1rem solid var(--color-white);

    .btn-close {
      color: #fff;
      opacity: 1;
    }
  }

  .offcanvas-title, a {
    color: var(--color-white);
  }

  .btn-close-canvas {
    border: none;
    background-color: transparent;

    i {
      color: var(--color-white);
    }
  }

  .offcanvas-body {
    padding-left: 0;
    padding-right: 0;

    ul {
      li {
        position: relative;
        color: var(--color-white);

        &.icon {
          &:before {
            display: none;
          }
        }

        a {
          display: inline-block;
          font-size: 1.5rem;
          text-transform: uppercase;
          font-family: var(--body-font-family);
        }

        .sub-menu-toggle {
          position: absolute;
          z-index: 2;
          @include square(2.4rem);
          @include flex-center();

          i {
            font-size: 1.4rem;
            color: var(--color-white);
            @include transition();
          }

          &.active {
            i {
              transform: rotate(180deg);
            }
          }
        }

        ul {
          margin-top: .6rem;
          display: none;

          li {
            ~ li {
              margin-top: .8rem;
            }

            .sub-menu-toggle {
              top: 0;
              right: 0;
            }
          }
        }
      }
    }

    > ul {
      > li {
        padding-left: 1.2rem;
        padding-right: 1.2rem;

        ~ li {
          margin-top: 1rem;
          padding-top: 1rem;
          border-top: .1rem solid #333333;
        }

        > .sub-menu-toggle {
          top: 1rem;
          right: 1.2rem;
        }
      }
    }
  }
}