.active-sticky-nav {
  position: sticky;
  top: 0;
  z-index: 10;
}

.admin-bar {
  .active-sticky-nav {
    @media (min-width: 992px) {
      top: 3.2rem;
    }
  }
}

.header-warp {
  background-color: #1d1c1d;

  .grid {
    padding: 1.6rem 0;
    display: grid;
    align-items: center;

    @media (min-width: 1200px) {
      grid-column-gap: 3rem;
      grid-template-columns: 1fr 24.6rem;
    }

    @media (min-width: 992px) and (max-width: 1199px) {
      grid-column-gap: 2rem;
      grid-template-columns: 1fr 20rem;
    }
  }

  .info {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    text-align: start;

    @media (min-width: 1200px) {
      grid-gap: 2rem;
    }

    @media (min-width: 992px) and (max-width: 1199px) {
      grid-gap: 1.6rem;
    }

    .item {
      display: grid;
      grid-gap: 1.2rem;
      align-items: center;
      grid-template-columns: max-content 1fr;

      &__icon {
        color: #ffffff;
        font-size: 2.8rem;
      }

      &__content {
        display: grid;

        .txt {
          font-size: 1.5rem;
          color: var(--clinic-theme-primary-color);
        }

        .value {
          color: #787878;
          font-size: 1.5rem;
          font-weight: 700;
        }

        a {
          &:hover {
            color: var(--clinic-theme-primary-color);
          }
        }
      }
    }
  }

  .search-box {
    .search-form {
      position: relative;
      width: 100%;
      height: 4.2rem;
      display: flex;

      .search-field {
        padding: 0 5rem 0 1.2rem;
        width: 100%;
        height: 100%;
        flex: 1;
        font-size: 1.5rem;
        color: #ffffff;
        border: .1rem solid #ccc;
        border-radius: .5rem;
        background-color: transparent;
      }

      .search-submit {
        padding: 0;
        position: absolute;
        top: 0;
        right: 1.8rem;
        bottom: 0;
        width: 2rem;
        color: #ffffff;
        font-size: 2rem;
        border-radius: 0;
        background: transparent;
      }
    }
  }
}

.header-menu {
  min-height: 8.8rem;
  box-shadow: 0 .4rem .4rem 0 rgba(0, 0, 0, .25);
  background-color: var(--color-white);

  > div {
    min-height: inherit;
  }

  .grid {
    display: grid;
    min-height: inherit;

    @media (min-width: 1200px) {
      grid-gap: 2.4rem;
      grid-template-columns: 34rem 1fr max-content;
    }

    @media (max-width: 1199px) {
      grid-gap: 2.4rem;
      grid-template-columns: 30rem 1fr max-content;
    }
  }

  .book {
    .link {
      padding: 1rem 2rem;
      display: inline-block;
      color: #ffffff;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 1.4rem;
      border-radius: 3rem;
      background-color: var(--clinic-theme-primary-color);

      i {
        display: inline-block;
        margin-left: .5rem;
        font-size: 1.6rem;
        transform: translateY(-0.1rem);
      }

      &:hover {
        background-color: #000000;
      }
    }
  }
}

.navbar-main {
  position: relative;
  min-height: inherit;
  background-color: #ffffff;

  > div {
    min-height: inherit;
  }

  .primary-menu {
    position: relative;
    min-height: inherit;

    > ul {
      min-height: inherit;

      > li {
        min-height: inherit;
        display: inline-flex;
        align-items: center;

        ~ li {
          @media (min-width: 1400px) {
            margin-left: 2.4rem;
          }

          @media (min-width: 1200px) and (max-width: 1399px) {
            margin-left: 6rem;
          }

          @media (max-width: 1199px) {
            margin-left: 2rem;
          }
        }

        > a {
          font-size: 1.5rem;
          color: #000000;
          text-transform: uppercase;
          background-image: linear-gradient(0deg, currentColor, currentColor);
          background-repeat: no-repeat;
          background-size: 0 .1rem;
          background-position: 50% 100%;

          &:hover {
            background-size: 50% .1rem;
          }
        }
      }
    }

    ul {
      padding: 0;
      margin: 0;

      li {
        position: relative;

        &.icon {
          color: var(--color-white);

          &:before {
            font-size: 2.4rem;
          }

          a {
            margin-left: .5rem;
            font-family: $heading-font-family;
          }
        }

        a {
          text-shadow: none;
          display: block;
          font-weight: 700;

          @media (max-width: 1199px) {
            padding: 0 7px;
          }

          &:hover {
            background-color: transparent;
            color: var(--clinic-theme-primary-color);
          }
        }

        .sub-menu {
          display: block !important;
          min-width: 160px;
          background-color: #ffffff;
          position: absolute;
          top: 120%;
          left: 0;
          z-index: -1;
          visibility: hidden;
          opacity: 0;
          box-shadow: 0 .6rem 1.2rem rgba(0, 0, 0, 0.175);
          @include transition();

          li {
            padding: 6px 8px;
            display: flex;
            @include transition();

            a {
              white-space: nowrap;
              flex: 1;
            }

            .sub-menu {
              left: 90%;
              top: 0;
            }

            &:hover {
              background-color: var(--clinic-theme-tertiary-color);

              a {
                color: #000000;
              }

              > .sub-menu {
                left: 100%;
              }

              > .sub-menu-toggle {
                i {
                  transform: rotate(-90deg);
                }
              }
            }
          }
        }

        .sub-menu-toggle {
          margin-left: .6rem;
          @include flex-center();

          i {
            @include transition();
          }
        }

        &.current-menu-item,
        &.current-menu-parent {
          > a {
            color: var(--clinic-theme-primary-color);
            background-size: 50% .1rem;
          }
        }

        &.home-icon {
          a {
            @include flex-center();

            &:before {
              content: "\e906";
              float: left;
              font-family: $font-icon;
              font-size: 2rem;
              margin-right: .5rem;
            }
          }
        }

        &:hover {
          > .sub-menu {
            top: 100%;
            z-index: 999;
            opacity: 1;
            visibility: visible;
          }
        }

        &:nth-last-child(1),
        &:nth-last-child(2) {
          .sub-menu {
            left: auto;
            right: 0;

            li {
              .sub-menu {
                left: auto;
                right: 90%;
              }

              &:hover {
                > .sub-menu {
                  left: auto;
                  right: 100%;
                }
              }
            }
          }
        }
      }
    }

    .sub-menu-toggle {
      font-size: 14px;
      cursor: pointer;
    }
  }
}

.header-mobile {
  .top-mobile {
    background-color: var(--clinic-theme-primary-color);

    .container {
      padding-left: 0;
      padding-right: 0;
    }

    .grid-warp {
      padding-right: 2rem;
      display: grid;
      grid-gap: 1.2rem;
      grid-template-columns: 5rem 1fr 4.2rem;
      align-items: center;
      min-height: 7.2rem;

      .hamburger {
        height: inherit;

        .btn {
          border: none;
          height: 100%;
          width: 100%;
          font-size: 2rem;
          background-color: var(--color-cadmium-yellow);
        }
      }

      .contact {
        a {
          @include square(4.2rem, 50%);
          @include flex-center();
          border: .3rem solid #5AE0DA ;
          background-color: var(--color-white);
        }
      }
    }
  }

  .contact-mobile {
    padding: .8rem 1.2rem;
    background-color: var(--color-white);

    .wpcf7-form {
      display: grid;
      grid-gap: 1.2rem;
      grid-template-columns: 1fr auto;

      p {
        margin: 0;
      }

      .wpcf7-form-control-wrap {
        height: 100%;

        .wpcf7-not-valid-tip {
          font-size: 1.5rem;
        }
      }

      .wpcf7-form-control {
        padding: .8rem 1.2rem;
        font-size: 1.2rem;
        color: rgba(0, 0, 0, 0.30);
        background-color: #E6E6E6;

        &.wpcf7-submit {
          min-width: 8rem;
          font-size: 1.2rem;
          font-weight: 500;
          color: var(--color-white);
          border-radius: .5rem;
          background-color: var(--clinic-theme-primary-color);
        }
      }

      .wpcf7-response-output {
        margin: 0;
      }
    }
  }
}

.offcanvas-menu-mobile {
  background-color: #000000;
  z-index: 9999999999;

  .offcanvas-header {
    margin-bottom: 1.5rem;
    border-bottom: .1rem solid var(--color-white);

    .btn-close {
      color: #fff;
      opacity: 1;
    }
  }

  .offcanvas-title, a {
    color: var(--color-white);
  }

  .btn-close-canvas {
    border: none;
    background-color: transparent;

    i {
      color: var(--color-white);
    }
  }

  .offcanvas-body {
    padding-left: 0;
    padding-right: 0;

    ul {
      li {
        position: relative;
        color: var(--color-white);

        &.icon {
          &:before {
            display: none;
          }
        }

        a {
          display: inline-block;
          font-size: 1.5rem;
          text-transform: uppercase;
          font-family: var(--body-font-family);
        }

        .sub-menu-toggle {
          position: absolute;
          z-index: 2;
          @include square(2.4rem);
          @include flex-center();

          i {
            font-size: 1.4rem;
            color: var(--color-white);
            @include transition();
          }

          &.active {
            i {
              transform: rotate(180deg);
            }
          }
        }

        ul {
          margin-top: .6rem;
          display: none;

          li {
            ~ li {
              margin-top: .8rem;
            }

            .sub-menu-toggle {
              top: 0;
              right: 0;
            }
          }
        }
      }
    }

    > ul {
      > li {
        padding-left: 1.2rem;
        padding-right: 1.2rem;

        ~ li {
          margin-top: 1rem;
          padding-top: 1rem;
          border-top: .1rem solid #333333;
        }

        > .sub-menu-toggle {
          top: 1rem;
          right: 1.2rem;
        }
      }
    }
  }
}