@import "variables-site/variables";

/* base
-------------------------------------------------------------- */
@import "base/icon-theme";
@import "base/general";
@import "base/wp-core";

/* header
-------------------------------------------------------------- */
@import "layout/header";

/* components
-------------------------------------------------------------- */
@import "components/breadcrumbs";
@import "components/comment-form";
@import "components/owl-carousel";
@import "components/cf7";
@import "components/shortcode";

/* sidebar
-------------------------------------------------------------- */
@import "layout/sidebar";


/**
# footer
-----------------------------------------------------------------------------*/
@import "layout/footer";