@import "utils/utils";

/* base
-------------------------------------------------------------- */
@import "base/icon-theme";
@import "base/general";
@import "base/wp-core";

/* header
-------------------------------------------------------------- */
@import "layout/header";

/* components
-------------------------------------------------------------- */
@import "components/breadcrumbs";
@import "components/cf7";
@import "components/chat-with-us";
@import "components/comment-form";
@import "components/contact-us-mobile";
@import "components/owl-carousel";
@import "components/pagination";
@import "components/shortcode";

/* sidebar
-------------------------------------------------------------- */
@import "layout/sidebar";

/**
# footer
-----------------------------------------------------------------------------*/
@import "layout/footer";