@import "../../variables-site/variables";

.archive-post-warp {
  .cate-box {
    margin-bottom: 3.5rem;

    &__top {
      position: relative;

      .name {
        padding: 1rem 5rem;
        font-weight: 500;
        color: var(--color-white);
        border-top-right-radius: 5rem;
        background: linear-gradient(180deg,#01BB82 0,#0D8566 100%);

        @media (min-width: 992px) {
          font-size: 3.5rem;
        }

        @media (max-width: 991px) {
          font-size: 2.4rem;
        }
      }
    }

    &__under {
      margin-top: -0.6rem;

      @media (min-width: 576px) {
        padding-left: 6.3rem;
      }

      @media (max-width: 575px) {
        padding-left: 3.2rem;
      }

      .desc {
        padding: 1.8rem 3rem 1.7rem;
        font-weight: 500;
        color: var(--color-white);
        border-top-right-radius: 5rem;
        border-bottom-left-radius: 5rem;
        box-shadow: 0 .4rem .4rem 0 rgba(0, 0, 0, 0.25);
        background: linear-gradient(180deg,#CF202C 0, #A31F28 100%);

        @media (min-width: 992px) {
          font-size: 2.5rem;
        }

        @media (max-width: 991px) {
          font-size: 2rem;
        }
      }
    }
  }
}

.content-archive-post {
  .row {
    row-gap: 2.4rem;
  }

  .item {
    min-height: 100%;
    overflow: hidden;
    border: .1rem solid #CEC6C6;
    border-radius: 1rem;
    box-shadow: 0 .1rem .1rem rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;

    .post-thumbnail {
      img {
        width: 100%;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      flex: 1;

      @media (min-width: 992px) {
        padding: 3.2rem;
      }

      @media (max-width: 991px) {
        padding: 2rem;
      }

      .meta {
        margin-bottom: 2rem;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1.5rem 1fr;

        svg {
          transform: translateY(.6rem);
        }

        &__cate {
          a {
            color: #A79E7C;
            font-size: 1.5rem;
            font-weight: 500;

            &:hover {
              color: #F30000;
            }
          }
        }
      }

      .post-title {
        margin-bottom: 1.2rem;
        line-height: 1.2;
        text-align: left;

        @media (min-width: 992px) {
          font-size: 2rem;
        }

        @media (max-width: 991px) {
          font-size: 1.8rem;
        }

        a {
          color: #F30000;

          &:hover {
            color: var(--clinic-theme-primary-color);
          }
        }
      }

      .post-desc {
        color: #949494;
        flex: 1;
      }

      .action-box {
        margin-top: 2rem;
      }

      .text-read-more {
        display: inline-block;
        font-weight: 500;
        color: #208B45;
        text-decoration: underline;

        &:hover {
          color: var(--body-color);
          background-color: var(--color-cadmium-yellow);
        }
      }
    }
  }

  .page-links {
    font-weight: 700;

    a {
      display: inline-block;

      span {
        display: inline-block;
        padding: 0 5px;
      }
    }
  }
}